[2014-12-04 00:02] allisonmuise opened #2 "Sign in/out arrow is too large"
The downward-pointing arrow beside the username is too large, given that it is merely an indicator that clicking the username will show a menu. Please make this arrow smaller than the username font - approximately the height of short lowercase letter.

[2014-12-04 00:05] allisonmuise opened #3 "Add 'Help'"
Add an entry for 'Help' to the username menu. Clicking this should open a window inside the app that displays configurable text content.

The purpose of this will be to give our users who configure this application a place inside the app to provide contact information, nav help, etc for their users.

[2014-12-04 00:16] allisonmuise opened #4 "Display user's name rather than username"
The app currently displays my username (eg amuise_lg) in the top right corner. Please display the actual name (Allison Muise) associated with that account, instead.

[2015-01-20 18:06] #4 closed, assigned to nobody

[2015-01-20 18:07] #2 closed, assigned to nobody

[2015-01-21 04:51] allisonmuise opened #6 "Cannot configure app colour theme"
The configuration panel provides an option for changing the colour of the app, but modifying this parameter only changes the background colour of the icons used in the application. This should control the overall app colour.
![1-20-2015 8-50-26 pm](https://cloud.githubusercontent.com/assets/2752195/5831351/0dc8a936-a0e6-11e4-9dce-cb4e431144de.png)

[2015-01-21 04:52] allisonmuise opened #7 "Default map thumbnail"
default map thumbnail, used for maps that do not have a thumbnail defined, should match the default map thumbnail used by ArcGIS Online

[2015-01-21 04:55] allisonmuise opened #8 "Only public content displayed in app"
Only maps that are shared publicly are displayed in the application, even if the authenticated user has access to the content. This should not be a restriction to viewing the content. If I am an authenticated user, and the map meets the other requirements (share with configured group, etc) the map should appear in the application, even if the map is not shared with anyone else.

[2015-01-21 04:58] allisonmuise opened #9 "Cannot update attributes"
Attributes that are configured to be editable in the map popup should be editable through the application. Editing attribute values created empty browser prompts, and no edits are saved. If the field uses a domain, the browser throws the following error, then spins indefinitely: 'Cannot read property 'split' of undefined'

[2015-01-21 04:59] allisonmuise opened #10 "Disable report button when reports not available"
Reports are not available when no features are selected and when multiple features are selected. Disable the Report button in these circumstances.

[2015-01-21 05:20] allisonmuise opened #11 "Default app name"
The default name of the application, as displayed in the AGOL configuration experience, doesn't match the name of the group, the default name in the configuration, or the name that is displayed outside the configuration experience.

The app name displayed in the configuration experience should match the app name displayed in the application. In both cases the group name should be used by default,

[2015-01-22 05:34] #9 closed, assigned to nobody

[2015-01-22 05:37] allisonmuise opened #12 "Thumbnails not displaying"
Web map thumbnails - default or configured - are not displaying. I'm not sure if this is the cause of the formatting issues I'm seeing. If not, please let me know and I'll create a seperate issue for the list appearing like this:
![1-21-2015 9-36-37 pm](https://cloud.githubusercontent.com/assets/2752195/5851066/a53e4152-a1b5-11e4-88c7-e0d65918943b.png)

[2015-01-22 05:39] allisonmuise opened #13 "Cannot click links in map descriptions"
This is the same issue that exists on the user interface.
Map descriptions may contain links. In AGOL, left-clicking those links opens them in a new tab. In this app, left-clicking does nothing, one must right-click and choose 'open in new tab' to access the link content.

[2015-01-22 05:41] allisonmuise opened #14 "Not using existing tokens"
When I'm accessing this app from inside my AGOL org, I don't expect to be prompted to sign in again. The app should use the existing token and not prompt for credentials unnecessarily.

[2015-01-30 17:20] #6 closed, assigned to nobody

[2015-01-30 18:39] #14 closed, assigned to nobody

[2015-01-30 18:39] #12 closed, assigned to nobody

[2015-01-30 18:41] #8 closed, assigned to nobody

[2015-01-30 22:02] allisonmuise opened #17 "Clicking rapidly between layers causes browser errors"
Tested on multiple maps. Doesn't appear to be map, layer, or data specific.

Changing the display layers rapidly causes the browser to throw a series of errors such as:
![browsererror](https://cloud.githubusercontent.com/assets/2752195/5984188/96244598-a888-11e4-9a27-b0e78ce3ec12.png)

[2015-01-30 22:19] allisonmuise opened #18 "If no application title configured, app title displays 'Please Sign in'"
If no app title is configured, no app title should display.
This message doesn't make any sense because I am signed in.
Messages should not be displayed as part of the app UI like this.

[2015-01-30 22:26] allisonmuise opened #19 "Sign out doesn't work"
after clicking 'sign out' the app should return the user to the sign in screen.
Currently, the app just reloads, and I'm still signed in.

[2015-01-30 22:52] allisonmuise opened #20 "tool tips?"
tool tips seem to be missing from the UI. Please include tootips for all buttons and wherever else they may be needed for screenreaders

[2015-01-30 23:29] allisonmuise opened #21 "Can't open details of features with editing templates"
Repro steps:

Set up web map with a layer that uses AGOL editing templates.
1) Add an AGOL-hosted feature layer to a web map (don't use an existing map, or a layer that is used in other web maps as the changes in the following steps will affect ALL maps in which the layer appears)

2) Modify the layer symbology to use Unique Values and save the symbology

3) In the AGOL map viewer, click Edit.

4)

[2015-01-30 23:29] allisonmuise opened #22 "layers turned off in map are showing in the app"
Layers that are turned off in the map should not display in the application.

[2015-01-30 23:44] allisonmuise opened #23 "table header out of alignment with columns"
I am seeing this in all browsers, although it is not consistent behavior.

If this is being caused by the vertical lines between the headers, let's remove them. If they are not the source, please fix without removing the lines.

[2015-01-30 23:48] allisonmuise opened #24 "long map names are cut off"
If a map name is too long to fit in the display, display an ellipses at the end and display the full name as a tooltip

[2015-01-30 23:52] allisonmuise opened #25 "Selection options should reflect current state of app"
the following options are available even when no features are selected:
Show Selected
Clear Selection:
Zoom To Selected

Please grey these out and disable them when no features are selected.

[2015-01-30 23:55] allisonmuise opened #26 "Update message when report cannot be displayed"
When the report button (above the zoom controls on the map) is clicked, but no feature is selected, change the error message to:

"Please select a single feature to view the item details"

[2015-01-31 00:02] allisonmuise opened #27 "Map doesn't resize when browser is resized"
When resizing browser from small to full screen, the map area doesn't resize to fill the new space.

[2015-01-31 00:25] allisonmuise opened #28 "use map search hint"
When configuring search in the web map, there is the option to specify a search hint. This search hint should be displayed in the search text box

[2015-01-31 00:44] allisonmuise opened #29 "Display all 'display' and 'edit' enabled fields"
( @CTLocalGovTeam  I know we've discussed this one in meetings. Writing it down so it's documented)

All fields that have either/bot editing/display enabled should display in the app. Only editable fields should be editable.

This is different than the Reporter app.

[2015-01-31 00:51] allisonmuise opened #30 "Time selection works one click at a time"
Choosing a time involve opening the widget, clicking an arrow to increment either the hour or minute one number (then the widget closes), reopening the widget and repeating the process until you get to the correct time.

Please use the same experience as the AGOL map viewer.

[2015-01-31 00:53] allisonmuise opened #31 "Summary shows up by default, even when configured off"
When the map summary is turned off by default in the configuration panel, Summary is still displayed in the map details.

Once summary has been enabled and disabled in the configuration panel once, it behaves as expected.

Default configuration parameterse should be honored.

[2015-01-31 00:55] #24 closed, assigned to nobody

[2015-02-02 17:14] allisonmuise opened #32 "Cannot edit values on Android tablets"
This was initially reported by CyberTech on a Tab 4 (Android 4.4.2).

I can repro on our Tab S (4.4.2) and Tab 2 (4.1.2).

Any text editing operation that causes the keyboard to open causes a refresh.

[2015-02-02 17:22] #31 closed, assigned to nobody

[2015-02-02 17:39] #27 closed, assigned to nobody

[2015-02-02 18:06] #13 closed, assigned to nobody

[2015-02-02 20:10] allisonmuise opened #33 "Date formating"
Date in long format are missing a space:
![2-2-2015 12-07-32 pm](https://cloud.githubusercontent.com/assets/2752195/6008152/397c4d4c-aad4-11e4-9115-e421ce9a8b18.png)

Before beginning work on this please let me know the level of effort required to include this fix in the next deliverable. As discussed this morning - this is not a showstopper and should not be fixed if it jeopardizes other dev work

[2015-02-02 22:24] allisonmuise opened #34 "Cannot change group using config panel"
1) Share a group using the app
2) In the config panel choose another group
3) Click Save and Done
4) Open the application. The content displayed is from the initial group used, not the group that was selected in the config panel.

[2015-02-05 23:24] #7 closed, assigned to allisonmuise

[2015-02-13 19:14] allisonmuise opened #36 "Table isn't honoring filters defined on map layers"
Only Parking Sign Violations should be shown in the table when I'm looking at the parking sign violation layer because this web map layer has a filter restricting features to only features with this VIOLATION type.

The map is correctly displaying the 5 parking violation features.

![2-13-2015 11-10-50 am](https://cloud.githubusercontent.com/assets/2752195/6193540/25031224-b371-11e4-8a5c-2833c2ed0

[2015-02-13 22:27] #34 closed, assigned to CTLocalGovTeam

[2015-02-13 22:43] #32 closed, assigned to CTLocalGovTeam

[2015-02-13 22:46] #33 closed, assigned to CTLocalGovTeam

[2015-02-13 22:51] #30 closed, assigned to CTLocalGovTeam

[2015-02-13 22:54] #29 closed, assigned to CTLocalGovTeam

[2015-02-13 22:55] #26 closed, assigned to CTLocalGovTeam

[2015-02-13 22:55] #23 closed, assigned to CTLocalGovTeam

[2015-02-13 22:58] #22 closed, assigned to CTLocalGovTeam

[2015-02-13 23:00] #17 closed, assigned to CTLocalGovTeam

[2015-02-13 23:24] #11 closed, assigned to CTLocalGovTeam

[2015-02-13 23:25] #18 closed, assigned to CTLocalGovTeam

[2015-02-13 23:26] #19 closed, assigned to CTLocalGovTeam

[2015-02-13 23:28] #20 closed, assigned to CTLocalGovTeam

[2015-02-13 23:49] #28 closed, assigned to CTLocalGovTeam

[2015-02-21 00:50] #36 closed, assigned to CTLocalGovTeam

[2015-03-04 20:59] allisonmuise opened #38 "List layers in TOC order"
Currently layers are listed alphabetically.

[2015-03-18 16:24] allisonmuise opened #39 "Change graphic marking selected feature in map"
Please use a plain cyan square around the selected feature, rather than the current cyan square with crosshairs.

[2015-03-18 18:13] allisonmuise commented on #10
To implement this change, please:

- Grey out and de-activate this button when multiple features or no features are selected
- Change tooltip for this button to say: 'View details for a single selected feature'
- Remove current browser messaging

[2015-03-18 18:14] allisonmuise commented on #21
non-repro

[2015-03-18 18:14] #21 closed

[2015-03-18 18:26] allisonmuise commented on #25
When no feature is selected, please grey out and de-activate all three selection-based options.

[2015-03-21 00:06] allisonmuise commented on #3
we aren't going to add in-app help to this app at this time. Thsi issue ca be re-opened if it is requested, but this app will be targeted at AGOL users, not the public, and Solutions site help is available.

[2015-03-21 00:06] #3 closed

[2015-03-21 00:08] allisonmuise opened #40 "Allow app to be public"
Currently the app prompts for credentials even if it, and the content displayed in it, are public.

Only prompt for credentials if the application or the content in it require credentials in order to display.

[2015-03-21 00:10] allisonmuise opened #41 "Change Selection Options menu graphic"
I will provide a new graphic for this menu

[2015-03-21 00:20] allisonmuise opened #42 "Change View Options menu icon"
I will provide a new graphic for this menu

[2015-03-21 00:27] allisonmuise opened #43 "Change multi-select action"
Instead of adding to the current selection when any area of a record in the table is selected, provide a check box on the left side of each row in the table. Features are selected by clicking the check box, and unselected by clearing the check box (or the 'clear all' menu option)

Clicking a feature in the map should:
- highlight the row in the table
- scroll the table to show the record
- not add

[2015-03-21 00:30] allisonmuise opened #44 "change browser tab text"
While app loads, tab displays 'Constituent Engagement'. Until the app name can be retrieved, don't display anything.

[2015-03-21 00:44] allisonmuise opened #45 "remove geographic filtering"
remove geographic filtering from the table view. All features should be displayed regardless of what is in the current extent.

Update the table and map on a timed interval, or when a map/layer is loaded only.

[2015-03-21 00:46] allisonmuise opened #46 "display comments in details view"
Display comments for a feature (using comment popup formatting) under the thumbnails in the item details view.

[2015-03-21 00:49] allisonmuise opened #47 "accessing details view"
open the details view for the currently highlighted feature. Clicking (not selecting via check box - #43 ) another record in the table should switch the details content to that of the just-clicked record.

[2015-03-21 00:50] allisonmuise opened #48 "use group thumbnail for app icon"
If the group has a thumbnail, this thumbnail should be displayed as the app icon in the top left corner of the app.

If an image is provided during the configuration of the app it should override the group thumbnail.

If the group does not have a thumbnail and no image is provided during configuration, use the current graphic as a fall-back.

[2015-03-30 16:21] allisonmuise commented on #48
remove default paths in configuration file

[2015-03-30 16:26] allisonmuise commented on #47
Clarification:
'View  Details' should be related to the active feature, not the selected feature(s)
Clicking the 'View Details' Button should open the details of the active feature.
Changing the active feature should update the content shown in the Deatils View window.

@CTLocalGovTeam Please confirm that his clarifies this issue.

[2015-03-30 16:28] allisonmuise commented on #43
Single click of feature on map = Active feature
Investigate options for adding to selection from map: CTRL+click or clicking the active feature again? Please recommend an approach.

[2015-03-30 16:28] allisonmuise commented on #46
Format as in Reporter

[2015-03-30 16:32] allisonmuise commented on #45
Table should be sorted by OID - displaying features from most recent to oldest. The current sorting options will not allow users to return to this sort order after sorting by another field.
@CTLocalGovTeam : Please suggest a way to allow users to sort this way.

Auto refresh should be disabled while editing

Selected features should continue to be selected following refresh.

[2015-03-30 16:34] allisonmuise opened #49 "Configurable option for color of active feature"
Add a configuration panel item for choosing the color of the table row and selection graphic for the active feature.

Selected features will always be cyan.

[2015-03-30 16:37] allisonmuise commented on #40
In cases where the app is public but the group and all items are private, display the message 'Please Sign In'.

If there are no items to display once the user is signed in, display the current 'no items' message.

[2015-03-31 10:41] CTLocalGovTeam commented on #40
@allisonmuise There may be a case where app and group are public, but all items are private. In this case, there is no way to find out if group contains any items without signing in. We'l have to display the 'no items' message. Please confirm.

[2015-03-31 15:37] allisonmuise commented on #40
Yes, this is correct

[2015-04-10 07:22] CTLocalGovTeam commented on #49
OK. We will add item in the configuration panel to select color, the selected color will be used to highlight both active row in the table and active feature on the map.
We will implement this in the next release.

[2015-04-10 07:31] CTLocalGovTeam commented on #47
Yes. It clarifies this issue and we will implement it in next release.

[2015-04-10 07:31] CTLocalGovTeam commented on #46
OK.  We will implement this in the next release.

[2015-04-10 07:57] CTLocalGovTeam commented on #44
OK.  We will implement this in the next release.

[2015-04-10 08:06] CTLocalGovTeam commented on #43
@allisonmuise
We will use the following approach:
1. Clicking a feature on map = Active feature
2. Clicking the active feature = Will get added to Selected Items
3. Clicking the Feature which is Active + Selected =   Will deselect and deactivate the feature

Please confirm.

[2015-04-10 08:09] CTLocalGovTeam commented on #39
@allisonmuise

OK.  We will implement this in the next release.

[2015-04-10 08:10] CTLocalGovTeam commented on #38
@allisonmuise
OK.  We will implement this in the next release.

[2015-04-10 08:11] CTLocalGovTeam commented on #25
@allisonmuise

OK.  We will implement this in the next release.

[2015-04-10 08:12] CTLocalGovTeam commented on #10
@allisonmuise
OK.  We will implement this in the next release.

[2015-04-16 16:41] allisonmuise commented on #45
In place of auto refresh, please add a manual refresh button to the UI. Please share a mockup of the proposed location before adding this button to the app.

[2015-04-16 16:44] allisonmuise opened #50 "Update map/layer list UI to match Reporter"
This work has been discussed previously and is included in the current sprint plan. I'm adding it here as well for tracking purposes.

[2015-04-16 16:48] allisonmuise commented on #43
Please proceed with this approach

[2015-04-16 17:02] allisonmuise commented on #40
along with this - please remove the custom preview option that was put in at the end of last release. Once we can make this app public we will be able to provide a full try-it-live/demo experience.

[2015-04-17 10:12] CTLocalGovTeam commented on #45
@allisonmuise
Here is a mockup for the proposed refresh layer button.

![image](https://cloud.githubusercontent.com/assets/2959186/7200198/49aac274-e518-11e4-8d44-da7693f4cca2.png)

[2015-04-17 16:05] allisonmuise commented on #45
Please proceed with this design

[2015-04-21 12:08] CTLocalGovTeam opened #51 "Update preview functionality"
v1 of the app displays a static preview page when
* template is directly accessed without publishing an app from the template
* user chooses preview from "publish, preview, download" options while sharing a group

v2 of the app does not require preview page because the app will now display public content within the group. Sign in is not mandatory to access the app like in v1. Also, if user chooses

[2015-04-21 16:35] allisonmuise commented on #51
My thoughts:

1. Preview from the template's details page (always hosted, always public. This option is only available for Esri Default templates and I will have full control over the content sharing.):
- AGOL, connected Portal - display content from the default configuration.
- Disconnected Portal - display existing HTML page

2. Preview when sharing group (sharing privileges of group and items s

[2015-04-21 16:36] allisonmuise commented on #40
preview options moved to #51

[2015-04-22 08:29] CTLocalGovTeam commented on #41
@ allisonmuise Could you please provide the graphic for this menu?

[2015-04-22 08:29] CTLocalGovTeam commented on #42
@ allisonmuise Could you please provide the graphic for this menu?

[2015-04-22 08:31] CTLocalGovTeam commented on #47
@ allisonmuise We will implement this in sprint 2 till then the existing functionality will be retained as is.

[2015-04-22 08:33] CTLocalGovTeam commented on #48
@ allisonmuise We have removed default path from the config.js. We will include it in sprint 1.

[2015-04-29 12:24] CTLocalGovTeam commented on #51
@allisonmuise,

In case of AGOL, without signing in, users can go to the app's details page and view it and everything works, i.e. the default group is displayed.

Will this release of crowdsourcing apps make it to AGOL or they will be updated in the "Early adopter templates" group? Because users who are signed in to an Org that does not allow members to search outside their Org, will not be able

[2015-04-29 14:34] CTLocalGovTeam commented on #51
@allisonmuise ,

Here are the scenarios we discussed on the call today,

![image](https://cloud.githubusercontent.com/assets/2959186/7393357/dff0a79e-eeaa-11e4-8a77-d6e6ae88f05f.png)

[2015-04-29 16:32] allisonmuise commented on #51
(numbering the use cases above from 1-7)
When app is launched from item details page:
1. ok
2. ok
3. App should be able to reach the content. I created a user account in a trial organization that does not allow non-administrators access to content outside the organization and I can still access the preview experiences for both Basic Viewer (map template) and Public Gallery (group template) even th

[2015-04-29 22:21] allisonmuise commented on #42
Pushing to next release

[2015-04-29 22:22] allisonmuise commented on #41
pushing to next release

[2015-04-29 23:04] allisonmuise commented on #50
Because the list is always visible in this app, can we treat is more similar to how we are the Reporter issues list?
By this I mean:
- When a maps with 1 editable layer is selected: I like the highlight in theme color. Can we also leave the map highlighted in white like it is on hover?
- When a map with multiple editable layers is selected: Outline the map & layers with the theme color (current be

[2015-04-29 23:07] allisonmuise commented on #49
I see this value in the default.js, but it is not in the configuration-panel.js
Please expose this color through the configuration panel in such a way that it will not break previously configured applications.

[2015-04-29 23:08] allisonmuise commented on #48
Thanks! verified.

[2015-04-29 23:08] #48 closed

[2015-04-29 23:08] allisonmuise commented on #45
verified

[2015-04-29 23:08] #45 closed

[2015-04-29 23:09] allisonmuise commented on #39
@ScottOppmann : Are you ok with the plain rectangle?
cc @LindsayThomas

[2015-04-29 23:10] allisonmuise commented on #38
verified

[2015-04-29 23:10] #38 closed

[2015-04-29 23:17] allisonmuise opened #53 "Maintain sorting after editing"
Is there a way to maintain the sort order after committing edits? If I've edited the sort field, the record can stay where it is until I re-sort, but being bounced to the top of the list and needing to re-sort after every edit is a frustrating workflow.

[2015-04-29 23:23] allisonmuise commented on #40
verified

[2015-04-29 23:23] #40 closed

[2015-04-30 12:13] CTLocalGovTeam commented on #49
@allisonmuise
It is already exposed in configuration-panel.js
Here is a diff from the pull request.
A default value is also provided in defaults.js for this parameter.
Are you able to see this in the configuration panel when you click 'Configure app'?

![image](https://cloud.githubusercontent.com/assets/2959186/7411163/f49e4fe0-ef52-11e4-9286-ccf3106189b0.png)

[2015-05-04 09:38] CTLocalGovTeam commented on #50
@allisonmuise, @ScottOppmann, @LindsayThomas   Ok.
1. When a map with 1 editable layer is selected then it will be outlined with theme color and will remain highlighted with white background as shown below.

![image](https://cloud.githubusercontent.com/assets/2959186/7451468/b3130a60-f26e-11e4-82a0-d6be416811bc.png)

2. When a layer is selected from a map having multiple layers then outline of the

[2015-05-04 09:44] CTLocalGovTeam commented on #53
@allisonmuise, @ScottOppmann, @LindsayThomas The position of edited record will remain unchanged when edits are committed. Resorting will re-position the record. This will be accommodated in sprint 2.

[2015-05-04 10:04] CTLocalGovTeam commented on #51
@allisonmuise, @ScottOppmann, @LindsayThomas,

Your observation for case no.3 is correct. You are able to access the preview experience because you did not sign in and try to launch the app, is this correct?
Because the Org restrictions (cannot access public content outside org) apply only after a user has signed in.

@MikeTschudi,
For case nos. 4-7 we found an Org property `isPortal:true` that we

[2015-05-04 19:50] MikeTschudi commented on #51
@CTLocalGovTeam Using the ```isPortal``` property that you found is the approach recommended by the Online team

[2015-05-07 21:14] LindsayThomas commented on #44
Verified a Custom Name will appear in the Browser Tab.

@allisonmuise Note: The URL to the application ( http://computername/manager_06/?appid=c1270510f4c440129a3a0117e437d8c9) is displayed in Browser Tab initially. Once you click on a sign in option then you get the Custom Name in the browser tab. I *think* this is expected behavior with the application being hosted the way it is, other applicati

[2015-05-07 21:14] #44 closed

[2015-05-07 21:43] ScottOppmann commented on #44
We should also validate that a shortcut icon is created when you place a link to the application on a tablet home screen.

Sent from Scott's iPhone
909-728-7082

On May 7, 2015, at 5:14 PM, Lindsay Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Verified a Custom Name will appear in the Browser Tab.

@allisonmuise<https://github.com/allisonmuise> Note: The URL to the app

[2015-05-08 17:06] LindsayThomas opened #54 "Signing In with an Esri Named User Acct will display the First and Last Name in reporter but just the username in manager"
On Reporter -Signing In with an Esri Named User Account will display the First and Last Name of the user (For Example: Lindsay Thomas)
On Manager - Signing In with an Esri Named User Account will display the username (For Example: lind5149_lg)

Shouldn't they be the same?

[2015-05-08 17:16] LindsayThomas opened #55 "Accessing the Manager application in a browser that is too small appears jumbled"
On a really small browser OR on a smartphone the application icons are jumbled and the application is not usable.

Provide a message to users OR prevent them from having this experience

![img_0002](https://cloud.githubusercontent.com/assets/2379312/7541528/24f3b8c4-f584-11e4-8b3b-adc5c139c959.PNG)

[2015-05-08 17:26] LindsayThomas opened #56 "Android Tablet - Scrolling horizontally causes the header to lag behind the Observation List"
Tested on Samsung Android Tablet (Galaxy 3) - device from test bank

Repro Steps
-Go to List View (happens in Split view too)
-Scroll Right in the Observation section
-Header is scolling slower than the list of records
(Header cannot catch up with the records during the scroll)

This does not happen on in the Desktop Browsers.

[2015-05-08 17:30] LindsayThomas opened #57 "Refresh button resets the current view of the application to Split View"
Refresh button resets the current view of the application to Split View. User would probably expect that current view would persist after a refresh

Repro steps
-In Manager
-Set the application to Map View (or List View)
-Tap refresh
-Application will go back to split view

[2015-05-08 17:32] LindsayThomas opened #58 "Android Tablet - Keyboard floats on top of Esri sign in dialog"
Tested on Samsung Android Tablet (Galaxy 3)  - LandScape Mode

Repro Steps

Sign in to Esri in manager
Sign dialog pops up
Android Keyboard will cover up the username and password textbox
Start typing, screen will move (now you can only see the username text box)
To type in the password, the user will have to tap the screen and drag the dialog into view.

[2015-05-08 17:41] LindsayThomas opened #59 "Signing In with an Esri Named User Account then clicking the "X" or "cancel" gives the user a message "ABORTED""
Signing In with an Esri Named User Account then clicking the "X" OR "Cancel button" gives the user a message "ABORTED" and the application then completely refreshes. It should just close the sigin dialog and go back to the app.

[2015-05-11 13:31] CTLocalGovTeam commented on #46
@allisonmuise,
We wanted to confirm the UI mockup for displaying comments in manager app since the UI will be slightly different from the Reporter app. Please have a look and let us know if you have any comments.

----
![image](https://cloud.githubusercontent.com/assets/2959186/7565690/ac1ac77e-f80f-11e4-981c-ceb183ecbbea.png)

----
![image](https://cloud.githubusercontent.com/assets/2959186/75657

[2015-05-11 18:29] allisonmuise commented on #50
ok

[2015-05-11 18:32] allisonmuise commented on #54
Yes - @CTLocalGovTeam : Please display FirstName LastName in Manager rather than the username.

[2015-05-11 18:37] allisonmuise commented on #55
@LindsayThomas We don't do this for any of our other non-smartphone supporting apps so I'm not sure what modified behavior you're looking to see. Should the app fail to load? Should the app present a message that says that the app would look better on a bigger browser? Should that message allow them to continue using the app if they want to?

[2015-05-11 18:38] allisonmuise commented on #56
@LindsayThomas  - What version of Android was this seen on?

[2015-05-11 18:39] allisonmuise commented on #57
This has been discussed with CT and the requested behavior would be a major development effort that could not be completed in the requested time frame along with the other assigned issues. I'll put this in the backlog.

[2015-05-11 18:41] allisonmuise commented on #58
@CTLocalGovTeam : Please investigate this behavior and provide a description of (a) possible fix(es).

[2015-05-11 18:45] allisonmuise commented on #46
If attachments are enabled, but none have been submitted, how will the UI look?

Please change 'Photos' to 'Attachments'

[2015-05-12 08:05] CTLocalGovTeam commented on #46
@allisonmuise, Ok, we will change 'Photos' to 'Attachments'.
If no attachments are submitted, and attachments are enabled, then it would look like the second mockup above. Current implementation is that the 'Attachments' section is not displayed at all when no attachments have been submitted.

The reporter app on the other hand displays a message 'No attachments found' like this, since there is a

[2015-05-12 08:48] CTLocalGovTeam commented on #59
@allisonmuise, @LindsayThomas,
Agree. Clicking cancel should just close the sign in dialog and go back to app.
This will be included in the upcoming release.

[2015-05-12 08:52] CTLocalGovTeam commented on #54
@allisonmuise, @LindsayThomas,
Agree. We will display the full name of the user as in reporter app.
This will be included in the upcoming release.

[2015-05-12 11:35] CTLocalGovTeam commented on #58
@allisonmuise, @LindsayThomas,
This is the default behavior of Android OS. When sign in dialog is invoked, it already has the focus set on the username textbox. This is default behavior of identity manager. Due to this, as soon as you click on 'Sign in', the soft keyboard is displayed as the username textbox has focus.
However, it gets overlaid by the keyboard and shifts into view after a keypress

[2015-05-12 16:11] allisonmuise commented on #46
ok. Thanks for the additional info.

[2015-05-12 16:25] allisonmuise commented on #58
@CTLocalGovTeam : This is consistent with what I've experienced on other web sites on my own Android phone. I was hoping there was an elegant way around it, but if not let's leave the behavior as-is.
Thanks for looking into it.

[2015-05-12 16:25] #58 closed

[2015-05-13 15:47] LindsayThomas commented on #56
@allisonmuise Galaxy II (the version that is currently on the device in the Redland Solutions test bank.

[2015-05-13 15:50] LindsayThomas commented on #59
@CTLocalGovTeam Just to confirm Cancel and 'X' will both have the same behavior?

[2015-05-13 17:06] allisonmuise commented on #56
@CTLocalGovTeam : Please investigate scrolling the title bar at the same rate as the table. The titles eventually catch up, but both title bar and rows should scroll at the same speed.

[2015-05-13 17:07] allisonmuise commented on #56
This is reproducible on Galaxy Tab 2 (Android 4.1.2) and Galaxy Tab S (4.4.2)

[2015-05-14 06:44] CTLocalGovTeam commented on #59
@LindsayThomas @allisonmuise
That is correct. Cancel and 'X' will both have the same effect, i.e., close the sign in dialog and go back to the app.

[2015-05-14 11:10] CTLocalGovTeam commented on #43
@allisonmuise,
We are noticing a strange issue with the style being used for displaying the tick mark in the checkbox, i.e.,
[code]
On Samsung Tab 4, the tick mark always appears red in color, inspite of assigning green color to it. On desktops and iPad, it displays correctly in green color.

If you browse this [reference url](http://www.w3schools.com/charsets/ref_utf_dingbats.asp) that displays t

[2015-05-14 12:40] CTLocalGovTeam commented on #56
@allisonmuise, @LindsayThomas,
The List View is drawn by a third party control named 'datatables' which is a JQuery (Javascript framework) plugin. The behavior of header lagging behind a few milliseconds while scrolling is something we noticed on all tablets (android as well as iPads). This may be due to the way the plugin generates separate UI controls for the header and the table below. We don't

[2015-05-14 17:08] allisonmuise commented on #43
This issue seems to be limited to Android 4.4.2.

Here are my test results:

HTC M8                         (v5.0.1) : black
Samsung Galaxy Tab 2 (v4.1.2) : black
Samsung Galaxy S4      (v4.4.2) : red
Samsung Galaxy Tab S (v4.4.2) : red

What are the options to avoid browser inconsistencies? Could we use another font or a sprite without losing performance? What would be the impact on dev time?

[2015-05-14 17:11] allisonmuise commented on #43
possibly related to this?
https://code.google.com/p/android/issues/detail?id=61771

[2015-05-14 17:16] allisonmuise commented on #56
ok. closing this issue.

[2015-05-14 17:16] #56 closed

[2015-05-14 22:04] allisonmuise commented on #53
Please also keep my position in the list. Currently I'm being bounced up to the top record after every edit.

[2015-05-14 22:05] allisonmuise commented on #39
verified

[2015-05-14 22:05] #39 closed

[2015-05-14 22:05] allisonmuise commented on #50
verified

[2015-05-14 22:05] #50 closed

[2015-05-14 22:07] allisonmuise commented on #49
yup - now I see it :)

[2015-05-14 22:07] #49 closed

[2015-05-15 11:30] CTLocalGovTeam commented on #43
To avoid browser & device inconsistencies we can use the following approach.

Instead of using font or sprite image. We can use a png image to display the check mark.

For implementing this we need to change few CSS properties as shown below
[code]
This approach can be incorporated in Sprint 2. Please suggest.

We have gone through the suggested link (code.google.com), but we think that is not rel

[2015-05-15 11:32] CTLocalGovTeam commented on #53
@allisonmuise
The position of edited cell in list view will remain unchanged when edits are committed.
This will be accommodated in sprint 2.

[2015-05-15 15:44] allisonmuise commented on #43
That works for me! Please proceed with this approach.

[2015-05-18 06:34] CTLocalGovTeam commented on #43
@allisonmuise

Ok.
This will be accommodated in sprint 2.

[2015-05-26 19:23] allisonmuise commented on #10
verified

[2015-05-26 19:23] #10 closed

[2015-05-26 19:23] allisonmuise commented on #25
verified

[2015-05-26 19:23] #25 closed

[2015-05-26 19:24] allisonmuise commented on #43
verified

[2015-05-26 19:24] #43 closed

[2015-05-26 19:25] allisonmuise commented on #47
verified

[2015-05-26 19:25] #47 closed

[2015-05-26 19:26] allisonmuise commented on #53
verified

[2015-05-26 19:26] #53 closed

[2015-05-26 19:27] allisonmuise commented on #54
verified

[2015-05-26 19:27] #54 closed

[2015-05-26 19:27] allisonmuise commented on #59
verified

[2015-05-26 19:27] #59 closed

[2015-05-26 19:43] allisonmuise opened #61 "'Clear Selection' missing when viewing only selected features"
Repro steps:
1) select several features
2) click the Selection Options button
3) Click the 'Show Selected' option
4) Click the Selection Options button again
3) There is no option for 'Clear Selection'. Clearing the selection from here requires 3 clicks (Show All > Selection Options > Clear Selection)

Please add 'Clear Selection' to this menu. Clicking this option should show the full table and u

[2015-05-26 19:44] allisonmuise opened #62 "Cannot unselect features in 'Show Selected' view"
Currently I cannot click the checkmarks to unselected features when in the 'Show Selected' view of the table. I should be able to unselect features in this view. Unselecting features should remove them from this view.

[2015-05-26 19:46] allisonmuise opened #63 "Cannot edit features in 'Show Selected' view"
Editing is not available when viewing only selected features in the table.

[2015-05-26 20:27] allisonmuise opened #64 "unexpectedly prompted for credentials"
see https://github.com/Esri/crowdsource-reporter/issues/81 for more info

[2015-05-26 20:27] allisonmuise commented on #64
cc @previnWong

[2015-05-26 21:25] allisonmuise opened #65 "Issues with layers that use size renderers."
See a video of this behavior on box:
https://esri.box.com/s/ficahgmaazki7nfn3vkzrpsjt1940vxk

After re-editing a field the table in the same session, the field will revert back to the original value

[2015-05-27 11:49] CTLocalGovTeam commented on #63
@allisonmuise This is as designed. Editing is not available in selected mode.
This was due to challenges in maintaining the state of selected records, editing, highlighting etc. when the app was designed to work with geographic filtering. When you pan/zoom the map, the table updates itself.
Now that we have removed geographic filtering, we think this may be possible to implement.
We will investiga

[2015-05-27 11:55] CTLocalGovTeam commented on #62
@allisonmuise This is as designed. In 'show selected' mode, the app does not allow any interaction with the table. This is because, the table used to update itself on every map pan/zoom and there were challenges in retaining the state of the table.
However, now that we have removed geographic filtering, we think this may be possible to implement.
We will investigate this further and keep you poste

[2015-05-27 11:59] CTLocalGovTeam commented on #61
@allisonmuise Yes. we can do this. We'll show the full table and unselect all selected features.

[2015-05-27 17:48] allisonmuise commented on #64
I cannot reproduce this behavior when the app code and the app contents are hosted on the same domain (see related reporter issue)

this requires no further work. Closing!

[2015-05-27 17:48] #64 closed

[2015-05-27 23:45] allisonmuise commented on #51
App preview is working in AGOL-hosted apps. I am unable to test portal-hosted apps until the app is included in the Portal builds. Leaving this open and assigned to me to test once that is available.

[2015-05-28 14:20] CTLocalGovTeam commented on #65
@allisonmuise
We were not able to repro this. Does this occur for all layers? Can you please share a webmap.

[2015-05-28 18:06] allisonmuise commented on #65
I am seeing this behavior or other, similar, strange behavior when editing features symbolized by color or by size. Not all layers symbolized like this have issues, and I'm not seeing it on any layers that use other renderers.

For example, in this map: http://localgovtest.maps.arcgis.com/home/webmap/viewer.html?webmap=5144a7fb27914e9eb8bbf1e6b931229e I am seeing this behavior with the 'This line

[2015-05-28 19:37] allisonmuise opened #66 "shortcut icons"
Please use the app icon as the shortcut icon for this app, like the Reporter.
![5-28-2015 12-35-16 pm](https://cloud.githubusercontent.com/assets/2752195/7869227/37c2e300-0536-11e5-9aa1-4a2df1929eaf.png)

[2015-05-28 20:17] allisonmuise commented on #46
verified

[2015-05-28 20:17] #46 closed

[2015-05-28 20:38] allisonmuise opened #67 "Display of multi-line text"
When text is entered into a multi-line parameter in Reporter:

![5-28-2015 1-24-40 pm](https://cloud.githubusercontent.com/assets/2752195/7870274/13275ed4-053d-11e5-97b8-306274556674.png)

The resulting text displays with the correct spacing in the Reporter details view, ArcGIS Online popups, and Manager details view:
![5-28-2015 1-26-36 pm](https://cloud.githubusercontent.com/assets/2752195/78703

[2015-05-29 06:51] CTLocalGovTeam commented on #65
@allisonmuise,
We were able to repro the freeze issue on 'AttachmentsVotesComments - Points' and investigating this.
Will keep you posted on re-edit-reverts-to-original issue (still trying to repro).

[2015-05-29 15:53] allisonmuise commented on #65
I could repro the editing issue wednesday and yesterday on two layers using FireFox and Chrome, even after clearing my cache. I rebooted my machine this morning and don't see the editing issue anymore. The freezing issue is still there, though, so I will modify the title of this issue.

[2015-06-01 12:49] CTLocalGovTeam commented on #62
@allisonmuise
We have been able to implement facility to remove selections when user is in 'Show Selected Mode'
Here are the highlights of this feature:

1. When user unselects an issue in 'Show Selected Mode', then the issue is removed from the list and the feature selection is also removed from map.
2. When user unselects all issues in 'Show Selected Mode', then the table resets to display all i

[2015-06-01 12:49] CTLocalGovTeam commented on #67
@allisonmuise
We were able to repro and fix this. Will deliver this in upcoming release.

[2015-06-01 12:50] CTLocalGovTeam commented on #66
@allisonmuise
We were able to repro and fix this. Will deliver this in upcoming release.

[2015-06-01 12:59] CTLocalGovTeam commented on #65
@allisonmuise,
We were able to repro and fix the freezing issue. However, for layers styled like this, we are noticing that the cyan colored selection square graphic (as well as active graphic) does not change according to symbol size. It displays the fallback symbol of a fixed size. Investigating this further.

[2015-06-01 13:00] CTLocalGovTeam commented on #63
@allisonmuise
We have been able to implement editing of features in 'Show Selected Mode'. This will be delivered in the upcoming release.

[2015-06-01 13:01] CTLocalGovTeam commented on #61
@allisonmuise
We have implemented this and will deliver in upcoming release.

[2015-06-01 15:16] allisonmuise commented on #62
This sounds great! I can't think of any other scenarios to cover.

[2015-06-04 15:30] CTLocalGovTeam commented on #65
@allisonmuise ,
For point layers styled with 'Counts and Amounts (size)', we are not able to interrogate the size of a feature's symbol. We need this to display the selection symbol that is slightly larger than the feature's symbol. The API does not provide the size of symbols used to display the class breaks.

Due to this, for point layers styled with this option, the cyan colored selection graph

[2015-06-04 17:36] allisonmuise commented on #65
ok - does today's pull request include a fix for the freezing issue?

[2015-06-05 06:59] CTLocalGovTeam commented on #65
@allisonmuise Yes the pull request V1.0 includes a fix for the freezing issue

[2015-06-09 20:24] allisonmuise commented on #63
verified

[2015-06-09 20:24] #63 closed

[2015-06-09 20:24] allisonmuise commented on #62
verified

[2015-06-09 20:24] #62 closed

[2015-06-09 20:24] allisonmuise commented on #61
verified

[2015-06-09 20:24] #61 closed

[2015-06-09 20:31] allisonmuise commented on #66
verified

[2015-06-09 20:31] #66 closed

[2015-06-10 13:03] CTLocalGovTeam commented on #65
@allisonmuise we have identified a fix for highlighting symbols with appropriate size when layers are styled with 'Counts and Amounts (size)'.
We are ready on our side with this fix. Please let us know if you would like us to generate a pull request for both Manager and Reporter.

[2015-06-10 15:31] clareprice opened #69 "App required reload to update list when map is filtered"
@allisonmuise

With the current ArcGIS Online version of the manager app, when a feature is edit in the list and the map is filtered by this edit, though the map will filter, the list will not filter and the selected bar still appears on the map. Reloading the app is required to view the updated list. See screenshot:
![image](https://cloud.githubusercontent.com/assets/5611508/8086593/053ecec0-0f4b

[2015-06-10 16:07] allisonmuise commented on #69
@clareprice I'm not clear on the issue you're seeing, but is this on prd, or devext?

There are quite a few changes coming to this app in July. If what you're seeing is on prd, could you take a look at devext and see if it's still an issue?

[2015-06-15 18:16] allisonmuise commented on #65
verified

[2015-06-15 18:16] #65 closed

[2015-06-15 19:59] allisonmuise opened #70 "remove horizontal constraint on app logo"
app logo is squished if it is not the same dimensions as the default logo.

[2015-06-15 20:01] allisonmuise commented on #67
verified

[2015-06-15 20:01] #67 closed

[2015-06-15 21:06] clareprice commented on #69
@allisonmuise This is an issue on devext as well. There is the refresh button now which means the entire web page does not need to be refreshed, but ideally when the map updated the list would as well.

[2015-06-15 22:50] allisonmuise commented on #69
Moving this to the backlog as an earlier design decision was made to not update the table immediately after edits. We can look at this again if it becomes an issue.

Repro steps are:
1) filter a layer in the map so that only some features are visible
2) Make the field used in the filter editable
3) Share the filtered map with a group that feeds a Manager app
4) In Manager, change the attributes of

[2015-06-18 16:18] allisonmuise opened #71 "Layer name not displayed as title on iPad"
On iPad, the 3.8 version of Manager does not show the layer name in the table header. The layer name displays on iPad and all other browsers at 3.7, and on desktop and android browsers at 3.8.

Repro steps:

1.	Open the manager app in Ipad
2.	Click on the maplist and choose a layer
3.	Notice the layer name doesn’t appear in table header.

iPad 3.8
![ipad](https://cloud.githubusercontent.com/assets

[2015-06-18 16:18] allisonmuise commented on #70
![chrome](https://cloud.githubusercontent.com/assets/2752195/8236121/05d659e2-159b-11e5-9801-d6b3cf8ac890.PNG)

[2015-07-02 21:05] allisonmuise opened #72 "+ and - signs off-center on nav buttons - android tablet"
on android tablets the nave button's icons are off center of the buttons. They look ok on desktop browsers.

[2015-07-08 20:37] allisonmuise commented on #55
as designed

[2015-07-08 20:37] #55 closed

[2015-07-08 21:25] allisonmuise commented on #42
Graphic:
![settings](https://cloud.githubusercontent.com/assets/2752195/8582642/fed91ed0-257c-11e5-8435-d59aa04b7d37.png)

Please add a small arrow to the right of the icon to indicate it is a drop-down. Clicking the icon or the arrow should expand the menu.
![new-icons](https://cloud.githubusercontent.com/assets/2752195/8582655/1cce21e2-257d-11e5-8745-7ff931439761.jpg)

[2015-07-08 21:27] allisonmuise commented on #41
New graphic (it's white):
![settings](https://cloud.githubusercontent.com/assets/2752195/8582693/504c325c-257d-11e5-800a-db8e6ed670e9.png)

Please add a small arrow to the right of the icon to indicate that it's a menu. Clicking the arrow or the icon should open the menu.
![new-icons](https://cloud.githubusercontent.com/assets/2752195/8582714/66d63392-257d-11e5-87b9-791e83fdf40e.jpg)

[2015-07-15 06:52] CTLocalGovTeam commented on #57
@allisonmuise
Here are the scenarios we are considering to implement. Please confirm.

1. Application is in Map/Split/List View, user clicks refresh, retain the original View.
4. When the Details View is open in either Split View or Map View, user clicks refresh, the respective View will be retained, however since all selections/activations are lost, Details View will not be retained, it will disp

[2015-07-15 07:08] CTLocalGovTeam commented on #69
@allisonmuise @clareprice
We are thinking of the following approach to support this. Please let us know your thoughts.

* Query for the same row (honoring all definition expressions) after every edit
* If no result is returned, then remove row from the table

Everytime a field is updated, two requests will be done
1. To save the edit
2. To query the edit

[2015-07-15 14:58] allisonmuise commented on #69
How will adding second query impact app performance?

[2015-07-15 15:07] allisonmuise commented on #57
I have questions about 5 and 10:
5: 'The search box will stay open' : Do you mean that the search results box will re-open to display no results found'?

10: I believe that currently edits to the row are saved before the refresh. I'm ok with edit mode being discarded as long as the edits are kept.

[2015-07-15 15:18] allisonmuise commented on #69
minimal impact per Dr. Anand on call. Please proceed with this approach

[2015-07-21 10:35] CTLocalGovTeam commented on #57
@allisonmuise
Here is our response on the above.

5: The search box will not re-open  to display "No results found". To simplify this further, we are thinking of providing this behavior
 * The searchbox will always be closed automatically (if open) after a refresh
 * It wont re-open even if no records are found after a refresh
 * User can click the Search icon anytime to see if a filter is active

[2015-07-23 03:45] allisonmuise commented on #57
Yes, this sounds good. Please proceed.
----- Reply message -----
From: "CyberTech" <notifications@github.com>
To: "Esri/crowdsource-manager" <crowdsource-manager@noreply.github.com>
Cc: "Allison Muise" <AMuise@esri.com>
Subject: [crowdsource-manager] Refresh button resets the current view of the application to Split View (#57)
Date: Tue, Jul 21, 2015 3:35 AM

@allisonmuise<https://github.com/allis

[2015-07-29 07:27] CTLocalGovTeam opened #73 "Search icon in topbar is not re-enabled when all records are unselected in show selected mode"
@ScottOppmann @LindsayThomas @allisonmuise
Discovered an issue not related to enhancements for this phase of work.

Steps to reproduce:

1. Use a webmap with a layer that has layer search enabled. Observe that search icon in topbar is enabled.
2. Select some rows in table
3. Switch to selected mode. Observe that search icon in top bar gets disabled, since we cannot search in selected mode.
4. Unse

[2015-08-10 16:44] allisonmuise commented on #73
Yes, please fix this issue.

[2015-08-10 19:14] DShokes opened #75 "Update field value for all selected features"
This functionality would allow for bulk status updates and feature assignment. It could also enable simple field calculations.

[2015-08-11 22:22] allisonmuise commented on #42
verified

[2015-08-11 22:22] #42 closed

[2015-08-11 22:22] allisonmuise commented on #41
verified

[2015-08-11 22:22] #41 closed

[2015-08-11 22:28] allisonmuise commented on #71
verified that the layer name now displays on iPads

[2015-08-11 22:28] #71 closed

[2015-08-11 22:30] allisonmuise commented on #70
verified

[2015-08-11 22:30] #70 closed

[2015-08-11 22:32] allisonmuise commented on #72
verified

[2015-08-11 22:32] #72 closed

[2015-08-11 22:46] allisonmuise commented on #69
verified
cc @clareprice

[2015-08-11 22:46] #69 closed

[2015-08-14 12:40] CTLocalGovTeam opened #76 "Placeholder text is not displayed for search bar in IE9 browser."
@allisonmuise,
We found this issue recently in our internal testing.

Steps to reproduce:
1. Use a webmap with a layer that has layer search enabled.
2. Click on search icon
Here for IE9, the expected placeholder text is not displayed in the search bar unlike other browsers.

[2015-08-14 15:58] allisonmuise commented on #76
@CTLocalGovTeam : What is the level of effort to resolve this, and how much risk will the fix pose to the rest of the app?

[2015-08-17 09:26] CTLocalGovTeam commented on #76
@allisonmuise
The level of effort for this fix is very small. The code change required for this fix is also localized and low impact. We can include this fix in the upcoming delivery this Wednesday the 19th.

[2015-08-17 16:08] allisonmuise commented on #76
OK, please proceed.

[2015-08-20 10:14] CTLocalGovTeam commented on #76
@allisonmuise

This issue is also present in crowdsource reporter app. Should we go ahead and include a fix for reporter too?

[2015-08-20 15:45] allisonmuise commented on #76
yes, please

[2015-08-20 20:08] allisonmuise commented on #51
verified

[2015-08-24 20:44] #51 closed

[2015-08-24 21:18] allisonmuise commented on #57
verified

[2015-08-24 21:18] #57 closed

[2015-08-24 21:19] allisonmuise commented on #73
verified

[2015-08-24 21:19] #73 closed

[2015-08-26 18:16] allisonmuise commented on #76
verified

[2015-08-26 18:16] #76 closed

[2015-09-02 21:27] allisonmuise opened #78 "Support for RtL languages"
As mentioned during the last iteration, there are some areas where RtL support could be improved, such as:
![9-2-2015 2-26-43 pm](https://cloud.githubusercontent.com/assets/2752195/9645133/c060213e-517e-11e5-8b2a-c48820c6971e.png)
I believe @CTLocalGovTeam  testers found some other areas as well. Please add those to this issue as well.

[2015-10-05 16:27] allisonmuise opened #80 "accept URL param for language picker"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/813#issuecomment-284272

[2015-10-05 16:56] allisonmuise opened #81 "Update to fully support web-tier secured services"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/893#issuecomment-284331

[2015-10-05 20:09] allisonmuise opened #82 "Update comments display to match reporter"
Reporter now displays the full poup contents for comments. Manager should, too.

[2015-10-10 21:01] allisonmuise opened #83 "Remove preview"
preview experience in AGOL has updated to recognize the difficulty of delivering preview for portals. This file and associated code can be removed.

[2015-10-15 09:35] nymoen opened #84 "Bug in getDateFormat in utils.js"
I have been using the Crowdsource Manager app in ArcGIS Online. And it does not respect the dateformat I set up in the popup.
 It is a format bug in the code.
The code is: case "shortDateLEShortTime24":
                obj.dateFormat = "MM/DD/YYYY HH:mm";

The format of shortDateLEShortTime24 should be DD/MM/YYYY HH:mm

Regards
Kjetil Nymoen

[2015-10-16 13:13] MikeMillerGIS opened #85 "Auto hide layer/map picker after user selects a map and layer"
Map and layer picker to become a floating panel on top of map/data grid to free up space and make the user experience cleaner.

[2015-10-16 13:14] MikeMillerGIS opened #86 "Redesign UI to allow for display of media, attachments and related records in a panel"
When a user selects an image, the record it reviewed and all attachments and hyperlinked items are loaded into a panel for display

[2015-10-16 13:15] MikeMillerGIS commented on #86
![image](https://cloud.githubusercontent.com/assets/2707285/10542482/6eeb4268-73e6-11e5-963f-b995791d4a6c.png)

[2015-10-16 16:05] allisonmuise commented on #86
@MikeMillerGIS :
Can you add a bit more information about what you're looking for? Manager already lets users open & download attachments. They show up on the 'Report' view under the popup content. I'm not sure what you mean by hyperlinked items?

[2015-10-16 18:17] allisonmuise commented on #84
@nymoen : Could you attach a screenshot of your popup configuration window?
Based on the description above, I am unable to reproduce your issue. I wonder if it's a specific combination of settings causing the issue.

[2015-10-19 06:49] nymoen commented on #84
Soory for not being very clear. Here is my popup config in the webmap on the field:
![image](https://cloud.githubusercontent.com/assets/8665669/10571274/fd4a5428-763d-11e5-809b-cab47a14ecf0.png)

And here you see the listview and popup in the crowdsource manager app bulit using ArcGIS Online: You can see that the format in the listview is wrong. It should show the same format as the popup.
![image

[2015-10-19 21:47] allisonmuise commented on #84
@nymoen Thanks! That helped a lot. We'll get this fixed in the next release.

[2015-10-21 16:40] MikeMillerGIS opened #87 "Present list of filters per layer"
User requires the ability to filter a layer by a set of filters, both attribute and time.
![image](https://cloud.githubusercontent.com/assets/2707285/10643434/cee0a33a-77f0-11e5-8d4d-0b1914490e0b.png)

Thoughts:
Filters defined on the layer in the webmap
Filter need to be defined as an Ask For Value filter
Each one of these filters is then exposed in a ui in the app
![image](https://cloud.githubus

[2015-10-21 16:42] MikeMillerGIS commented on #85
Add a button or arrow to top bar to show panel.  After selection, panel auto hides.

[2015-10-21 16:55] MikeMillerGIS commented on #86
Thoughts on a mock up
![image](https://cloud.githubusercontent.com/assets/2707285/10643838/072e29c2-77f3-11e5-97a9-b1863c73d8b8.png)

[2015-10-21 16:57] MikeMillerGIS commented on #86
Pop up will be defined in the layer in the pop up configuration
Media is defined in the pop up as well as attachments which are web viewable(images)
Relates are related records

A tab with more than one record can display the records in a scrollable list or in a single record per page view(global setting on app)

Option to edit related records if related record is editable.  Edit button is shown n

[2015-10-21 17:05] allisonmuise commented on #75
Proposed workflow for this based on redesign work in progress:
- remove editing from table view
- on row click/select in table view, toggle to popup view in muli-purpose pane
- popup view has 2 modes (view/edit) that are sticky. If previously in edit mode, popup view will open in edit mode. if previously in view mode, popup view will open in view mode.
- if multiple features selected, media and re

[2015-10-26 17:54] allisonmuise commented on #84
Verified fixed in dev environment

[2015-10-26 17:54] #84 closed

[2015-10-26 17:55] allisonmuise opened #88 "Update to allow display of multiple layers at once"
same as reporter enhancement request
https://github.com/Esri/crowdsource-reporter/issues/84

[2015-10-26 18:02] allisonmuise opened #89 "If only one map and layer, hide map/layer picker panel"
If the group contains only one map and the map contains only one editable layer, don't draw the map/layer picker panel

[2015-10-26 18:53] allisonmuise commented on #86
http://developers.arcgis.com/javascript/samples/ed_toolbar/

[2015-10-30 21:31] skrishn opened #90 "App doesn't draw features with heatmap symbology"
Create a point layer and symbolize using heatmap

Use it in the manager app. Notice that the points are not drawn on the map, but when feature is clicked on the issue list the feature get highlighted.

[2015-11-04 19:14] allisonmuise opened #91 "update boilerplate to resolve CORS issues in Portal"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/959

[2015-11-26 07:04] CTLocalGovTeam commented on #78
@allisonmuise
The other areas where RTL is to be supported are:
1. Webmap list to switch its position to be displayed on right hand side in RTL mode, and accordingly the table and map view should be displayed on the left hand side of the map list
2. The header panel should also switch its position in RTL. App title should be displayed on right, and header buttons for refresh, filter, views, settin

[2015-11-27 10:39] CTLocalGovTeam commented on #81
@allisonmuise
The app uses ArcGIS JSAPI's identity manager which abstracts all forms of authentication. Can you please describe the behavior you see with web-tier services.

Also, can you provide more information on how the environment is set-up, i.e., how is ArcGIS Server and Portal configured. We'd have to setup the same environment here to replicate and test.
Is the webmap created in ArcGIS Onl

[2015-11-27 10:41] CTLocalGovTeam commented on #91
@allisonmuise
Can you please provide more information on CORS issues you see in Portal.

[2015-11-27 11:16] CTLocalGovTeam commented on #83
@allisonmuise
The preview experience that is implemented in Crowdsourcing Apps was similar to the MapTour template at the time, i.e., to show a static html page with information about the app.

When we look at the MapTour template now, it does not have a static preview page, instead it redirects to its documentation website (screenshot below).

Do we want to update to a similar behavior?

![image]

[2015-11-30 16:41] allisonmuise commented on #78
@CTLocalGovTeam : Yes, these are all changes that should be made.

[2015-11-30 16:50] allisonmuise commented on #81
@CTLocalGovTeam : Sorry - meant to supply more info on this one. It is my understanding that this support is available in the latest boilerplate (per Matt Driscoll). The other templates that allow editing (such as Basic Viewer) have already been updated and the approach for Manager should be the same.

This change is specific to 10.4 Portal. Do you have access to a 10.4 Portal to test this if I ge

[2015-11-30 16:59] allisonmuise commented on #91
This issue should be resolved by updating to the latest boilerplate. This has already been implemented for Basic Viewer. I don't have specific repro steps for this issue.

[2015-11-30 17:03] allisonmuise commented on #83
No, the preview experience for Manager can now be the same as Reporter. We originally needed the html page for the following reasons:
1) The app always prompted for sign in so we couldn't provide a public preview of the actual app. This has been fixed so that the app behaves the same as the majority of the templates.
2) Portal installations couldn't access the AGOL content in the app preview. This

[2015-12-01 12:26] CTLocalGovTeam commented on #81
@allisonmuise,

Thanks for the additional info. Here are some observations and queries.

1. The boilerplate does seem to have code for supporting web tier security. The latest boilerplate also contains an additional config item in `config/template-config.js` called `"webTierSecurity": false`.
Since it defaults to false, users will have to download app code, modify this item to *true* to use web ti

[2015-12-01 17:16] allisonmuise commented on #81
@CTLocalGovTeam : It looks like this change was only made in the private Viewer repo and wasn't pushed to the public one. Here is a screenshot of the changes Kelly made in her commit that is marked as resolving this issue:
![12-1-2015 8-53-30 am](https://cloud.githubusercontent.com/assets/2752195/11507628/c1b54b14-9809-11e5-9cce-e470fd1d8a4f.png)
The same code change is visible in the Edit templat

[2015-12-09 17:28] allisonmuise commented on #81
@CTLocalGovTeam :
Here is Kelly's response:
Take a look at the app boilerplate for an example of using webTierSecurity. If they want to edit they’ll have to set it to true.
https://github.com/Esri/application-boilerplate-js/blob/development/application_boilerplate/js/template.js

[2015-12-16 16:15] MikeMillerGIS commented on #81
@CTLocalGovTeam I feel it is safe to set the variable to true as I have that code enabled in the Info Lookup at that is part of AGOL
https://github.com/Esri/information-lookup/blob/master/js/template.js#L520

[2015-12-16 22:26] allisonmuise opened #92 "Add URL parameter for currently selected feature"
use case:
GeoEvent sends message saying that report has been received/assigned. Message contains link to FEATURE in Manager so that, once in the app, user doesn't need to search for the feature.

This may mean that the map/layer, and feature id need to be stored somehow.

[2015-12-16 22:30] allisonmuise opened #93 "consider ability to add comments/attachments"
use case:
responding to incidents with details and documents supporting the resolution of the report

[2015-12-28 10:36] CTLocalGovTeam commented on #83
@allisonmuise
The static preview page was built to be displayed only on portals. Three conditions needed to satisfy to display the static preview page:
1. appID is not present either in config or URL parameter
2. groupID is not present either in config or URL parameter
3. app is running inside a portal (`isPortal:true` in Org properties)

All three conditions are met (only in Portals) when you go

[2015-12-28 12:12] CTLocalGovTeam commented on #78
@allisonmuise

**iPads only**
Just an update that we are noticing a strange behavior only on iPads when app is run in RTL mode.
1. When you tap to make a row 'active', it appears as if the row is not activated. You need to scroll the table horizontally to the end and back. Now you see the complete row is activated.
2. The same behavior is seen when you tap the checkbox to select a row. You need to

[2016-01-04 21:16] allisonmuise commented on #78
Thank you for the update

[2016-01-04 21:18] allisonmuise commented on #83
Yes, This is the expectation. Portal 10.4 and forward will handle this better, and this change will bring this app in line with other AGOL templates.

[2016-01-11 16:18] allisonmuise commented on #85
Map/layer selection panel draws on the left side of the screen under the header bar. Map/layer selection behavior is generally consistent with the current app, with the exception that the panel 'closes' when not in use. Panel can be opened/closed by clicking/tapping a tab on the right side of the panel.

(Image of this UI to follow. Description of actions below)

If the group contains more than on

[2016-01-11 16:23] allisonmuise opened #95 "Expand app header across full width of app"
App header is currently broken into  two sections: one with the app title & logo and one with the title of the currently selected layer and the other widget icons.

App header should contain the logo in the left corner followed by the app title, and the widgets on the right side. (like all our other apps)

Layer title will move to immediately above the table.

[2016-01-11 17:00] allisonmuise opened #96 "Remove editing functionality from table"
Records in table can be sorted, scrolled, and selected (also reflect selection in map), but not edited.

Editing functionality will be moved to the popup details panel

[2016-01-11 17:06] allisonmuise opened #97 "Update table record/map feature selection behavior"
Remove concept of 'active vs selected' features.

- Clicking/tapping a record in the table selects that table record and the corresponding map feature.
- Clicking/tapping another record switches the selection to that record/feature
- CTRL+Click or tap-and-hold on another record/feature adds to the selection

When a single record/feature is selected, display the information for that feature in the

[2016-01-11 17:11] allisonmuise opened #98 "Filter map and table by time"
AGOL maps can be configured to display only features found withing a configurable, adjustable time frame. Expose this time filtering functionality in the application to allow review of incidents from particular time windows. Configuration for this setting will be done in the web map.

Use case examples: review outstanding incidents in 1 week blocks, review incidents submitted in the past 24 hours.

[2016-01-11 17:16] allisonmuise opened #99 "Filter map and table by attribute values"
Layers in AGOL maps can be configured to filter features using end-user specified values on one or several configured fields.

Expose these 'Ask for values' filters in MAnager to allow users to filter the map and table to only features with specific values.

Filters should honor prompts, hints, and other filter settings set in the map.

Multiple filters should be cumulative. For example, if two fi

[2016-01-11 17:18] allisonmuise commented on #87
Split into #98 and #99

[2016-01-11 17:18] #87 closed

[2016-01-11 17:26] allisonmuise opened #100 "Create new 'Details' panel"
Users would like to be able to view the report location and the report details at the same time. They would also like a better image viewer and a better means to review and edit related records (comments). These three functions will go in a new, tabbed Details panel that will occupy half the space currently occupied by the map.

Remove 'View more details' button from map
Reduce map-occupied space

[2016-01-11 18:08] allisonmuise opened #101 "Popup content/editing panel"
The first tab in the new Details panel, this tab will display the popup content as configured in the web map. Below the popup content display thumbnail links to non-image attachments (word docs, pdfs, etc)

This tab will always be present.

On layer load, no features will be selected so display a configurable message 'Select a feature to get started.' in the panel. This message should be editable

[2016-01-11 19:40] allisonmuise opened #102 "Media panel"
The second tab in the new Details panel, this tab will display any  image attachments, images referenced in the popup configuration (including images by URL reference), and any charts/graphs configured in the popup configuration. These will not display as thumbnails, they will display as large as possible in the ~1/4 screen panel without skewing the image/graphic.

If more than one image/graphic i

[2016-01-11 20:06] allisonmuise opened #103 "Related records panel"
The third tab in the new Details panel, this tab will display the comments related to the selected record. Each comment should display per either the popup configuration or the specified comment field (depending on the configuration option selected).

If a record does not have comments, hide this tab.
If multiple records are selected, hide this tab.

Comments should be listed vertically, one after

[2016-01-11 20:08] allisonmuise commented on #75
See #97 and #101

[2016-01-11 20:08] #75 closed

[2016-01-11 20:10] allisonmuise commented on #86
This issue has been split into #96, #97 #98 #99 #100

[2016-01-11 20:10] #86 closed

[2016-01-11 22:23] allisonmuise commented on #85
cc @ddred12

[2016-01-20 22:47] allisonmuise commented on #89
verified

[2016-01-20 22:47] #89 closed

[2016-01-20 22:47] allisonmuise commented on #83
verified

[2016-01-20 22:47] #83 closed

[2016-01-20 22:49] allisonmuise commented on #78
verified

[2016-01-20 22:49] #78 closed

[2016-01-20 22:52] allisonmuise commented on #80
verified

[2016-01-20 22:52] #80 closed

[2016-01-20 22:59] allisonmuise commented on #82
verified

[2016-01-20 22:59] #82 closed

[2016-01-28 17:15] allisonmuise commented on #91
verified

[2016-01-28 17:15] #91 closed

[2016-01-28 17:15] allisonmuise commented on #81
verified with colorado service from J Smith

[2016-01-28 17:15] #81 closed

[2016-01-29 12:21] CTLocalGovTeam commented on #85
@allisonmuise

* Do we need to disable the table, map, timeslider and popup details panel or just the buttons displayed in top bar(including sign-in)?
* Since layer selection is mandatory on load to proceed, do we need to disable the arrow button to collapse map/layer selection panel?
* When user signs in, we think that we should retain the state of map/layer selection panel, i.e., if it was open,

[2016-01-29 12:48] CTLocalGovTeam commented on #98
@allisonmuise
The default behavior of the app is to load all features from layer in table and map. When a time window is applied, do we need to filter rows in table in addition to features on map? or do we continue showing all rows in the table?

[2016-01-29 23:18] allisonmuise commented on #98
@CTLocalGovTeam : The idea is to filter both the table and the map. I don't think the playback functionality is necessary in this app - just the filtering aspect of the time slider. Is possible to separate the two functions and implement only the filtering?

[2016-01-29 23:27] allisonmuise commented on #85
@CTLocalGovTeam

Everything but the sign in and map selection panel should be disabled. I imagine this something like what you do for the current help window in Reporter where the 'inactive' parts of the screen are all greyed out.

Layer selection is only mandatory because i think that was a technical limitation of loading the app. If it's not, the first layer doesn't need to load. Regardless, yes

[2016-02-01 15:11] CTLocalGovTeam commented on #85
@allisonmuise
The limitation is that the map container needs a webmap to spin itself up. This is the reason we are auto-loading the first layer of the first webmap. If we decide not to auto-load, an alternative is to display a map with just the first basemap available in the Org. Otherwise, we will have to display three empty boxes (table, details, map) to the right of map/layer selection panel. O

[2016-02-01 15:29] CTLocalGovTeam commented on #97
@allisonmuise

When multiple features are selected,
* CTRL-click on a selected feature will unselect it.
* If user single-clicks on a selected feature(from selected set), only that feature will remain selected and other selections will be lost.
* If user single-clicks a feature that is not selected, only that feature will remain selected and other selections will be lost.

Is this ok?

On tablets,

[2016-02-01 22:00] allisonmuise commented on #97
@CTLocalGovTeam : On second thought - there's no  current need to do multiple selections on tablets, so let's not worry about this for this release. Just Shift/ctrl click on desktops with the behaviors you've described above..

[2016-02-01 22:02] allisonmuise commented on #85
@CTLocalGovTeam : Since we want users to select something before beginning, let's go with an empty table, empty details area, and the basemap only in the map area.

[2016-02-02 10:21] CTLocalGovTeam commented on #99
@allisonmuise

We wanted to confirm if the ability to design/create a filter is to be provided in the Manager app, or that the app is expected to only display these filters in the Manager app.

The 'Create' tab is used to design and apply filters in the webmap. Are we expected to provide this facility in the manager app as shown in the screengrab below?
![image](https://cloud.githubusercontent.com

[2016-02-02 16:49] allisonmuise commented on #99
@CTLocalGovTeam : Manager will only display filters that have been set in the web map - essentially the content on the Change tab.

[2016-02-03 18:14] allisonmuise commented on #85
On app load (minus the loaded content per previous discussion):
![picture1](https://cloud.githubusercontent.com/assets/2752195/12792035/c054058a-ca5e-11e5-90ec-1d831f5ee301.png)

After layer selection:
![picture3](https://cloud.githubusercontent.com/assets/2752195/12792053/d6feb230-ca5e-11e5-9311-648036218825.png)

[2016-02-03 18:16] allisonmuise commented on #98
![picture3](https://cloud.githubusercontent.com/assets/2752195/12792118/2ce715d4-ca5f-11e5-9775-1a3564d5043c.png)
see ppt sent via email for additional details re: styling

[2016-02-03 18:18] allisonmuise commented on #99
![picture6](https://cloud.githubusercontent.com/assets/2752195/12792186/7c142ae8-ca5f-11e5-82c9-b588924745fd.png)
see ppt sent via email for additional details re: styling

[2016-02-03 18:19] allisonmuise commented on #101
![picture3](https://cloud.githubusercontent.com/assets/2752195/12792216/9b43b442-ca5f-11e5-88d0-8b32bde309b1.png)
![picture2](https://cloud.githubusercontent.com/assets/2752195/12792219/9d66d218-ca5f-11e5-9f94-9574e07b34d1.png)

see ppt sent via email for additional details re: styling

[2016-02-03 18:20] allisonmuise commented on #102
![picture4](https://cloud.githubusercontent.com/assets/2752195/12792229/b078ada4-ca5f-11e5-9ae2-fe691203ec75.png)

see ppt sent via email for additional details re: styling

[2016-02-03 18:21] allisonmuise commented on #103
![picture7](https://cloud.githubusercontent.com/assets/2752195/12792265/e3e8ab76-ca5f-11e5-80cb-f29914f99263.png)

see ppt sent via email for additional details re: styling

[2016-02-04 13:52] CTLocalGovTeam commented on #85
@allisonmuise
Some questions on the mockups,

1. The map/layer selection panel is always to be displayed as an overlay in the app, i.e., it will overlap the table and details panel. The map, table and details panel wont resize when the map/layer selection panel is opened. Correct?
2. The timeslider is displayed only for time-enabled layers. The bar containing the timeslider will be hidden and the

[2016-02-04 14:04] CTLocalGovTeam commented on #92
@allisonmuise

1. When multiple features are selected, the last feature that was selected, will be reflected in the URL. Correct?
2. Do we also need to populate the URL with the map extent? or just zoom to that feature?
3. When a time-aware layer is used, and the time extent is changed, do we also need to reflect this in the URL? This will be required in cases where a feature may not lie in the in

[2016-02-04 14:12] CTLocalGovTeam commented on #95
@allisonmuise
The styling specs recommends that 'Search will open to the left'.

![image](https://cloud.githubusercontent.com/assets/2959186/12817220/ea18d60c-cb76-11e5-991c-eceb39a64d55.png)

Whereas current implementation is a box that opens as shown below

![image](https://cloud.githubusercontent.com/assets/2959186/12817254/33f37020-cb77-11e5-85c4-d836a5ffbdff.png)

Do we need to modify this as

[2016-02-04 14:58] CTLocalGovTeam commented on #98
@allisonmuise
Yes, it is possible to remove playback animation controls and implement only filtering.

1. Does the time labels displayed below the two thumbs on the slider, need to move along with the thumb as shown in the mockup? Because, when the thumbs are very close to each other, the time labels may overlap.
ArcGIS Online Map Viewer displays the time labels in a fixed place as shown below.
![

[2016-02-04 15:35] CTLocalGovTeam commented on #99
@allisonmuise,

1. Only filters that are set to 'ask for values' in webmap are to be displayed. Correct?
2. Our understanding of the mockup is that filters are to be displayed for each field separately. It's possible that the same field is used multiple times, then in such case, the filtering options will contain multiple items. How about cases where a large number of filters are set using a singl

[2016-02-04 16:56] allisonmuise commented on #95
@CTLocalGovTeam :The current search that drops down is fine.

[2016-02-04 17:27] allisonmuise commented on #99
@CTLocalGovTeam

Correct

Yes, I'm good with a scroll bar. How about if the window expands to a % of the current screen height and then a scroll bar appears?

Display the filter icon only when an 'Ask for values' filter has been applied. The filter icon should not be displayed if there is no filter, if the filter is not used, or if the filter is a static filter applied in the web map and not acces

[2016-02-04 17:42] allisonmuise commented on #85
Correct

Correct

Ideally, I would like to go with the calcite table. It's lightweight and looks closest to the new ops dashboard and soon tables throughout AGOL.
That being said:
- In your opinion, how does the gain in performance compare to the risk associated with building in the filtering and sorting functions manually?
- I have no concept of the time required to do the work outlined in these

[2016-02-04 17:50] allisonmuise commented on #92
I believe this will work. The end goal is that users who have paired this application up with GeoEvent Server will be able to generate an email or text message with a constructed URL that will load the app directly to a specific report. The map id and layer id will need to be hard-coded in advance, I imagine, but this should fulfill that requirement.

Correct

Zoom to the feature is preferred

Cor

[2016-02-04 18:08] allisonmuise commented on #98
@CTLocalGovTeam

IMO the AGOL viewer's labels are more helpful in playback than in setting a specific range, but you make a good point about squishing together labels on the handles. Could we put a single label under the time slider that says *(start datetime)* to *(end datetime)* and updates as the handles are moved?

Can filtering via attributes and time be disabled when that panel is in edit mo

[2016-02-04 18:40] allisonmuise commented on #99
@CTLocalGovTeam

@MikeMillerGIS and I discussed the fact that, in order to create a filter in AGOL, a default filter value must be applied, and the filters cannot be fully cleared. Could you let us know if the following would be possible?

- Add a check box parameter to the configuration file that allows users to turn off the default filter values on app load. This parameter should be enabled by d

[2016-02-05 11:29] CTLocalGovTeam commented on #85
The gain in performance will be significant as compared to the risk in building the filtering and sorting manually.

No. We will be able to meet June release with the calcite table too.

Though this can be done, it will be difficult to achieve and maintain further

Our additional thoughts on this are that even with the current table, it is anyway going to require substantial dev time for adding th

[2016-02-05 11:35] CTLocalGovTeam commented on #98
Yes. Center aligned below the slider?

Yes. we can disable search filter, attribute filters and time slider and display a helpful message.

[2016-02-05 12:07] CTLocalGovTeam commented on #99
Yes.

Sorry for asking this again. Do we display the filter icon only when a user applies the filter by changing the default value in the app? Or display the icon on app load, since the filter has a default value and is already in effect?

This works with date fields. Please see below.
![image](https://cloud.githubusercontent.com/assets/2959186/12845465/12dc032e-cc2c-11e5-9604-184709c754af.png)

F

[2016-02-05 16:59] allisonmuise commented on #98
@CTLocalGovTeam : sounds good. Thanks.

[2016-02-05 17:00] allisonmuise commented on #85
@CTLocalGovTeam : Ok, based on the above, I am leaning towards proceeding with the Calcite+Bootstrap table. Please let me know if you run into any other potential issues and we can re-evaluate.

[2016-02-05 17:57] allisonmuise commented on #99
@CTLocalGovTeam

The questions above are all related so I will answer them together:

Yes, let's still add a parameter to the configuration panel that will control how if filters are loaded when the app initializes.

The user scenario here is: A large number of fields have a large number of filters available. When the app loads, if all these filters are applied there may not be any visible feature

[2016-02-10 10:43] CTLocalGovTeam opened #104 "Upgrading dependent static libraries"
@allisonmuise ,

Considering all the new enhancements we are planning to do a complete revamp of CS Manager. We find various dependent static libraries like bootstrap, JQuery, etc., with reference to their old version. The following lists all the existing references against their latest versions:

![image](https://cloud.githubusercontent.com/assets/2959186/12944864/f8a975f8-d00f-11e5-92cb-143b69e7

[2016-02-10 10:59] CTLocalGovTeam opened #105 "ArcGIS JavaScript API version 4.0"
@allisonmuise ,

After considering all enhancements we find it is easier to revamp CS Manager than to make changes in the existing code base. We can revamp either using ArcGIS JS API 3.15 or 4.0 beta 3. However, as 4.0 beta 3 is a framework change, upgrading from 3.15 to 4.0 will once again require a revamp and considerable efforts. And upgrading from 4.0 beta 3 to 4.0 final release is expected to

[2016-02-10 11:02] CTLocalGovTeam commented on #99
@allisonmuise ,

Yes, Instead of toggle we can add clear button as a simple X

[2016-02-10 13:24] allisonmuise commented on #104
@CTLocalGovTeam : Yes, let's upgrade these libraries as part of this project.

[2016-02-10 13:28] allisonmuise commented on #105
@ScottOppmann @MikeTschudi What do you think? @MikeTschudi Am I remembering correctly that 4.0 won't support 2D?

[2016-02-10 13:29] allisonmuise commented on #99
@CTLocalGovTeam : Thanks. Was the rest of the explanation clear? I am traveling today and won't be on the call. Let me know if you'd like to set something up later in the week to discuss.

[2016-02-10 13:51] ScottOppmann commented on #105
@allisonmuise - I think the 4.0 API supports 2d and 3d but @MikeTschudi should confirm.  I don't believe webmaps are currently supported in the 4.0 API and we should confirm they will be in Beta 3 before proceeding down this road.  Also should recognize that we will be introducing additional risk building on the 4.0 API and may very well find other gaps as we get further in to development.

[2016-02-10 16:21] MikeTschudi commented on #105
We're in 4.0 final release at this time--beta 3 is obsolete.

4.0 has moderate support for 2D.  Abilities that we're used to such as editing, printing, searching feature layers using the Search widget, or zooming to a selected feature are not present in the first release.  The most important limitation for us is that it does not support webmaps at all; they may be moved up to as early as 4.1, but

[2016-02-11 00:15] allisonmuise commented on #105
@CTLocalGovTeam : per the above comments, please build this Manager update on jsdev 3.16.

[2016-02-12 09:53] CTLocalGovTeam commented on #92
@allisonmuise
When a time-aware layer is used, and the time extent is changed, do we also need to reflect this (starttime, endtime) in the URL? This may be required in cases where a feature may not lie in the initial time extent.

[2016-02-12 11:04] CTLocalGovTeam commented on #99
@allisonmuise

When filter parameter is unchecked in configuration panel, we understand that the fields will not display a filter icon on load and all filters asking for values, as set in the webmap will be ignored on load.
In this case, do we display the filter options for each field in inactive state on load, and let the user activate a filter later?,  OR does the unchecking in configuration pan

[2016-02-12 11:23] CTLocalGovTeam commented on #98
@allisonmuise

AGOL Map Viewer allows users to disable time animation as shown in graphic below. So, if its disabled for a layer in webmap, we do not show the time slider in Manager app for that layer. Correct?

![image](https://cloud.githubusercontent.com/assets/2959186/13005609/05b34eaa-d1a9-11e5-84b5-5627d5cdb584.png)

[2016-02-12 15:33] allisonmuise commented on #99
Yes

No

Since we are modelling this experience after Excel, I'm gong to say that we don't need a sort order indicator. Excel doesn't show one and we have very little space to work with.

Yes, if no filters are applied, show the menue drop down arrow instead of the filter icon.

[2016-02-12 16:38] allisonmuise commented on #98
@CTLocalGovTeam : This is correct.

[2016-02-24 10:01] CTLocalGovTeam commented on #101
@allisonmuise
When attachments are enabled for a layer, and no 'non-image' attachments are available for a selected feature, do we display the 'Attachments' section title with the text 'No attachments found', OR
we don't display the 'Attachments' section title at all?

[2016-02-24 10:29] CTLocalGovTeam opened #106 "Using third party table sorting plugin for sorting fields in the table"
@allisonmuise
As recommended in the mockups, we are using the bootstrap bordered table with calcite css overrides for displaying the feature layer table. In order to implement sorting functionality, we need to use a third party plugin and propose to use this [jQuery TableSorter](http://tablesorter.com/docs/) plugin that we can integrate with.
Please let us know if we can go ahead and use this.

[2016-02-24 10:54] CTLocalGovTeam opened #107 "Approach for displaying default basemap of the Org on initial load"
@allisonmuise
On initial load, before user selects a layer to load, the map needs to display the default basemap of the Org. To implement this, our initial thought was to load this from the `defaultbasemap` property in Org properties.
![image](https://cloud.githubusercontent.com/assets/2959186/13283032/dadc830a-db11-11e5-935e-1c7a8d80b0d9.png)

Is it ok to safely assume that the `baseMapLayers` in

[2016-02-24 14:53] allisonmuise commented on #101
@CTLocalGovTeam : Don't display the attachments section at all

[2016-02-24 14:54] allisonmuise commented on #106
@CTLocalGovTeam : Please discuss on the call this AM

[2016-02-24 14:57] allisonmuise commented on #107
@CTLocalGovTeam : Please use the second approach. The goal is just to show something in that space before the user begins work, so let's go with the more straightforward approach.

[2016-02-24 14:58] allisonmuise commented on #92
@CTLocalGovTeam : Let's discuss this on the call this morning

[2016-02-24 22:44] allisonmuise opened #108 "Add support for maps with multi-layer basemaps"
Multi-layer basemaps are going to be new at 4.1. Manager currently doesn't support them, so this functionality will need to be added.

[2016-02-25 12:45] CTLocalGovTeam opened #109 "Remove Sign-in button and associated code"
@allisonmuise
Since authentication will now be handled at the app item level by making it private/public,
* Do we need to show the user name when a user logs in? Sign-in can be triggered by the app-item or a map-item.
* If we don't display the username, how does the user sign out?
* If user is already signed in another tab, the app should auto-sign in. Correct?
* Do we also remove code written to

[2016-02-25 16:16] allisonmuise commented on #92
@CTLocalGovTeam : After further thought, we are going to defer this change. No work required at this time.

[2016-03-01 00:14] skrishn opened #113 "Fix typo in defaults.js file"
Line # 37 in https://github.com/Esri/crowdsource-manager/blob/master/config/defaults.js

Change dreated  to created

[2016-03-03 19:45] allisonmuise commented on #109
Let's leave the sign in button

[2016-03-03 19:46] allisonmuise commented on #106
go ahead with this plugin

[2016-03-04 18:48] allisonmuise opened #114 "add indicator for records with related records/attachments"
indicate in table when a record has attachments or related records

[2016-03-04 18:51] allisonmuise opened #115 "Add records count to UI"
Add the number of records currently in the table to the UI - upper right corner of the table?

[2016-03-04 18:52] allisonmuise opened #116 "Add item counts to details tabs"
Add the number of related records to the title of the related records tab, and the number of media items (attached photos & popup media) to the title of the media tab.

[2016-03-07 14:58] CTLocalGovTeam opened #117 "Using third party plugin for fixing table header while scrolling"
@allisonmuise

As recommended in the mockups, we are using the bootstrap bordered table with calcite css overrides for displaying the feature layer table. Currently when there are more features in the data viewer, vertical scroll bar appears. While scrolling it, table header also gets scrolled. To keep table header fix, we need to use this [StickyTableHeaders](https://github.com/jmosbech/StickyTab

[2016-03-10 04:06] allisonmuise commented on #117
@MikeTschudi : After dev summit, could  you take a look at this and confirm that this is a plugin we can ship and use?

[2016-03-10 04:29] MikeTschudi commented on #117
I believe that we can use it because it is identical to the [MIT license](https://opensource.org/licenses/MIT), which is [considered by Apache to be compatible](http://www.apache.org/legal/resolved.html#category-a).  We must include the copyright statement with the plugin to be compliant with the license.

[2016-03-10 21:20] allisonmuise commented on #117
@CTLocalGovTeam : Please proceed

[2016-03-17 05:03] CTLocalGovTeam opened #119 "Display icons for non-image attachments"
@allisonmuise

We are thinking of displaying the file extension in uppercase, overlaid on top of the existing icon. This way, we will be able to support all kinds of file types and eliminate the need to maintain and display icons only for major file types.

Please let us know if this is ok.

![image](https://cloud.githubusercontent.com/assets/2959186/13836855/d5828b68-ebc2-11e5-9189-806c0f0c43b0.p

[2016-03-17 14:51] allisonmuise commented on #119
Yes, that works for me.

[2016-03-17 15:07] CTLocalGovTeam commented on #119
@allisonmuise

Here is the screenshot of scenario were user hovers the non image attachment(see first attachment). Since we have less space to show the document name, we will show ellipsis if name is too long.

![img1](https://cloud.githubusercontent.com/assets/2959186/13850239/1a4967fa-ec7f-11e5-83ef-45207d37054f.png)

[2016-03-17 15:21] allisonmuise commented on #119
:+1:

[2016-03-23 13:41] CTLocalGovTeam opened #122 "Question: Icon size of App header in tablets/Ipad"
@allisonmuise
We had a question regarding the icons size in app header for Ipad/tablets.

In last version of Manager application, the icons size in app header in tablets (60px in  height) were slightly larger than the desktops browsers. (50 px in height). Inclusive to this, we think keeping the size of icons slightly larger will be easier to tap to open the widgets.

![img_0070](https://cloud.gith

[2016-03-23 15:23] allisonmuise commented on #122
Let's keep the icons in both environments at 20px, and keep the header height the same in both as well.

[2016-03-23 15:38] CTLocalGovTeam opened #123 "Mockup options for position of Help icon and Sign in button"
@allisonmuise

We mocked up the options to position the help icon and sign in button as discussed.

Please let us know you think about these.

![image](https://cloud.githubusercontent.com/assets/2959186/13990711/879f84cc-f0d2-11e5-9781-d29018472a1c.png)

![image](https://cloud.githubusercontent.com/assets/2959186/13990727/91943338-f0d2-11e5-9eac-789e09b91164.png)

![image](https://cloud.githubuser

[2016-03-23 18:29] allisonmuise commented on #123
I like option 5. I like that help icon too!

[2016-03-25 05:29] CTLocalGovTeam opened #124 "Unable to submit form if selected features having different values for required field"
@allisonmuise

In case of multiple feature selection, currently supported scenarios are-

1. if selected features having same value for a field then, respective input field in popup form will be shown with field value.

2. if selected features having different values for a field then, respective input field in popup form will be shown with empty value. if user does not change its value and submit

[2016-03-25 16:02] allisonmuise commented on #124
Is it possible to only validate form fields that have values? I can see many use cases where a field may be required and populated with an assortment of values that the user does not want to change. While that field in the form may be empty, that field in the data is not.

For example, each feature may have a required field for the assignee. Many reports currently assigned to all workers are ready

[2016-03-26 09:18] CTLocalGovTeam commented on #124
@allisonmuise ,

Yes, It is possible to only validate form fields that have values.

Popup-form behavior after incorporating above change in following scenarios :

1. If selected features having different value for a required field then,
     a. Empty value will be shown in respective input field.
    b. Without changing the value user will be able to submit the form without getting any validation

[2016-03-26 09:32] CTLocalGovTeam opened #125 "Approach used to display charts in media tab"
To page through multiple charts in media panel, we use "_goToPrevMedia" and "_goToNextMedia" methods. This is the same as used in esri info window class internally. So Using these methods we are able to generate Charts dynamically on the click of 'next' and 'previous' arrow buttons in the Media tab.

We also verified that the above mentioned private method is available in ArcGIS JS API 3.13/3.14/3

[2016-03-28 15:55] allisonmuise commented on #125
@CTLocalGovTeam
Yes Garima, go ahead.

[2016-03-28 15:56] allisonmuise commented on #124
@CTLocalGovTeam
The behaviors above are correct.
Thanks Varsha

[2016-03-29 07:25] CTLocalGovTeam commented on #125
@allisonmuise ,

We have implemented this in last [Merge Request](https://github.com/Esri/crowdsource-manager/pull/126)

Please check this fix also.

-- Pratik Gohil

[2016-03-29 18:00] #109 closed

[2016-03-29 18:00] #105 closed

[2016-03-29 18:00] #104 closed

[2016-03-30 05:59] CTLocalGovTeam commented on #123
@allisonmuise ,

We have implemented this in last [Merge Request](https://github.com/Esri/crowdsource-manager/pull/126)

Please check this fix also.

-- Pratik Gohil

[2016-03-30 06:00] CTLocalGovTeam commented on #119
@allisonmuise ,

We have implemented this in last [Merge Request](https://github.com/Esri/crowdsource-manager/pull/126)

Please check this fix also.

-- Pratik Gohil

[2016-03-30 10:07] CTLocalGovTeam commented on #115
@allisonmuise
This is not implemented yet. If you'd like us to implement this, please let us know. We are thinking of a label "No of records: 28" at the upper right corner of the table.

[2016-03-30 10:09] CTLocalGovTeam commented on #116
@allisonmuise
As discussed, displaying the number of media items is not required in current release.
Displaying the number of related records is implemented.

[2016-03-30 14:41] allisonmuise commented on #115
Yes, please

[2016-03-30 14:42] allisonmuise commented on #116
This is correct. Thanks.

[2016-04-06 20:26] allisonmuise commented on #124
verified

[2016-04-06 20:26] #124 closed

[2016-04-06 20:27] allisonmuise commented on #123
verified

[2016-04-06 20:27] #123 closed

[2016-04-06 20:28] #117 closed

[2016-04-06 20:30] allisonmuise commented on #116
Related record count button should be in theme color

[2016-04-06 21:12] allisonmuise commented on #107
verified

[2016-04-06 21:12] #107 closed

[2016-04-06 21:13] allisonmuise commented on #106
verified

[2016-04-06 21:13] #106 closed

[2016-04-06 21:14] allisonmuise commented on #103
verified

[2016-04-06 21:14] #103 closed

[2016-04-06 21:14] allisonmuise commented on #102
verified

[2016-04-06 21:14] #102 closed

[2016-04-06 21:15] allisonmuise commented on #101
verified

[2016-04-06 21:15] #101 closed

[2016-04-06 21:15] allisonmuise commented on #100
verified

[2016-04-06 21:15] #100 closed

[2016-04-06 21:16] allisonmuise commented on #97
verified

[2016-04-06 21:16] #97 closed

[2016-04-06 21:16] allisonmuise commented on #96
verified

[2016-04-06 21:16] #96 closed

[2016-04-06 21:16] allisonmuise commented on #95
verified

[2016-04-06 21:16] #95 closed

[2016-04-06 21:17] allisonmuise commented on #85
verified

[2016-04-06 21:17] #85 closed

[2016-04-07 20:15] allisonmuise commented on #119
verified

[2016-04-07 20:15] #119 closed

[2016-04-07 20:20] allisonmuise commented on #108
verified

[2016-04-07 20:20] #108 closed

[2016-04-07 20:27] allisonmuise commented on #122
verified

[2016-04-07 20:27] #122 closed

[2016-04-11 05:12] CTLocalGovTeam commented on #115
@allisonmuise ,

We have implemented this in last [Merge Request](https://github.com/Esri/crowdsource-manager/pull/127)

Please check this fix also.

-- Pratik Gohil

[2016-04-11 05:28] CTLocalGovTeam commented on #116
@allisonmuise ,

Accidentally, this issue was tagged in the last [Merge Request](https://github.com/Esri/crowdsource-manager/pull/127).
We are analyzing the recent change request of this issue, and will update you on this.

--Pratik Gohil

[2016-04-13 21:37] allisonmuise commented on #115
verified

[2016-04-13 21:37] #115 closed

[2016-04-13 21:40] allisonmuise commented on #98
verified

[2016-04-13 21:40] #98 closed

[2016-04-13 21:52] allisonmuise opened #129 "images with links have incorrectly built URLs"
When an image is added to the popup with a URL in the Link parameter, clicking the image in the web map popup opens that URL. Clicking the image in Manager attempts to open the URL of the application with the link appended to the end.

For example:

An image is added to the popup with the following parameters:
![2016-04-13 2-48-35 pm](https://cloud.githubusercontent.com/assets/2752195/14510532/dad

[2016-04-13 21:54] allisonmuise opened #130 "Expose image caption, title"
Display image/chart title centered above graphic

Display image/chart caption centered below graphic. In cases where caption doesn't fit on one line, end with ellipsis and show full caption on hover.

[2016-04-13 21:57] allisonmuise opened #131 "Image sizes in Media tab"
The dimensions of the graphics shown in the media tab always seem to be the same as the thumbnail shown in the AGOL popup, even if the image is considerably larger and even if there is more room available on the Media tab.

The goal of this tab was to show larger than thumbnail images. Is it possible to fit the image to the size of the media tab space?

[2016-04-13 22:04] allisonmuise commented on #130
@CTLocalGovTeam : Could you evaluate this to see if it could be done for the 4.2 milestone?

[2016-04-13 22:05] allisonmuise commented on #125
verified

[2016-04-13 22:05] #125 closed

[2016-04-13 22:07] allisonmuise opened #132 "update default value of filter defaults setting"
currently false by default. should be true for backwards compatibility

[2016-04-13 22:15] allisonmuise opened #133 "Default filter values on app load"
When filters are applied on app load, fields that have default filter values do not appear to have filters applied, even though only a subset of the data is visible in the table and map.

- Filter graphic is the white 'no filter applied' graphic
- no value shows in the filter box
- no option to clear the filter
- only 1 of 2 records visible (expected only when default filter applied)

![2016-04-13

[2016-04-13 22:20] allisonmuise opened #134 "Sorting text cut off"
The hanging 'g's are cut off on each line of text. Can they be given an extra pt or 2 of space?

![2016-04-13 3-20-32 pm](https://cloud.githubusercontent.com/assets/2752195/14511288/486905a2-018b-11e6-9980-0cd4fb1d9747.png)

[2016-04-13 22:23] allisonmuise commented on #99
verified. separate tickets will be opened for specific issues

[2016-04-13 22:23] #99 closed

[2016-04-14 07:40] CTLocalGovTeam commented on #133
@allisonmuise ,

We are unable to reproduce this issue.
Can you please share an app

--Pratik Gohil

[2016-04-14 14:06] CTLocalGovTeam commented on #131
We checked at our end and saw that media tab always displays the image as the thumbnail shown in AGOL irrespective of its larger dimensions.

We will implement the change here. Now if an image has larger dimensions, we will fit the image to the size of media tab without distorting the image.

[2016-04-14 14:16] CTLocalGovTeam commented on #134
Sure thing. We will implement this.

[2016-04-14 14:38] allisonmuise commented on #131
perfect. thanks!

[2016-04-14 14:42] allisonmuise commented on #133
URL sent via email

[2016-04-14 17:30] allisonmuise opened #135 "App hangs if default basemap is not part of org's basemap group"
email 4/14/2016

Hi Allison,

We were able to repro this error by changing the basemap group of the org, without changing the default basemap (still points to Esri Default). Due to this, the app tries to look for Esri Default in the changed basemap group and is unable to find it. Looks like an AGOL issue. At times, we see it automatically changes the default based on the changed group, but doesn’t

[2016-04-14 17:47] allisonmuise commented on #116
verified

[2016-04-14 17:47] #116 closed

[2016-04-14 19:45] allisonmuise commented on #88
- [ ] ArcGIS Server Map Service
 - [ ] Tiled service
 - [ ] Feature service without editing capabilities
 - [ ] Editable feature service with editing disabled in the TOC
 - [ ] Editable feature service with no editable fields in popup

[2016-04-14 19:46] allisonmuise commented on #88
@CTLocalGovTeam
An Editable layer with no editable fields in the popup does not show as a supporting layer.

[2016-04-14 20:18] allisonmuise opened #136 "Refresh issue with time slider"
Adjusting the time slider immediately removes features from the map and table, but it only immediately adds them to the table. To add in features from a time filter, the slider must be adjusted twice.

I will send a video of this behavior.

[2016-04-15 06:38] CTLocalGovTeam commented on #129
@allisonmuise
We remember seeing this issue on our side in early dev, but are unable to repro this anymore. The issue we had noticed that although the url is incorrect, the page loads correctly.
On your side, is the page not loading at all?

[2016-04-15 09:12] CTLocalGovTeam commented on #129
@allisonmuise,

We are unable to reproduce this issue at our side & in the app link shared by you ([App link] (http://localgovtestdev.mapsdevext.arcgis.com/apps/CrowdsourceManager/index.html?appid=612278df714841859acbfb5b1875e82f))

![url-link-issue](https://cloud.githubusercontent.com/assets/2959186/14554844/0449557e-030d-11e6-9d24-2f328f219ea8.gif)

Can you please share an app which replicates t

[2016-04-18 10:13] CTLocalGovTeam commented on #130
@allisonmuise ,

We are planning to display image/chart title/caption as shown below. Title & Caption will be displayed in transparent bar & font style will be as per standard.

1.
![1](https://cloud.githubusercontent.com/assets/2959186/14600510/a91fc0a0-057a-11e6-921f-59b44ef3ac54.PNG)

2.
![2](https://cloud.githubusercontent.com/assets/2959186/14600539/ca45c89c-057a-11e6-91c9-ca1641f266ef.PNG)

[2016-04-18 15:47] allisonmuise commented on #130
I don't like that this obscures part of the graphic. Is that information only shown on hover, or is it always visible?

[2016-04-18 15:50] allisonmuise commented on #129
I can no longer repro the issue on that app, either, so I'll close this issue

[2016-04-18 15:50] #129 closed

[2016-04-18 15:55] CTLocalGovTeam commented on #130
@allisonmuise We could do it either way. Displaying it on hover actually makes more sense as it doesn't obscure part of the graphic.

[2016-04-18 16:38] allisonmuise commented on #130
Let's try with it displayed on hover

[2016-04-19 19:01] ldafner opened #137 "Add Search Capability"
Would be helpful to be able to search on layers in map. So not just scrolling through requests or clicking on map to access information,  but being able to search by attributes/fields...
- name of person who contributed
- type of issue submitted
- etc.

[2016-04-19 21:28] allisonmuise commented on #137
@ldafner This should work, already. Have you configured the search settings on the map? From the details page of the map in ArcGIS Online, edit the settings and scroll to near the bottom. You should be able to set the search up to search on those fields, and these settings should be reflected in the app. Let me know if this doesn't work for you.

[2016-04-19 21:34] allisonmuise commented on #137
Also - in the next version we'll take it one step further and allow filtering based on the filter configurations in the map.

[2016-04-21 03:41] allisonmuise opened #138 "add space in nls string for required fields"

[2016-04-28 17:43] allisonmuise opened #139 "Export selected rows to CSV"
to help integrate with other systems, it would be nice to be able to export selected rows from Manager to a csv file.

(Marshfield)

[2016-04-28 17:45] allisonmuise commented on #93
(Marshfield)
Adding related records to existing reports is critical for tracking and issue-response workflows. Not all info will be added from the field. Should also be able to add attachments to these related records.

[2016-04-29 22:44] allisonmuise commented on #138
Simply adding a space in the NLS files doesn't seem to resolve this. @CTLocalGovTeam  could you take a look? This refers to the '(required)' string that gets appended to the end of field aliases in the editing forms.

[2016-04-29 22:45] allisonmuise commented on #137
closing. Let me know if this doesn't work for you and I'll re-open this issue.

[2016-04-29 22:45] #137 closed

[2016-04-29 22:46] allisonmuise commented on #133
@CTLocalGovTeam : were you able to reproduce the issue with the app sent via email?

[2016-05-02 07:09] CTLocalGovTeam commented on #133
@allisonmuise,

Yes, we were able to reproduce this issue & will be fixed in upcoming code drop.

--Pratik Gohil

[2016-05-02 07:14] CTLocalGovTeam commented on #138
@allisonmuise ,

We didn't get this, can you please elaborate what the issue is ?

--Pratik Gohil

[2016-05-02 16:08] allisonmuise commented on #138
When a field does not accept null values, the string '(required)' is appended to the field alias in the geoform. Currently this is appearing without a space *field alias(required)* instead of *field alias (required)*.

I tried adding a space before the ( in the nls files, but that didn't seem to fix the issue. Could you add the space wherever it needs to go?

[2016-05-02 20:18] allisonmuise commented on #132
verified

[2016-05-02 20:18] #132 closed

[2016-05-03 11:38] CTLocalGovTeam commented on #138
@allisonmuise ,

The _field alias & (required)_ text are 2 separate pieces of text, that is why adding a space in nls won't work. We can include a space between them while displaying in the form.

The fix for this will be included in the next code drop.

--Pratik Gohil

[2016-05-03 18:28] allisonmuise opened #140 "improve loading speed of application"
The app is slow to load, and then slow to load each map. LEt's look for improvements in efficiency for next release.

[2016-05-03 21:55] allisonmuise opened #141 "Help optional?"
@CTLocalGovTeam

I know it's late in the dev process, so please tell me if this can't be done without jeopardizing the current delivery schedules for this and other apps:

Would it be possible to add a configuration option for the appearance of the help widget? The current app doesn't have a help widget, so ideally users would have the option to opt-in to this new function. This would need an addi

[2016-05-04 08:04] CTLocalGovTeam commented on #141
@allisonmuise ,

Yes, we can implement this without affecting other projects, however we would need 2 more days to deliver manager app.

--Pratik Gohil

[2016-05-04 15:49] allisonmuise commented on #141
@CTLocalGovTeam
Thanks, let's go ahead with this change. Sorry for not catching it earlier!

-Allison

[2016-05-04 18:01] allisonmuise opened #142 "remove reference to ArcGIS Online groups from item details page"
Portal!

[2016-05-05 10:57] CTLocalGovTeam opened #143 "Issue with feature layer when labels are added to it."
@allisonmuise ,

We have came across following issue with feature layer when labels are added to it.

Consider operational layer(with labels) is selected in webmap(its feature & labels gets displayed on map).

Issue 1:
When second operational layer(with labels) is selected in webmap, labels of previous selected operational layer is not removed.

Issue 2:
When feature is edited using popup, its val

[2016-05-06 19:52] allisonmuise opened #145 "When restrictive filters applied, they can't be cleared"
When a filter results in no features displaying, the table header disappears and there is no way to clear the filter.
Table header must always load, even when there are no features to display

[2016-05-06 19:56] allisonmuise opened #146 "time filter doesn't show all features when enableFilter is False"
The time filter should also allow all features to load when enableFilter is False, either by setting the two handles to the widest range ont he time slider or by setting the single handle tot he position that will load all features.

[2016-05-09 13:01] CTLocalGovTeam commented on #146
@allisonmuise ,

When enableFilter is False, we are setting the time-slider as you have suggested.

Case 1 : (1 handle)
Handle will be moved to the end of the time-slider.

Case 2 : (2 handles)
Second handle will be moved to the end of the time-slider.

We have implemented this and will deliver it in the upcoming build.

--Pratik Gohil

[2016-05-12 07:22] CTLocalGovTeam commented on #146
@allisonmuise
Just to confirm, the filtering piece in Manager only deals with filters which ask for values.
The time slider is actually not a filter within the app's context while still behaving like a filter.

Then there are filters which do not ask for values. These will always be honored regardless of enableFilter is False/True. Correct?

[2016-05-12 14:40] allisonmuise commented on #146
Correct

[2016-05-12 19:23] ScottOppmann opened #147 "Time values do not show when editing features"
When you configure time on a date field and attempt to edit a feature in Manager, the data picker shows but doesn't allow you to specify a time.  Date picker should allow users to specify a time much like crowdsource-reporter does now.

@allisonmuise - Would like to resolve prior to UC 2016 release.

[2016-05-12 19:25] ScottOppmann opened #148 "Improved Map Selection"
Add the ability to drag a box and select multiple records in the map window.

[2016-05-12 20:53] allisonmuise commented on #147
@CTLocalGovTeam : Could you look at the LOE to do this?

[2016-05-18 17:33] allisonmuise commented on #148
- selecting stacked features

[2016-05-18 17:34] MikeMillerGIS opened #150 "Enhancement - Ability to select multiple records on map"
Currently you can hold the control key and add to selection, but with stacked data, I am not able to get all the points at a location

Example:
![image](https://cloud.githubusercontent.com/assets/2707285/15368716/3f419664-1cfd-11e6-8d2d-296e8e2a2261.png)

@allisonmuise

[2016-05-18 17:38] allisonmuise opened #151 "Option to view only selected records in table"

[2016-05-18 18:00] MikeMillerGIS opened #152 "Show hyperlinked images and videos in the media panel"
If a field is a hyperlinked image, show in the media panel

[2016-05-18 18:02] MikeMillerGIS opened #153 "BUG-000099306 ArcGIS Online Crowdsource Manager App displays icon for attached files as .DOCX although the attached file type differs."
![image](https://cloud.githubusercontent.com/assets/2707285/15369557/2339d6bc-1d01-11e6-91ba-e84048919afd.png)
![image](https://cloud.githubusercontent.com/assets/2707285/15369565/2eeb0940-1d01-11e6-869b-de1b93724533.png)

[2016-05-18 18:03] MikeMillerGIS opened #154 "MP4 attachments not show in media carousel"
If possible, can the videos be shown in the media panel?

[2016-05-18 18:05] MikeMillerGIS commented on #152
currently, the popup detects this and shows more info.

[2016-05-20 12:34] CTLocalGovTeam commented on #150
@MikeMillerGIS , @allisonmuise ,

We have implemented multiple selection for stacked point data which can be delivered on Monday.

Do we also need to support polyline & polygon stacked selection ?

--Pratik Gohil

[2016-05-20 12:52] MikeMillerGIS commented on #154
@CTLocalGovTeam @allisonmuise Is this by design or a bug?

[2016-05-20 15:26] MikeMillerGIS commented on #150
for consistency, I would say yes, but I will defer to @allisonmuise

[2016-05-20 16:30] allisonmuise commented on #154
@MikeMillerGIS : In the design we only requested images and charts in the media panel. I wasn't aware that video support had been added to AGOL

[2016-05-20 16:41] allisonmuise commented on #150
@CTLocalGovTeam : Please hold on further development work on this. Can you describe the action for selecting multiple points how you have it currently implemented? How significant are the changes to the code? (trying to assess risk for including this post-code freeze and mid-testing)

[2016-05-20 16:42] MikeMillerGIS commented on #154
ok, changed label to enhancement

[2016-05-20 17:08] allisonmuise commented on #150
@CTLocalGovTeam : Please do not deliver this change. I am putting it in the queue for the next release.

[2016-05-23 20:50] allisonmuise commented on #138
verified

[2016-05-23 20:50] #138 closed

[2016-05-23 21:07] allisonmuise commented on #141
verified

[2016-05-23 21:07] #141 closed

[2016-05-23 21:09] allisonmuise commented on #146
verified

[2016-05-23 21:09] #146 closed

[2016-05-23 21:11] allisonmuise commented on #133
@CTLocalGovTeam : Now the default attribute values never seem to be applied. When enableFilter is true, I expect the map to load with the default filter values applied.

[2016-05-23 21:13] allisonmuise commented on #133
@CTLocalGovTeam I can still reproduce this issue. If you are unable to repro, I will demo on the call this week.

[2016-05-23 21:14] allisonmuise commented on #145
verified

[2016-05-23 21:14] #145 closed

[2016-05-23 21:15] allisonmuise commented on #136
verified

[2016-05-23 21:15] allisonmuise commented on #134
verified

[2016-05-23 21:15] #134 closed

[2016-05-23 21:16] allisonmuise commented on #131
verified

[2016-05-23 21:16] #131 closed

[2016-05-23 22:20] allisonmuise opened #155 "wrap image captions to multiple lines"
Handle the same as Map and App Gallery (with a greater number of characters allowed)

[2016-05-23 22:22] allisonmuise opened #156 "Image jumps on hover with large caption"
on hover, the image jumps to re-center under a very, very long caption. Image shouldn't move when caption is displayed.

[2016-05-23 22:22] allisonmuise commented on #130
verified

[2016-05-23 22:24] allisonmuise commented on #113
verified

[2016-05-23 22:24] #113 closed

[2016-05-23 22:30] #130 closed

[2016-05-23 22:30] #136 closed

[2016-05-24 10:28] CTLocalGovTeam commented on #133
@allisonmuise

The last code drop we delivered included a fix for this issue. We verified that by seeing the filter was being applied on load correctly on the url you shared by email.

We are still investigating this as we are unable to reproduce this. Can you please share an app where filters are not being applied when `enablefilter=true`?

[2016-05-24 15:13] allisonmuise commented on #133
@CTLocalGovTeam The filter is being applied because no records are loading in the table, but the filter icon is white, not black, so it LOOKS like no filters are being applied. There is also no filter value shown in the filter dialog and the 'clear' button is disabled.

This only happens on initial load, and I am using the code drop from ~8 days ago.

I do not have a URL to send, but I will show t

[2016-05-24 20:37] allisonmuise opened #157 "Intermittant TypeError in locally hosted app"
Note: I haven't been able reproduce this in the app hosted in devext using the same data

The error is produced only intermittently, but following these steps I'm seeing the error ~75% of the time:
1) Stand the app up on a web server and configure it to point to a group with 2 web maps, each with a single editable layer. (Same error with 1 map, but with 2 you can see that it's triggered by map sel

[2016-05-24 20:42] allisonmuise commented on #157
non-repro on after a reboot.

[2016-05-24 20:42] #157 closed

[2016-05-24 20:45] allisonmuise opened #158 "Layer with popup disabled does not display"
Editable layer without a popup should display as an uneditable layer when showNonEditableLayers is true

[2016-05-24 20:54] allisonmuise opened #159 "Map service and service with editing disabled always display under editable service"
Server Map services and other services without editing capabilities in the web map are always displayed by Manager with the editable layers above the uneditable layers.

Layers should appear in the same order as they are saved in the web map.

- This is the same change as the last commit for https://github.com/Esri/crowdsource-reporter/issues/147

[2016-05-24 20:54] allisonmuise commented on #88
verified. #159 outstanding

[2016-05-24 20:54] #88 closed

[2016-05-24 21:01] allisonmuise opened #160 "Labelling uneditable layers"
When an editable (to Manager) layer has labels, both the features and the labels draw as expected.

When an uneditable layer has labels, only the labels draw.

Uneditable layers are:
- Map services
- layers with no editable fields
- layers with editing disable
- services without editing capabilities
- layers without popups (untested #158 )

[2016-05-24 21:09] allisonmuise commented on #159
re-saved map and issue is gone

[2016-05-24 21:09] #159 closed

[2016-05-24 21:34] allisonmuise opened #161 "Labels occaisionally draw under their features"
Labels should always draw above all features to be consistent with AGOL.
(noticed with polygon layers)

[2016-05-24 21:35] allisonmuise commented on #161
@CTLocalGovTeam : This can be moved to 4.3 if high LOE or high risk change. Please let me know.

[2016-05-24 21:35] allisonmuise commented on #143
verified

[2016-05-24 21:35] #143 closed

[2016-05-24 22:23] allisonmuise commented on #135
verified

[2016-05-24 22:23] #135 closed

[2016-05-25 07:28] CTLocalGovTeam commented on #133
@allisonmuise
We found the root cause of this issue. This is occurring with fields with domains [0:No, 1:YES] and the filter is set to [1:YES] and the layer does not have any features with value [1:YES].

The app was trying to fill up the dropdown with distinct values from the layer's field instead of directly displaying all the domain values. In this case, there were no features with [1:YES] in t

[2016-05-25 07:31] CTLocalGovTeam commented on #161
@allisonmuise ,

This is a low LOE & low risk change. We can include this in the next code drop.

--Pratik Gohil

[2016-05-25 07:32] CTLocalGovTeam commented on #160
@allisonmuise ,

We are investigating this issue & will post an update soon.

--Pratik Gohil

[2016-05-25 10:13] CTLocalGovTeam opened #162 "Issue with types having multiple domains for the same field per type"
@allisonmuise

We have discovered an issue with a specific case where types are defined in the feature layer and based on the type, there are different domains applied to another field.

For e.g., type field is COUNTY and city field has multiple domains containing city names based on the county name as shown in the graphic below.

![image](https://cloud.githubusercontent.com/assets/2959186/1553626

[2016-06-02 16:16] CTLocalGovTeam opened #163 "Unable to remove a filter when there are no records due to other filters"
@allisonmuise

The following screenshot shows data in name and phone fields
![filter data](https://cloud.githubusercontent.com/assets/2959186/15751998/d4b30e4a-2909-11e6-9a25-82e3f68765f3.png)

Applied filters
![filter applied](https://cloud.githubusercontent.com/assets/2959186/15752041/f57b96ce-2909-11e6-9f4b-9550acc9970e.PNG)

As both filters result in zero records, when user tries to remove any

[2016-06-02 16:34] allisonmuise commented on #163
@CTLocalGovTeam : Good catch! Yes, please include this fix.

[2016-06-02 16:34] allisonmuise commented on #163
cc @skrishn

[2016-06-03 12:06] CTLocalGovTeam commented on #160
@allisonmuise ,

We have fixed issue for below uneditable layer

- Map services
- layers with no editable fields
- layers with editing disable
- services without editing capabilities
- layers without popups (untested #158 ) (Will be implemented in AGOL 4.3)

--Pratik Gohil

[2016-06-13 19:04] allisonmuise opened #165 "BUG-000097007 When adding a Map Image Layer in ArcGIS Online from a secured ArcGIS Server service with credentials saved and add it to a webmap, the layer does not load in the in the Crowdsource Reporter and Crowdsource Manager application."
<div><div>User is working with Crowdsource Reporter app downloadable from <a href="https://github.com/Esri/crowdsource-reporter" target="_blank">GitHub </a>but the issue is reproducible in ArcGIS Online web app version as well.
<ol><li>Create a <b>Map Image Layer</b> in ArcGIS Online as follows:
	<ul><li>Go to <b>My Content </b>page in ArcGIS Online and select <b>Add Item </b>option.</li><li>Provi

[2016-06-13 19:04] allisonmuise commented on #165
arcgis-portal-app-templates #1210

[2016-06-13 20:09] allisonmuise commented on #133
verified

[2016-06-13 20:09] #133 closed

[2016-06-13 21:20] allisonmuise commented on #161
verified

[2016-06-13 21:20] #161 closed

[2016-06-13 21:26] allisonmuise commented on #160
verified

[2016-06-13 21:26] #160 closed

[2016-06-13 21:26] allisonmuise commented on #163
verified

[2016-06-13 21:26] #163 closed

[2016-06-13 21:33] allisonmuise commented on #147
verified

[2016-06-13 21:33] #147 closed

[2016-06-13 22:56] allisonmuise commented on #148
duplicate #150

[2016-06-13 22:56] #148 closed

[2016-06-13 22:56] #142 closed

[2016-06-17 19:39] allisonmuise opened #167 "Manager table sorted backwards"
Manager table currently sorts issues in ascending order (newest at the bottom, oldest at the top) instead of descending order (newest at the top)

[2016-06-17 19:49] allisonmuise commented on #167
moved to devtopia for tracking

[2016-06-17 23:08] allisonmuise commented on #167
reopening and assigning to @CTLocalGovTeam

Team, can you take a look at this Monday morning. It's a regression that has been reported by customers. AGOL has added a patch for either Monday or Tuesday and I'd like to include this fix if possible. To do that I'll need a code drop by noon (Pacific) Monday.

[2016-06-17 23:15] allisonmuise opened #168 "Manager throws TypeError when org basemap group is not Public"
When the group used to create a Manager app contains more than 1 map, and when the org basemap group is either Private or only shared with the Org, the app throws a TypeError in the console and refuses to load even when credentials are provided.

@MikeTschudi implemented a short-term fix for this that catches if the basemap group doesn't exist and uses the topo map instead.

@CTLocalGovTeam  Could

[2016-06-22 07:03] CTLocalGovTeam commented on #168
@allisonmuise, @MikeTschudi

The root cause for this issue is that while getting the basemap group's info the app was creating a new portal object instead of using the one already initialized by the boiler plate. The portal object created by boilerplate has complete information after the user has logged in. Since the app was creating a new portal object without using credentials, it did not have a

[2016-06-22 14:58] allisonmuise commented on #168
@CTLocalGovTeam : Thanks. 10.5 will be built from the 4.3 AGOL release, so we'll put this fix in then.

[2016-06-22 15:57] allisonmuise commented on #167
verified

[2016-06-22 15:57] #167 closed

[2016-06-28 13:28] CTLocalGovTeam commented on #168
@allisonmuise,

We have implemented above fix & will deliver it in the next code release.

--Pratik Gohil

[2016-06-28 13:31] CTLocalGovTeam commented on #156
@allisonmuise ,

We are able to reproduce this issue & we are working on it.

--Pratik Gohil

[2016-07-08 05:59] CTLocalGovTeam commented on #151
@allisonmuise ,

We are planning to implement this functionality as shown below.

![picture1](https://cloud.githubusercontent.com/assets/2959186/16678336/b8bc4978-44fb-11e6-94ce-7eabc04e91b8.png)

Behaviour of the the functionality would be as described below :

1. Initially 'Selection options' icon would be disabled
2. On selecting feature 'Selection options' would be enabled
3. On clicking 'Show

[2016-07-08 06:04] CTLocalGovTeam commented on #158
@allisonmuise ,

We are working on this issue and will keep you updated.

--Pratik Gohil

[2016-07-08 06:05] CTLocalGovTeam commented on #155
@allisonmuise ,

We are working on this issue and will keep you updated.

--Pratik Gohil

[2016-07-08 06:07] CTLocalGovTeam commented on #152
@allisonmuise , @MikeMillerGIS

We are working on this enhancement and will keep you updated.

--Pratik Gohil

[2016-07-08 06:09] CTLocalGovTeam commented on #140
@allisonmuise ,

We are working on this enhancement and will keep you updated.

--Pratik Gohil

[2016-07-08 12:08] CTLocalGovTeam commented on #93
@allisonmuise ,

We are planning to provide 'Add Comment' button in comments tab as shown below
![image](https://cloud.githubusercontent.com/assets/2959186/16686556/848956de-4530-11e6-9610-6f1cbc87bbad.png)

Behaviour of the the functionality would be as described below :
1. Comments tab would always be visible, so that user would add comments even if there are no comments to edit
2. On click of '

[2016-07-12 10:06] CTLocalGovTeam commented on #152
@allisonmuise , @MikeMillerGIS

We will be following below approaches to show images and videos in the media panel,

**For displaying images,**

Hyperlinks may or may not contain its image type format(extension like .jpg or .png), for instance, Image URL http://goo.gl/GWtGo does not contain an extension, so for this we need to check the URL by loading images, and incase if it’s an image then it wi

[2016-07-12 10:08] MikeMillerGIS commented on #152
For this release, I would say we only support URLs with the extension in it.  If we do support inspecting the URL then I would make it optional in the config.  All other comments I agree with.  Thank you.

[2016-07-12 17:54] allisonmuise commented on #151
@MikeMillerGIS : Do you need the 'Zoom to selected' as well?

[2016-07-12 17:56] allisonmuise commented on #150
@CTLocalGovTeam : Please share the approach you are considering as I want to confirm that it will be intuitive for the audience, without conflicting with actions used elsewhere in the software.

[2016-07-12 18:05] allisonmuise commented on #93
@CTLocalGovTeam

I am going to consult with the design team on this approach.

Please add the 'Add Attachment' Functionality to the Comments form, as well, if the comment table supports attachments.

[2016-07-12 18:13] MikeMillerGIS commented on #151
I do not think so

[2016-07-12 18:15] allisonmuise commented on #152
I agree with the above as well. @MikeMillerGIS : Are you familiar with .webm and .ogg formats? Are they worth supporting as well, or should we stay consistent with just mp4?

[2016-07-12 18:16] allisonmuise commented on #151
@CTLocalGovTeam : Your approach sounds good. Do you need me to get a selection graphic in a style that matches the others, or do you have one?

[2016-07-12 18:17] MikeMillerGIS commented on #152
Heard of them, but mp4 is prob fine for a v1.

[2016-07-12 18:19] allisonmuise commented on #152
@CTLocalGovTeam : Let's do just mp4 and wait for users to present use cases for needing the others.

[2016-07-13 06:26] CTLocalGovTeam commented on #165
@allisonmuise ,

According to [#206](https://github.com/Esri/crowdsource-reporter/issues/206) response in CrowdSource Reporter application which is same as this issue it states that it works well in CrowdSource Manager application.

We have also tried with group id which is used in application that is shared in [#206](https://github.com/Esri/crowdsource-reporter/issues/206) ticket in CrowdSource M

[2016-07-13 06:52] CTLocalGovTeam commented on #152
@allisonmuise , @MikeMillerGIS ,

We are planning to support below standard image extensions
1. JPG/JPEG
2. PNG
3. GIF
4. BMP
5. ICO

Please let us know if we need to support any other image extensions.

--Pratik Gohil

[2016-07-13 10:26] CTLocalGovTeam commented on #150
@allisonmuise , @MikeMillerGIS

We are considering below approach for multiple selection in different cases

Case 1 : Selection of multiple polygon
a. When polygon feature is selected on map, if there are stacked polygon features then multiple(stacked) features will be selected as show below

![selecting multiple feature polygon](https://cloud.githubusercontent.com/assets/2959186/16799080/bb44a324

[2016-07-13 10:54] CTLocalGovTeam commented on #93
@allisonmuise

OK. We are analysing this enhancement and will keep you updated.

--Pratik Gohil

[2016-07-13 12:28] MikeMillerGIS commented on #152
That looks good.

[2016-07-13 12:31] MikeMillerGIS commented on #150
They all look good to me.

Should we add a selected record count to the record count text in the top right?
1 selected / 9 records

[2016-07-13 14:36] allisonmuise commented on #165
This is correct, I will close this issue

[2016-07-13 14:36] #165 closed

[2016-07-13 14:45] allisonmuise commented on #152
@CTLocalGovTeam
ICO files are not listed as a supported attachment type, so I don't think we need to include those. TIF/TIFF files are supported, though so I'd like to add them to the list.

[2016-07-13 16:58] allisonmuise commented on #150
@CTLocalGovTeam : I agree with Mike. Looks good, but the indication of the number of selected features would be a nice enhancement.

[2016-07-14 09:29] CTLocalGovTeam commented on #152
@allisonmuise , @MikeMillerGIS

We have few observations on TIFF images & how it will work after adding it to media panel.

TIFF image will always get rendered by some default image & user must download it to view it. This behaviour is similar in AGOL also as shown below

Viewing TIFF image in AGOL which is added in popup media
![tiff image download in agol](https://cloud.githubusercontent.com/ass

[2016-07-14 10:19] MikeMillerGIS commented on #152
Looks like a limitation of browsers.  We can mark as known issue

https://urldefense.proofpoint.com/v2/url?u=http-3A__www.alternatiff.com_howtoembed.html&d=CwIGaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=MeZdcsvkb-zI_AmyTRCvox6_oa6YAZbr37pFzHq_ByDEHrd2lhm-fomMSR4bB_d41s2kSAmyzG8nkzYC7sP9ZtswsK3ps4u9Ie58IOWaF8ZiT157V0vrk3bcpsWj2t6wAYxk2TfJ41Cw_3uqdFwOTw&m=SW1QqLrpw8jrFBZZU4VPeeWZEs7rgh2NkU9bWXu04KM&s=I7WHXPhU1PL

[2016-07-14 11:46] CTLocalGovTeam commented on #150
@allisonmuise , @MikeMillerGIS

OK. We will implement this enhancement which displays number of selected features.

--Pratik Gohil

[2016-07-14 15:53] allisonmuise opened #170 "Design feedback"
@CTLocalGovTeam : Minor enhancements requested by the design team:

1) The animation of the map/layer selection panel opening and collapsing should be twice as fast
2) When the panel is open and the user clicks on close, the close button should remain fixed to the panel as is until the panel reaches the left edge of the screen. Then as the panel slides away the button can change from the close ico

[2016-07-14 16:42] allisonmuise commented on #152
@CTLocalGovTeam : Ok, please handle TIFF as you would non-images

[2016-07-15 04:29] CTLocalGovTeam commented on #93
@allisonmuise ,

Are there any update from design team on UI for adding comments/attachments ?

--Pratik Gohil

[2016-07-15 04:30] CTLocalGovTeam commented on #170
@allisonmuise

We are analysing this enhancement and will keep you updated.

--Pratik Gohil

[2016-07-15 16:06] allisonmuise commented on #93
@CTLocalGovTeam : I should get something today or Monday

[2016-07-18 08:26] CTLocalGovTeam opened #171 "Next arrow in media panel needs extra clicks to complete carousel cycle"
@allisonmuise ,

We have found below issue in our internal testing

Issue : Next arrow in media panel needs extra clicks to complete carousel cycle & display next arrow in disabled mode to indicate there are no further media.

Steps:
1. Consider total 6 images are added in popup media, in which 4 images are configured with valid URL & 2 image are configured with blank URL
2. Now, only 4 images sho

[2016-07-18 08:44] CTLocalGovTeam opened #172 "Video panel is not getting displayed initially in IE9"
@allisonmuise ,

We have one known issue when we try to display video in media panel in IE9

Steps:
1. Configure video URL as value in one of the string field
2. When we open media panel in IE9, initially blank panel is displayed.
3. When we do left mouse click, nothing happens.
3. But, when we do right mouse click on it, video panel is displayed & works as expected

We are still investigating sol

[2016-07-18 11:09] CTLocalGovTeam commented on #93
@allisonmuise,

Do we need to consider viewing of attachments in comments panel ?
If yes, could you please also take this into consideration(UI) for this while consulting with your design team.

Since, we are displaying popup media, attachment & field images into media panel do we also need to display image attachments of comments into media panel. This can quickly become a performance bottleneck

[2016-07-18 11:26] CTLocalGovTeam opened #173 "Media panel displays images of last selected feature of previous layer"
@allisonmuise,

We have found below issue in our internal testing, but its rarely re-producible

Issue : Sometimes popup media images of currently configured layer is not getting displayed in media panel
Steps:
1. Choose a webmap with more than 2 layers
2. Configure popup media of each layer with separate images & only configure chart for any 1 of the layer
3. Click on feature for one of the layer

[2016-07-18 16:35] allisonmuise commented on #172
@CTLocalGovTeam : Please let me know if IE9 can be accommodated easily, or if addressing this will require significant deviation from what the other browsers require.

[2016-07-18 16:41] allisonmuise commented on #173
@CTLocalGovTeam : Please continue investigating and let's discuss on Wednesday.  In testing I saw this once also, but wasn't able to reproduce.

Fixing this will not be high priority for this release - Only if the cause is relatively easy to identify and the code changes are minor.

[2016-07-18 16:41] allisonmuise commented on #93
@CTLocalGovTeam - OK I will think on this and let you know.

[2016-07-18 16:43] allisonmuise commented on #171
@CTLocalGovTeam : Please continue investigating and let's discuss on Wednesday.

Fixing this will not be high priority for this release - Only if the cause is relatively easy to identify and the code changes are minor.

[2016-07-20 08:01] CTLocalGovTeam commented on #172
@allisonmuise ,

Sure, we will update you if any significant deviation is required to fix this.

--Pratik Gohil

[2016-07-20 12:37] CTLocalGovTeam commented on #140
@allisonmuise

Are you experiencing that the app is slow to load under certain circumstances/data/maps/layers or it is always slow to load?

One of the areas where the app does a lot of work while loading up is processing all the webmaps. It goes through each webmap, each layer in the webmap to see if its editable, has popups enabled, has editable fields, and so on. All this processing is done up

[2016-07-20 14:46] allisonmuise commented on #140
ok, Let's leave this for now and revisit when we need to move to the 4.x API

[2016-07-20 19:00] allisonmuise commented on #93
@CTLocalGovTeam :
For the button, let's remove the color and outline, use a grey font, and add a + in front of the text. The text should say 'Add Record.
(see mockup sent via email)

[2016-07-20 19:09] allisonmuise opened #175 "remove coloured badge from Comments tab"
Instead of the coloured badge, please append (#) to the tab label, for example: Comments (52)
See the mockup for the Add Comment button sent via email.

(per feedback from David Dodge)

[2016-07-21 05:21] CTLocalGovTeam commented on #93
@allisonmuise,

OK. We are analysing this enhancement as per mockup and will keep you updated.

--Pratik Gohil

[2016-07-21 05:23] CTLocalGovTeam commented on #175
@allisonmuise ,

Sure, we will implement this and keep you updated.

--Pratik Gohil

[2016-07-21 12:00] CTLocalGovTeam commented on #93
@allisonmuise,

As suggested that 'some of the theme color' should get displayed at  '+ Add Record'  area in comment panel(sent via email)
We are planning to change the color of  '+ Add Record'  to theme color on mouse hover.

![untitled](https://cloud.githubusercontent.com/assets/2959186/17021900/9573df22-4f68-11e6-94cd-388010773363.png)

Please let us know your thoughts on this.

--Pratik Gohil

[2016-07-21 15:31] allisonmuise commented on #93
@CTLocalGovTeam Can you share a URL to an app with this UI change? It's ok if there are other pieces that don't work yet and no testing is required - I know we are at the beginning of a sprint. I'm just looking for an actual app that I can take to the design team so we can play with some ideas in the context of the rest of the app UI.

Please don't implement the change on hover at this time, but p

[2016-07-22 11:21] CTLocalGovTeam commented on #151
@allisonmuise,

Since, map selection is also possible in 'Show Selected' mode. We are planning to implement this as described below

1. In show selected mode, if any record is selected from map(single click) than previous record will be de-selected from both map & grid. Newly selected record will only be displayed in map & grid.

2. In show selected mode, if multiple record is selected from map(vi

[2016-07-22 15:31] allisonmuise commented on #151
@CTLocalGovTeam : Sounds good!

[2016-07-23 06:53] CTLocalGovTeam commented on #93
@allisonmuise,

Application can be accessed [here](http://csslesxi9-vm3.cybertech.com/CSManager/V1.15/index.html)

Following functionalities & UI can be tested

1 UI of '+ Add Record' in comments panel

2 Viewing of comments & its attachments if any

3 Adding comments

4 Adding attachments in comments if comments table have attachment facility

5 UI of total number of comments in bracket

Note:-
'

[2016-07-25 05:31] CTLocalGovTeam commented on #93
@allisonmuise,

We have noticed that below mockup does not contain 'Attachment' text & horizontal line below it while displaying attachments
![mockup](https://cloud.githubusercontent.com/assets/2959186/17091277/9967ceae-5256-11e6-9485-7615855a1833.png)

Should we display 'Attachments' text & horizontal line while displaying attachment in comments panel ? Sample as shown below
![96203046-50d1-11e6-

[2016-07-25 15:46] allisonmuise commented on #93
Yes, please include the text and line. That was an oversite on my part. The UI should follow what exists on the Popup tab.

[2016-07-25 22:16] allisonmuise commented on #93
@CTLocalGovTeam Thanks, Pratik, that will help us iterate on the design a bit here.

Could the number of related records be appended to the name of the Comments tab with only a single space between the two?

Comments (10)
instead of
Comments                        (10)

[2016-07-26 13:34] CTLocalGovTeam commented on #93
@allisonmuise,

Yes, we will append number of related records next to the name of comments tab with only a single space.

--Pratik Gohil

[2016-07-27 12:17] CTLocalGovTeam commented on #151
@allisonmuise,

We are planning to disable time slider in "Show Selected" mode. However, currently on multiple selection time slider gets disabled. So for both multiple selection or single selection followed by "Show Selected" mode time slider will be disabled.

Please let us know your thoughts on this.

--Pratik Gohil

[2016-07-27 12:26] CTLocalGovTeam commented on #151
@allisonmuise,

Should we provide small carot icon beside "Selection Option" icon like previous version of manager  app as shown below or just keep "Selection Option" icon ?

![image](https://cloud.githubusercontent.com/assets/2959186/17175104/4168a3f8-5423-11e6-9ea9-94d54ebf2e22.png)

--Pratik Gohil

[2016-07-27 14:36] allisonmuise commented on #151
Yes, please keep the arrow to indicate the presence of a drop-down list

[2016-07-27 15:24] CTLocalGovTeam commented on #151
@allisonmuise,

We have one more query regarding disabling of time slider which is described above. Could you also provide your feedback on that.

--Pratik Gohil

[2016-07-27 15:31] allisonmuise commented on #151
Sorry, Pratik! Yes, that makes sense to me.

[2016-07-27 17:54] allisonmuise commented on #93
@CTLocalGovTeam : Can you increase the space above and below the button to add some separation between the button and the comments? Perhaps double the space currently there?

In addition to the space, some other ideas under consideration are
- adding a horizontal line below the button - like the one between the popup title and the popup content
- adding a very thin theme-coloured outline to the bu

[2016-07-28 13:01] CTLocalGovTeam commented on #93
@allisonmuise,

As, suggested we have made changes to comments button & its screenshot is as shown below.

Changes made:
1 Increased space above & below the '+ Add Record' button
2 Added horizontal line below the '+ Add Record' button
3 Added a very thin theme-coloured outline to the button

Application with above changes can be accessed [here](http://csslesxi9-vm3.cybertech.com/CSManager/V1.15/in

[2016-07-28 17:42] allisonmuise opened #176 "What controls the width of the columns in the table?"
Is the width of the table columns controlled by the size of the field? What about fields that don't have set lengths, such as Floats? Is there a defined minimum width or max width?

[2016-07-28 21:08] allisonmuise opened #177 "center select map text in grey space rather than on screen"

[2016-07-28 21:29] allisonmuise commented on #93
OK - decisions:

- [ ] Lets get rid of the horizontal line AND the button outline.
- [ ] Center the button vertically between the top of the panel and the top of the popup title text (Leave the added space!)
- [ ] Alight the left side of the + with the left side of the popup text
- [ ] On mouseover, change the text to white and make the background of the button theme color.
- [ ] Remove line betwe

[2016-07-29 11:46] CTLocalGovTeam commented on #93
@allisonmuise,

We have implemented changes suggested by you as shown below

We have analysed that both 'Attachments' & popup content font have same size & font-family. Its  looking smaller might be due to the uppercase text of popup content. We quickly tried by keeping the 'Attachments' text in uppercase & it gives same effect as popup content font.

![123](https://cloud.githubusercontent.com/ass

[2016-07-29 12:12] CTLocalGovTeam commented on #176
@allisonmuise,

No, the width of the table columns is not controlled by the size of the field.

When the name of the field exceeds the maximum width, it gets cut off. This behaviour is carried forward from previous version of manager application

Yes, there is a minimum & maximum width defined for each table column.

--Pratik Gohil

[2016-08-01 15:54] allisonmuise commented on #93
Thanks!

[2016-08-01 15:55] allisonmuise commented on #176
@CTLocalGovTeam : Thanks for the info.

[2016-08-01 15:55] #176 closed

[2016-08-05 19:40] allisonmuise commented on #175
verified

[2016-08-05 19:40] #175 closed

[2016-08-05 19:41] allisonmuise commented on #151
verified

[2016-08-05 19:41] #151 closed

[2016-08-05 19:41] allisonmuise commented on #150
verified

[2016-08-05 19:41] #150 closed

[2016-08-05 19:52] allisonmuise commented on #93
verified

[2016-08-05 19:52] #93 closed

[2016-08-05 19:56] allisonmuise commented on #158
verified

[2016-08-05 19:56] #158 closed

[2016-08-05 19:57] allisonmuise commented on #152
@MikeMillerGIS This is on devext if you'd like to take a look

[2016-08-05 20:06] allisonmuise opened #179 "type error on feature load"
When loading the details for a feature (load app>click on map>click on layer>select feature in table) I am seeing a type error in the console (TypeError: n is undefined).

I will send a repro URL via email.

[2016-08-05 22:31] allisonmuise commented on #156
verified

[2016-08-05 22:31] #156 closed

[2016-08-05 22:32] allisonmuise commented on #155
verified

[2016-08-05 22:32] #155 closed

[2016-08-08 13:07] MikeMillerGIS commented on #152
Nice, works great!

[2016-08-08 13:09] MikeMillerGIS opened #180 "Selection of multiple records show editor panel"
Is this expected behavior?

@allisonmuise

[2016-08-08 14:52] CTLocalGovTeam commented on #179
@allisonmuise,

We have analysed this issue & there are few observations which are listed below.

- Console error "TypeError: n is undefined" occurs only first time when we select feature in table. On second selection it works fine as shown below.

![1](https://cloud.githubusercontent.com/assets/2959186/17483053/2a03de5c-5da2-11e6-816c-a1d49b9e5433.gif)

- When we run this issue in chrome it displ

[2016-08-08 16:24] allisonmuise commented on #180
yes - It doesn't currently have a mechanism for displaying details, media, comments, etc for more than one record so when multiple records are selected, the app opens the batch editor. The app doesn't differentiate between how those records are selected.

[2016-08-08 19:22] allisonmuise commented on #179
@CTLocalGovTeam

Do you see the same API issue with version 3.17, or is it only the dev 3.18 API that causes the problem?

[2016-08-09 11:55] CTLocalGovTeam commented on #179
@allisonmuise ,

    Yes, we could see this problem in both 3.17 & dev 3.18 API

We further analysed this issue and found that when application is trying to get the InfoContent of feature, for the first time the InfoTemplate is empty and that's why API was failing to load its InfoContent.

So to fix this we updated the code to check if InfoTemplate is not found then set the InfoTemplate  using the

[2016-08-09 15:58] allisonmuise commented on #179
thanks!

[2016-08-10 17:06] #180 closed

[2016-08-11 16:36] allisonmuise opened #182 "Missing message on refresh in non-english languages"
Clicking the refresh button in english raises the browser warning "All selections and unsaved changes will be discarded"

Clicking that button in an arabic or french browser (only other languages tested) raises an empty browser prompt window.

[2016-08-11 17:03] allisonmuise commented on #171
verified

[2016-08-11 17:03] #171 closed

[2016-08-11 17:03] #152 closed

[2016-08-11 17:16] allisonmuise commented on #173
did not see this in testing

[2016-08-11 17:16] #173 closed

[2016-08-12 09:51] CTLocalGovTeam commented on #182
@allisonmuise ,

We have fixed typo errors in few existing NLS keys(js/nls/resources.js) except files of other languages. This issue is due to the keys that is not changed in all other NLS files of other languages.

In this case typo error for "confirmManualRefeshText" key was fixed in(js/nls/resources.js), but in other files still it is pointing to incorrect key "confirmManualRefeshText" due to w

[2016-08-12 15:24] allisonmuise opened #183 "Use org extents to load initial basemap"
When app loads a basemap is loaded into the map pane. Load this basemap using the org extents instead of loading it to a global scale.

[2016-08-12 15:31] allisonmuise commented on #182
@CTLocalGovTeam : Ah...that makes sense. Thanks!

[2016-08-12 15:31] #182 closed

[2016-08-16 12:39] ScottOppmann commented on #177
@allisonmuise - we need to provide cybertech some more detail for this issue.

[2016-08-18 16:46] allisonmuise opened #184 "configured favicon is orverwritten with app logo"
browser tab displays miniaturized version of the app logo, even when a different favicon is specified in the app configuration.

@CTLocalGovTeam : can you fix this for 4.3?

[2016-08-19 04:21] CTLocalGovTeam commented on #184
@allisonmuise,

We are analysing this enhancement and will keep you updated.

--Pratik Gohil

[2016-08-19 04:28] CTLocalGovTeam commented on #162
@allisonmuise, @ScottOppmann

We'll fix this issue and will keep you updated.

--Pratik Gohil

[2016-08-19 04:31] CTLocalGovTeam commented on #170
@allisonmuise,

We'll implement this enhancement and will keep you updated.

--Pratik Gohil

[2016-08-19 04:35] CTLocalGovTeam commented on #153
@allisonmuise, @MikeMillerGIS, @ScottOppmann

We are analysing this issue and will keep you updated.

--Pratik Gohil

[2016-08-19 04:37] CTLocalGovTeam commented on #154
@allisonmuise, @MikeMillerGIS, @ScottOppmann

We are analysing this enhancement and will keep you updated.

--Pratik Gohil

[2016-08-19 04:44] CTLocalGovTeam commented on #177
@allisonmuise, @ScottOppmann

We are analysing this enhancement as per the title of this ticket. We will keep to updated regarding our understandings on this.

--Pratik Gohil

[2016-08-22 10:31] MKellyEsri opened #185 ""Edits could not be saved." error"
When editing related records I am getting an "Edits could not be saved" error. Is there a particular format the geodatabase/feature service has to be setup for these updates to work?

![image](https://cloud.githubusercontent.com/assets/9192183/17850964/91d76b60-6857-11e6-9922-cd7964469c60.png)

I have added a GlobalID to a point feature class, and am using this as a parent record in the table (in

[2016-08-22 11:29] CTLocalGovTeam commented on #153
@allisonmuise , @MikeMillerGIS , @ScottOppmann

As per CrowdSource Manager ticket [#154](https://github.com/Esri/crowdsource-manager/issues/154) we will be displaying all .mp4 attachments in the media panel.

Do we still need to show the same .mp4 attachment in the popup tab?

--Pratik Gohil

[2016-08-22 11:37] CTLocalGovTeam commented on #177
@allisonmuise , @ScottOppmann

Is this the gray area you are referring to ? Would you like the select map text centered in this gray area ?

![image](https://cloud.githubusercontent.com/assets/2959186/17853523/9c7abddc-688a-11e6-8f76-744be62b8631.png)

--Pratik Gohil

[2016-08-22 15:57] allisonmuise commented on #177
@CTLocalGovTeam Yes, that is correct

[2016-08-22 17:50] allisonmuise commented on #185
@MKellyEsri : Please contact Esri Support Services for help with this. They will be able to walk you through the troubleshooting steps to identify why this message is appearing.

[2016-08-22 17:50] allisonmuise commented on #153
No, please don't display mp4 attachments on the popup tab

[2016-08-22 20:21] allisonmuise opened #187 "ENH-000097264 Add the functionality of adjusting column widths of Crowdsource manager application"
#1264 in arcgis-portal-app-templates

Add the functionality of adjusting column widths of Crowdsource manager application.
Salesforce ID: ENH-000097264
Salesforce Submitter: Christine Ma
Salesforce Submit Date: 6/17/2016 9:45 AM
Salesforce Bug Type: Product
Salesforce Severity: Medium
Repro Data: (n/a)
Work Around: 1. Provide the appropriate/comparable step by step workflow to help illustrate the

[2016-08-23 08:01] MKellyEsri commented on #185
Thanks Allison I'll do that.

[2016-08-23 21:26] allisonmuise opened #188 "Enabling search by location doesn't turn on search widget"
Widget appears to currently only work for searching features

[2016-08-23 21:27] allisonmuise opened #189 "add basemap widget"
when collecting feedback in remote areas, a combination of aerial imagery and topo maps may be required to find the correct location. Currently the app only supports one basemap.

[2016-08-23 21:28] allisonmuise opened #190 "date field not displayed in table"

[2016-08-23 21:31] allisonmuise opened #191 "Display form hints as grey, italicized text above the parameters"
Form hints are currently displayed below the parameter and looks slightly dissociated. The would be more helpful if they were above the parameter.

[2016-08-24 06:58] CTLocalGovTeam commented on #170
@allisonmuise,

We have implemented above design as shown below. Animation value is changed from 1000ms to 500ms to increase its speed.

![shadow](https://cloud.githubusercontent.com/assets/2959186/17920900/c605db30-69f4-11e6-82d4-e06fe14ec022.gif)

--Pratik Gohil

[2016-08-24 14:51] allisonmuise commented on #188
as desisgned

[2016-08-24 14:51] #188 closed

[2016-08-24 21:39] skrishn commented on #184
@allisonmuise verified

[2016-08-24 21:39] #184 closed

[2016-08-25 16:17] allisonmuise commented on #168
verified on disconnected portal

[2016-08-25 16:17] #168 closed

[2016-08-25 22:24] skrishn commented on #179
@allisonmuise verified

[2016-08-25 22:24] #179 closed

[2016-08-26 00:01] skrishn commented on #172
@allisonmuise verified.

[2016-08-26 00:01] #172 closed

[2016-08-29 09:51] CTLocalGovTeam commented on #191
@allisonmuise,

This ticket is not assigned to CT. Please confirm.

--Pratik Gohil

[2016-08-29 15:53] allisonmuise commented on #191
@CTLocalGovTeam : apologies - it is now assigned.

[2016-09-07 08:07] MKellyEsri commented on #185
Just in case anyone comes across this, the problem was happening because Global ID's were enabled on the related table (so there was a ParentGuid field for the relate, as well as a GlobalId field to uniquely identify each row in the table). Once you don't enable Global ID's on the related table, the edits go through as expected.

[2016-09-07 14:48] allisonmuise commented on #185
@MKellyEsri Thanks for following up! That's good to know. I'll get the developers to take a look at this for a future release, too.

[2016-09-07 20:48] allisonmuise opened #192 "map panel wraps late"
Maps with long names cause a scroll bar to appear, even though it looks like the text does eventually wrap. Text should wrap before a scroll bar is needed.
![9-7-2016 12-19-10 pm](https://cloud.githubusercontent.com/assets/2752195/18327955/acc32bec-7501-11e6-8617-f8c9133b0c89.png)

[2016-09-07 20:50] allisonmuise opened #193 "RtL issues"
layer arrows should point other way
![9-7-2016 12-19-10 pm](https://cloud.githubusercontent.com/assets/2752195/18328053/07e379fa-7502-11e6-85e3-41fb76a2f4c9.png)

[2016-09-08 14:13] etes opened #194 "Ability to add new records and related comments"
At the moment it is not possible to add new records (reports) from crowdsource manager. It would be highly relevant to our data managers to be able to add new records and comments. It would save them from constantly switching between the manager and reporter apps.

[2016-09-08 15:47] allisonmuise commented on #194
@etes
This is coming in next week's release of AGOL #93

[2016-09-08 15:47] #194 closed

[2016-09-12 09:10] MKellyEsri commented on #185
FYI it's logged as Esri Support Case #01821589

[2016-09-16 17:47] allisonmuise commented on #153
zipped folders are also displaying with the docx icon

[2016-09-16 19:12] allisonmuise commented on #153
templates report #1329

[2016-09-16 19:13] allisonmuise opened #196 "BUG-000099365 Editing related records in the Crowdsource manager fails when global IDs are enabled on the related table as well as the feature class."
[code]

NOTES:

[code]

Salesforce ID: BUG-000099365
Salesforce Submitter: Meg Hartel
Salesforce Submit Date: 9/15/2016 11:24 AM
Salesforce Bug Type: Failure/Error
Salesforce Severity: Medium
Repro Data: \esri.com\sf_filestore\PRD\Attachments\Defects\BUG-000099365
Work Around: (n/a)
Product: Configurable Web Apps
Functional Category: ArcGIS Online Application Templates
Client Platform: (n/a)
Versi

[2016-09-16 19:13] allisonmuise commented on #196
templates repo #1328

[2016-09-16 19:17] allisonmuise commented on #196
repro app: http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=a2ab069f85c74db594262c2a303ad604

[2016-09-19 13:29] CTLocalGovTeam commented on #196
@allisonmuise,

We are analysing this issue and will keep you updated.

--Pratik Gohil

[2016-09-19 13:30] CTLocalGovTeam commented on #153
@allisonmuise,

We are analysing this issue and will keep you updated.

--Pratik Gohil

[2016-09-20 10:52] CTLocalGovTeam commented on #153
@allisonmuise
This was occurring due to a minor error in code. We had a question while fixing this.

What do we display if the file does not have any extension?
Currently, it displays ".ZIP" which we feel is inaccurate. We think we should just display "FILE" if the attachment does not have any file extension. Please confirm.

[2016-09-20 15:44] allisonmuise commented on #153
@CTLocalGovTeam Other than ZIP, what cases would cause a file not to have an extension?

[2016-09-21 07:16] CTLocalGovTeam commented on #153
@allisonmuise,
Whenever a file is uploaded without any file extension, it will be displayed as "FILE", whereas currently it displays ".ZIP". The file may not have an extension either due to user error while creating the file or the extension can be manually removed from the file name.

[2016-09-21 11:53] etes opened #197 "Ability to add/remove report attachments."
Adding attachments to existing reports is critical for supplementing reports with supporting documents and files. Not all information and documents are submitted from the field.

It should also be possible to remove report attachments that are mistakenly uploaded or deemed inappropriate.

[2016-09-21 14:50] allisonmuise commented on #197
You can currently add attachments as part of submitting related records in Manager. We deliberately don't allow editing of attachments on the original report in Manager. The idea behind this is that the originally submitted report should be preserved intact.

That being said, in an upcoming release of Crowdsource Reporter we will be adding the ability for reporters to edit their own reports - incl

[2016-09-22 08:28] etes commented on #197
Thanks for the clarification @allisonmuise. Editing attributes of a report from crowdsource manager is already allowed.

So what's the deal with not allowing to add new attachments to that report? Besides an attachment is also an attribute of the report :).

[2016-09-22 16:10] allisonmuise commented on #197
@etes: honestly - it not a workflow that we've heard is needed!

I agree - attachments are attributes, but unlike other attributes there isn't a way to track who has edited them or to restrict which ones can be manipulated and the organizations we worked with on the design of this app had a requirement to preserve the integrity of the initial report.

To achieve this - The app manages the integrit

[2016-09-28 11:27] CTLocalGovTeam commented on #154
@allisonmuise,

We have found an issue with mp4 attachments during our testing.

Issue:
MP4 attachments are unable to play in IE9, iPad & Tab. This is an issue with only mp4 videos as attachments. MP4 videos that are presented as links in field values work fine across all browsers & devices.

Steps to reproduce:
1 Add mp4 attachment to a feature
2 Add mp4 video link to the any field in the layer
3

[2016-09-28 16:10] allisonmuise opened #198 "508 compliance"
https://www.w3.org/TR/WCAG20/
https://www.w3.org/WAI/
http://webaim.org/
http://a11yproject.com/
https://a11ywins.tumblr.com/

[2016-10-03 10:26] CTLocalGovTeam commented on #154
@allisonmuise,

This build addresses the original Mp4 issue. However, it does not address the above known issue of attachments - unable to play in IE9, iPad, Tab.

--Pratik Gohil

[2016-10-03 16:31] allisonmuise commented on #154
@CTLocalGovTeam

Pratik - I am able to repro this on iPads, even from the web map, but I can't repro on android tablets. Can you send me the details on what was tested for Android?

Chrome or Android browser? Browser version? OS version?

[2016-10-04 10:42] CTLocalGovTeam commented on #154
@allisonmuise
Apologies. It does work on android tablet. However, the video is extremely slow to load. The video is playable after 3-4 mins. Do you also see similar behavior?
We are testing this on a Samsung Tab with `Chrome 51.0.2704.81` on `Android 4.4.2; SM-T531 Build/KOT49H`

[2016-10-04 15:39] allisonmuise commented on #154
I had issues in the Android browser - The video would download rather than playing. On Chrome it worked well. I didn't notice that the video was slow to start, but I was also working on a local wifi network playing a video hosted on my desktop so that may have boosted performance :)

The AGOL/Server teams are looking into this. It appears to be an issue with mp4s attached to both AGOL-hosted and S

[2016-10-06 20:53] allisonmuise opened #200 "Honor filters on tables"
@CTLocalGovTeam

Currently, the comments thread does not honor any filters that have been applied to the related table. What is the LOE to add this query when pulling in this content?

-A

[2016-10-07 09:55] CTLocalGovTeam commented on #200
@allisonmuise,

This is LoE. We will be delivering it by the end of next week, since currently we are busy with other apps.

--Pratik Gohil

[2016-10-07 15:54] allisonmuise commented on #200
@CTLocalGovTeam
That's great! Thanks!

[2016-10-07 18:31] allisonmuise opened #201 "Apply org theming"
Please manage work on this issue separate from work on other issues for 4.4.

Org-level theming options will be accessible in this JSON format:
{
header:{
background: "#337ab7",
text: "#fff"
},
body: {
background: "#FFF",
text: "#333"
},
button:{
background: "#D95F45",
text: "#333"
},
logo:{
small: "https://org.maps.arcgis.org/logo-small.png"
}
}

These options will be read in to the app and appli

[2016-10-10 16:45] allisonmuise opened #202 "LOE to make manager a map app AND a group app"
@CTLocalGovTeam

Could you describe the level of effort required to have Manager accept either a map or a group of maps as the source of input?

We are trying to determine if this is something that could be easily accommodated in an upcoming minor release or if it would require significant rewriting of the application and should be pushed off until we update to use the 4.x API.

cc @ScottOppmann

[2016-10-25 22:36] allisonmuise commented on #201
![10-25-2016 3-33-40 pm](https://cloud.githubusercontent.com/assets/2752195/19706798/c539da9e-9ac8-11e6-8329-671042c82a88.png)

![10-25-2016 3-33-51 pm](https://cloud.githubusercontent.com/assets/2752195/19706801/c7eb80d0-9ac8-11e6-913a-cc82953112ef.png)

![10-25-2016 3-34-01 pm](https://cloud.githubusercontent.com/assets/2752195/19706804/c9b2060a-9ac8-11e6-8c86-f1cb2962a285.png)

![10-25-2016 3-3

[2016-10-27 17:15] allisonmuise commented on #200
verified

[2016-10-27 17:15] #200 closed

[2016-10-27 17:36] allisonmuise commented on #196
The related table with the Global ID field is no longer being recognized. Previously I was receiving a message when attempting to commit an edit on a record; now I no longer get a tab for accessing the related records.

I will send a URL for a devext application via email.

[2016-10-27 17:43] allisonmuise commented on #191
verified!

[2016-10-27 17:43] #191 closed

[2016-10-27 18:31] allisonmuise commented on #153
verified

[2016-10-27 18:31] #153 closed

[2016-10-27 18:31] allisonmuise commented on #177
verified

[2016-10-27 18:31] #177 closed

[2016-10-27 18:32] allisonmuise commented on #170
verified

[2016-10-27 18:32] #170 closed

[2016-10-27 18:33] allisonmuise commented on #154
verified

[2016-10-27 18:33] #154 closed

[2016-11-03 16:12] allisonmuise opened #204 "BUG-000100542 Attribute Fields that are subtype dependent with a domain applied and the domain contains an integer code value of 0 do not display in the Crowdsource Manager Application."
<div><div><ol><li>Open the Crowdsource Manager application. App: <a href="http://ess.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=951f863f7c564408a08efe944d68a6e1" target="_blank">http://ess.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=951f863f7c564408a08efe944d68a6e1</a></li><li>Notice that a field called &quot;Reassigned Email Sent&quot; does not display when opening the

[2016-11-03 16:14] allisonmuise commented on #204
arcgis-portal-app-templates 1365

@CTLocalGovTeam This is the issue discussed via email.

[2016-11-07 20:30] allisonmuise commented on #196
issue mentioned above is un-reproducible in latest devext build. closing issue.

[2016-11-07 20:30] #196 closed

[2016-11-08 19:04] allisonmuise opened #205 "configurable option to choose to display media or related records first"
per Pat

when using manager for primarily media-review tasks, it would increase productivity to have the media tab load first. If we are adding this capability, we might as well as an option for loading the related records first, too.

[2016-11-09 21:19] allisonmuise commented on #201
@CTLocalGovTeam CLARIFICATION:

The logo mentioned in the JSON will point to the application logo, NOT the favicon as indicated in the mockups. When a logo is specified at this level it will override the current logic for this logo. When no logo is specified, the app should use the current logic for finding a graphic for this space.

[2016-11-09 21:20] allisonmuise commented on #201
As mentioned in this morning's meeting, the help icon is missing from the mockups. The portions of the help icon that are currently white should take on the header text color, and the portions of the icon that match the header background color should continue to take on the header background color.

[2016-11-10 11:01] CTLocalGovTeam commented on #201
@allisonmuise,

As discussed on the weekly status call Info tab will be having same styling as comments tab.

--Pratik Gohil

[2016-11-10 12:30] CTLocalGovTeam commented on #201
@allisonmuise,

Could you please provide which section of the org theming would be applied for below areas

![image](https://cloud.githubusercontent.com/assets/2959186/20176604/99d85ea4-a76e-11e6-889f-ec20672456d4.png)

--Pratik Gohil

[2016-11-10 16:19] CTLocalGovTeam commented on #201
@allisonmuise

Will existing apps automatically switch to the new theming pattern? or we provide them a configurable item to switch to the org theming pattern?

The config currently contains theme color, do we need to remove this item from configuration since we are switching to org theming?

-kedar

[2016-11-10 16:28] allisonmuise commented on #201
@CTLocalGovTeam :

The dropdown selection menu: what is shown in orange should be the header background color; what is shown in white should be the header text color.

Description panel: Text should be body text; background should be body background

The org themeing parameters will all need to be added to the configuration panel without losing backwards compatibility.

[2016-11-11 17:08] allisonmuise commented on #201
Per AGOL team:

The config panel parameters will be connected to the org theming parameters by adding a sharedStyleProperty property to each of the affected parameters in the JSON. For example:

           {
               "label":"Title logo:",
               "fieldName":"logo",
               "type":"string",
               "sharedStyleProperty":"logo.small",
               "tooltip":"Defaults t

[2016-11-11 21:23] allisonmuise commented on #201
another change...the property name has been changed to SharedThemeProperty:
       {
           "label":"Title logo:",
           "fieldName":"logo",
           "type":"string",
           "sharedThemeProperty":"logo.small",
           "tooltip":"Defaults to sample logo"
        },

Also - I sent Kedar credentials to access an organization that has the shared theme properties included in the org s

[2016-11-15 10:25] CTLocalGovTeam commented on #201
@allisonmuise,

As per discussion on the call, precedence of app logo would be as follows

![image](https://cloud.githubusercontent.com/assets/2959186/20301984/919b7ccc-ab4b-11e6-99fd-2ab7302a5b1c.png)

--Pratik Gohil

[2016-11-15 15:57] allisonmuise commented on #201
close - the org/theme logo should take precedence over the group logo, though.
![11-15-2016 7-56-07 am](https://cloud.githubusercontent.com/assets/2752195/20312634/146f920c-ab09-11e6-9544-9d5e0e11ee26.png)
(note that the headers have been re-ordered)

[2016-11-15 18:23] allisonmuise commented on #201
@CTLocalGovTeam : I confirmed with Kelly that by default the org theme parameters will be NULL.

[2016-11-15 23:32] allisonmuise opened #207 "hide editing buttons when user doesn't have editing permissions"
(reported from Holistic)
When accessing the application through an ArcGIS account that does not have editing capabilities, attempting to edit a report or submit a comment throws a browser error. Hide the edit and add comment buttons when the user does not have editing permissions, including when it is a level 1 account.

@CTLocalGovTeam : What is the LOE for this? Ideally it would get fixed this r

[2016-11-16 18:55] allisonmuise commented on #207
use cases where editing must be restricted:
- [ ] Authenticated AGOL user does not have editing capabilities (includes Level 1 users)
- [ ] Editing is restricted to members of a group containing the layers
- [ ] Layer permissions only allow the user to edit features they created

None of these apply if the layer is shared with Everyone

[2016-11-17 18:14] allisonmuise opened #208 "add support for feature collections as reference layers"
as in https://github.com/Esri/crowdsource-reporter/issues/245

[2016-11-17 21:11] allisonmuise commented on #204
verified

[2016-11-17 21:11] #204 closed

[2016-11-17 21:16] allisonmuise commented on #162
verified

[2016-11-17 21:16] #162 closed

[2016-11-23 17:50] allisonmuise opened #209 "update to 4.x api"

[2016-11-23 18:06] allisonmuise commented on #190
non repro all fields that are editable and or displayable display in the table

[2016-11-23 18:06] #190 closed

[2016-11-30 21:02] allisonmuise commented on #187
The end goal is to make it easier to view content. I'm open to other options such as wrapping long text and auto-sizing columns based on field sizes.

I know we are using a lot of core components in this table. I only want to do this if it is possible without tearing apart what we have already.

[2016-11-30 21:08] allisonmuise commented on #205
I'm open to suggestions, but I think we can do this with a single-selection radio button parameter in the configuration panel with three options: Details, Media, and Related Records. The selected option will be the panel that is open by default when a record is selected from the map or table. By default, Details will be selected to maintain backwards compatibility.

[2016-11-30 21:12] allisonmuise commented on #185
duplicate #196

[2016-11-30 21:12] #185 closed

[2016-12-02 18:41] allisonmuise opened #210 "CSM only tests for an empty array when looking for relationships"
App needs to test for null as well as the empty array. CSR already does this.

Use case: When cloning a layer without any related layers in AGOL, the service JSON includes an empty array for the related layers. When performing the same action in Portal, the value in the JSON for the related layers is null. Manager hangs when trying to read the second (Portal) layer.

![null_check](https://cloud.gi

[2016-12-05 07:27] CTLocalGovTeam commented on #205
@allisonmuise,

If we provide single-selection radio button parameter than we can only conclude which tab will be loaded first. What about the tab which will be loaded at 2nd & 3rd position ?

So we were planning to provide preference of order for the tabs as shown below :

![tabs options](https://cloud.githubusercontent.com/assets/2959186/20876759/32a82464-baea-11e6-8c53-8d9403c6ca74.png)

We nee

[2016-12-05 07:31] CTLocalGovTeam commented on #187
@allisonmuise,

For data-viewer we have used calcite table which internally uses simple HTML table. It has a limitation that it does not provide on-the-fly column resizing. Examples of column resizing on the web usually make use of complex data grid controls, which we initially moved away from, so the table and its rendering can be lean.

We have another different options to make content viewing e

[2016-12-05 10:53] CTLocalGovTeam commented on #192
@allisonmuise,

We are unable to reproduce this issue.

We tried to reproduce it by entering data in webmap & operational layer name in different formats as listed below.

![image](https://cloud.githubusercontent.com/assets/2959186/20882168/b20abbf2-bb05-11e6-97c0-b877f3afc089.png)

![image](https://cloud.githubusercontent.com/assets/2959186/20882326/60a1e5c8-bb06-11e6-85c4-b91580726254.png)

![im

[2016-12-05 16:29] allisonmuise commented on #205
@CTLocalGovTeam : I'm not looking to modify the order of the tabs - only which tab is open when a report is selected.

Does the tab control we are using only allow the left tab to be open by default?

[2016-12-05 17:43] allisonmuise commented on #187
@CTLocalGovTeam : Do we need to choose between 1 or 2? Option 1 would help with long pieces of text, and Option 2 would help efficiently display fields with short text. If we can't allow users to adjust the width of the columns, it would make more sense to combine the two options.

My suggestion:

The space required for a field should be controlled by the longest of these values:
- the length of t

[2016-12-06 10:13] CTLocalGovTeam commented on #205
@allisonmuise,

    No, by default we can open any tab.

As suggested, option of using single-selection radio button would not be possible because radio buttons are not supported in the  [Configuration parameters](https://doc.arcgis.com/en/arcgis-online/create-maps/configurable-templates.htm) so we are thinking of using dropdown.

We need to consider some scenario for this approach as described be

[2016-12-06 16:15] allisonmuise commented on #205
@CTLocalGovTeam
Radio buttons will be added at 4.4. I c an make the switch from a drop-down later if that is easier for you do implement for now since there isn't documentation yet.

Yes, please fall back to the Info tab.

[2016-12-07 06:25] CTLocalGovTeam commented on #187
@allisonmuise,

We are analysing this enhancement & keep you updated.

--Pratik Gohil

[2016-12-07 06:27] CTLocalGovTeam commented on #205
@allisonmuise,

Sure, we will implement drop-down for now.

--Pratik Gohil

[2016-12-09 12:27] CTLocalGovTeam commented on #187
@allisonmuise,

After analysing your approach, which seems quite complex, I want to propose a simpler approach that is easy to implement. I find a couple of challenges in your approach, like, retrieving the length of any text in pixels. This depends on font, font-size that a browser has used or substituted.

In my proposed approach, we set the table to have column width between 120 & 300 px (can b

[2016-12-13 19:48] allisonmuise commented on #187
@CTLocalGovTeam : This is getting way more complicated that I was hoping. I'm going to push this to a release later in the year. We can re-assess then to see if there's any changes in the tech that will help make this easier.

[2016-12-14 21:26] allisonmuise opened #211 "accommodate services that don't have all editing capabilities"
update only services: allow attribute editing but don't allow creation of new records
(per Kelly G)

[2016-12-30 14:54] allisonmuise commented on #201
@CTLocalGovTeam : The calculate colors should not be configurable, or defined anywhere as explicit values as they are not part of the defined shared theming. These values should always be calculated from the shared theme values.

Please remove these parameters from default.js.

[2017-01-11 13:18] CTLocalGovTeam commented on #207
@allisonmuise,

On initial load, when no user have signed in should we show/hide the editing buttons ?

--Pratik Gohil

[2017-01-12 11:59] CTLocalGovTeam commented on #192
@allisonmuise,

As updated above we are not yet able to reproduce this please let us know how we should take it forward.

--Pratik Gohil

[2017-01-12 16:04] allisonmuise commented on #192
@CTLocalGovTeam We were also unable to reproduce this issue last night. I'll close it for now, and reopen if we find another repro case.

[2017-01-12 16:05] allisonmuise commented on #192
@CTLocalGovTeam - I'm sorry - I'd missed this comment. I'll update with a URL later today

[2017-01-12 20:24] allisonmuise commented on #192
http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=6b6341e04a42460595347a35fcdd0932

Note - I am only seeing this behavior in FireFox. I don't see it in Chrome.

[2017-01-12 21:37] allisonmuise commented on #207
@CTLocalGovTeam
The buttons should be shown

[2017-01-12 21:58] allisonmuise commented on #207
@CTLocalGovTeam : It appears that the core team has not taken this requirement as far as initially described. Please let me know the LOE to change to the following approach:

Never hide the buttons. When a user attempts to vote/comment/edit who does not have those capabilities enabled, display a message that says 'You do not have permission to perform this action."

[2017-01-13 07:14] CTLocalGovTeam commented on #207
@allisonmuise

The LOE for this is low as we have worked out the logic earlier.
Please confirm if we need to implement this for both Reporter & Manager.

[2017-01-13 17:00] allisonmuise commented on #207
@CTLocalGovTeam Thank you - yes, for both apps

[2017-01-17 12:26] CTLocalGovTeam commented on #192
@allisonmuise,

For breaking the word we are using css property word-break : break-word which breaks word to another line & its working fine in the chrome. But, it seems that this property is not supported in Firefox & IE and hence scrollbar gets appear. However, we can use another css property word-break : break-all. But, by using this if there is single long word it will get break and distribute

[2017-01-17 16:18] allisonmuise commented on #192
@CTLocalGovTeam
Pratik, I assume that if there was a space in there somewhere it would break at the space first and only split a word if there was no way to accommodate a word otherwise?

If so, let's use this. it is preferable to the scrollbar.

[2017-01-17 16:19] allisonmuise commented on #192
@CTLocalGovTeam : Is this same css property used in Reporter? If so, I'll create a ticket in that repo as well.

[2017-01-18 10:01] CTLocalGovTeam commented on #192
@allisonmuise,

By using css property word-break : break-all it will not break according to spaces but at character level.

- String containing 1 space in firefox using word-break : break-all property
![image](https://cloud.githubusercontent.com/assets/2959186/22053893/56ddc792-dd79-11e6-8ac3-9e4104a55302.png)

- String containing 1 space in chrome using word-break : break-all property
![image](ht

[2017-01-18 15:54] allisonmuise commented on #192
@CTLocalGovTeam
Thanks for the examples, Pratik. Given this information, I'm going to close this issue as a known limit that exists on specific browsers. Let's stick with the css property word-break: break-word.

[2017-01-18 15:54] #192 closed

[2017-01-18 23:37] allisonmuise opened #215 "BUG-000102247 App hangs when loading if visibility range set on layer"
When a layer is set with a visibility range that prevents any features from drawing at the scale the map is saved, Manager fails to load. It spins infinity without throwing any error messages in the console. The current workaround for this is to save the map zoomed in further.

The app should load following the pattern in Reporter: The table should populate, but the features shouldn't draw in the

[2017-01-19 13:11] CTLocalGovTeam commented on #215
@allisonmuise,

We are analysing this ticket.

--Pratik Gohil

[2017-01-20 07:33] CTLocalGovTeam commented on #215
@allisonmuise,

We are not able to reproduce this issue. However, I recognised that the app was not honouring visibility range settings. We have made a fix for this if you would like the app to honour the visibility range. As of now with the current app the layer is visible irrespective of this settings.

Can you please share the app so that we can investigate it.

--Pratik Gohil

[2017-01-20 22:19] allisonmuise commented on #215
@CTLocalGovTeam : here is a repro app: http://ess.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=5d79e921963c4ad7a90688ebcc357c4d

[2017-01-24 00:41] allisonmuise opened #216 "BUG-000102143 The Crowdsource Manager application holds onto selected records in its table after the items are deselected."
1. Navigate to our sample Crowdsource Manager application (http://www.arcgis.com/apps/CrowdsourceManager/index.html)
2. Click on 'safety problems report' from the left-menu
3. Click on a single record from the top listing (notice the app zooms to the location and in the top-right of the table it reads '1 Selected / 2 Records'
4. Click on the point in the map so that it is no longer selected in the

[2017-01-24 12:35] CTLocalGovTeam commented on #215
@allisonmuise,

We have partially analysed this issue and found that it is somewhere related to security of layer, but we are not sure on it. So, we need some more time to fix it.

Please let me know if it works for you.

--Pratik Gohil

[2017-01-24 17:58] allisonmuise commented on #215
@CTLocalGovTeam
That works for me, Pratik

[2017-01-25 00:16] allisonmuise commented on #208
verified

[2017-01-25 00:16] #208 closed

[2017-01-25 00:18] allisonmuise commented on #207
verified

[2017-01-25 00:18] #207 closed

[2017-01-25 00:25] allisonmuise commented on #205
verified

[2017-01-25 00:25] #205 closed

[2017-01-25 00:26] allisonmuise commented on #193
verified

[2017-01-25 00:26] #193 closed

[2017-01-25 00:28] allisonmuise commented on #183
@CTLocalGovTeam : This still seems to be loading to a global scale.

[2017-01-25 12:42] CTLocalGovTeam commented on #183
@allisonmuise,

We are not able to reproduce this issue at our end. Could you please share the app url so that it could help us in analysing it.

--Pratik Gohil

[2017-01-25 18:52] allisonmuise commented on #183
@CTLocalGovTeam

Repro URL sent via email. The behaviors I expect are:

-	The map should show me just the basemap (no data) as it does in the currently-released version
-	The map should be zoomed to the extents defined in the organization (in this org that should be eastern Canada)

This can be addressed after Feb 1st to accommodate other projects.

[2017-01-25 22:18] allisonmuise commented on #201
@CTLocalGovTeam

Some (hopefully minor) changes based on what I have seen playing with various color schemes:

1) Please use the existing application color parameter for consuming the shared theme header background color. This is necessary for backwards compatibility. I can then link the existing parameter to the shared theme parameter.

2) The pull tab on the map selection panel would look better

[2017-02-02 05:34] allisonmuise commented on #201
additionally, as discussed on the call, let's swap the colors used in the map selection panel so that the major color is the configured body color, and the calculated color is only used for the header bar, on hover, for the map details, and to indicate the selected map & layer.

[2017-02-02 05:35] allisonmuise commented on #201
The application logic should only read the values set in the configuration panel; there is no need for the app to handle any of the logic in deciding when org theme vs default vs configured values are used. The configuration panel will handle this logic.

[2017-02-10 21:24] allisonmuise commented on #183
verified

[2017-02-10 21:24] #183 closed

[2017-02-10 21:30] allisonmuise commented on #201
@CTLocalGovTeam : For backwards compatibility, the original 'theme' property must be used for the shared theme header.background property. The headerBackgroundColor should not be necessary.

Please make the necessary adjustments and submit a code drop ASAP.

Please copy Suba on this PR as I will be out of the office next week.

cc @skrishn

[2017-02-11 07:50] CTLocalGovTeam commented on #201
@allisonmuise,

We have already bound header.background to theme as shown below

![image](https://cloud.githubusercontent.com/assets/2959186/22852174/74e82548-f05c-11e6-85b7-fbdb01d441f8.png)

Do you want to remove this option from configuration & default config file ?

Please confirm.

--Pratik Gohil

[2017-02-14 23:24] skrishn commented on #201
@CTLocalGovTeam : I removed the headerBackgroundColor property from default.js and  configpanel.js along with its references in the config panel .
When I configure new app – I see a grey screen with loading page on the preview section. I get this console error message: Error: string.substitute could not find key "HeaderBackgroundColor" in template
Looks like this property is used in 18 different p

[2017-02-15 10:45] CTLocalGovTeam commented on #201
@allisonmuise, @skrishn

Removing the headerBackgroundColor property from default.js and configpanel.js along with its references in the config panel will not work as it has some dependencies in the code. To remove the headerBackgroundColor property from default.js and configpanel.js we would need to do some code changes.

We will do the code changes and submit the pull request ASAP.

Please let u

[2017-02-15 11:24] skrishn commented on #201
@CTLocalGovTeam . Please go ahead and make the changes

Cc @allisonmuise

[2017-02-16 23:55] skrishn opened #220 "No response on clicking a row in dataviewer ."
App throws  a console error message: "Error: Layer does not support query capability."

This looks like a regression issue. Behavior is not seen in production.

What is the LOE  and when can we get a fix.?

cc @allisonmuise

[2017-02-17 12:02] CTLocalGovTeam commented on #220
@allisonmuise, @skrishn

For fetching data on click of a row in dataviewer we use queryFeatures() which is an inbuilt method of FeatureLayer. We have analysed that this issue to is due to the queryFeatures() which is internally failing in
JS API 3.20 itself. It works fine with JS API 3.19 version.

For this, we created some samples which simply does a query of "1=1" using queryFeatures method of F

[2017-02-17 22:31] skrishn commented on #220
@CTLocalGovTeam

Thanks.  JS API team is working on this issue.

cc @allisonmuise

[2017-02-21 22:33] #220 closed

[2017-02-24 17:02] allisonmuise commented on #201
verified!

[2017-02-24 17:02] #201 closed

[2017-02-27 17:43] allisonmuise opened #221 "BUG-000101689 Attribute fields that are subtype dependent with a domain applied do not display when editing in the Crowdsource Manager web app unless all fields in the feature layer are selected to be editable."
1447
 Web Map: http://ess.maps.arcgis.com/home/webmap/viewer.html?webmap=3826fbe234ff4975b15f15b4a4421066

Crowdsource Manager App: http://ess.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=e6837854955f47fdae9950c8b2e058be

1. Open the web map and only select the following fields to be editable in Configure Pop-up > Configure Attributes. Save web map. All three fields are subtype depende

[2017-02-27 20:26] skrishn opened #222 "Change the timeslider color logic"
Right now, time slider color uses 'Button background color', but if Button background color is set to White, the time slide appears like this

![image](https://cloud.githubusercontent.com/assets/3836616/23378152/3f370b66-fce7-11e6-8b37-fb3851917d2e.png)

[2017-02-28 22:34] allisonmuise commented on #211
The app should load services that have Update but not Create capabilities. When a service with these capabilities is used, the button for adding related records should be hidden.

[2017-02-28 22:37] allisonmuise commented on #221
(repro link pending)

[2017-03-20 09:58] CTLocalGovTeam commented on #222
@skrishn, @allisonmuise

Instead of button background color, we are planning to apply button text color. The probability of setting button text color to white is very low.

Please confirm.

--Pratik Gohil

[2017-03-20 17:39] skrishn commented on #222
@CTLocalGovTeam @allisonmuise : I like the idea. Lets wait on Allison's input.

[2017-03-20 18:00] allisonmuise commented on #222
@CTLocalGovTeam I think the probability of whit button text color is equal to that of white being the  background colour. Can you look at the two button values and use the one that is furthest from white? Perhaps highest saturation value? The background of that panel will always be white, and ideally we want to contrast with that.

[2017-03-27 18:14] Fish4Food opened #224 "Allow configuration for web map filters to be "off" by default"
Enable the option in configs, or change the default behavior of the manager app, to have web map filters turned off/ disabled by default.

E.g. Would like to enable multiple fields to be filter-able to allow staff to manipulate their data in the app. However, when multiple fields have a filter set up, when staff use the app, they have to go into each field and disable/change the filter first, befo

[2017-03-28 18:08] allisonmuise commented on #224
@Fish4Food The default filter values can be turned off using the parameter on the Filter tab of the configuration panel.

[2017-03-28 18:08] #224 closed

[2017-03-29 16:07] Fish4Food commented on #224
@allisonmuise I see that option in the AGO hosted app on the Filter tab, but we're hosting locally and cannot find this option in the default.js config folder.  Maybe I overlooked it, but all i have is "enableFilter" true/false parameter.

[2017-03-31 10:45] CTLocalGovTeam commented on #221
@allisonmuise,

As discussed, this issue is no longer reproducible.

Please let us know if you still face any issue.

--Sumit Zarkar

[2017-04-03 16:14] allisonmuise commented on #224
That is the corresponding setting if you are hosting it locally. true = filters applied; false = filter values ignored

http://solutions.arcgis.com/local-government/help/crowdsource-manager/get-started/host-on-your-web-server/

[2017-04-03 16:16] allisonmuise commented on #221
@CTLocalGovTeam Thanks - pinged the support analyst again to follow up with the customer.

[2017-04-04 15:30] allisonmuise commented on #210
@skrishn Is this one on your list for Portal testing?

[2017-04-04 15:52] allisonmuise commented on #222
verified

[2017-04-04 15:52] #222 closed

[2017-04-04 15:52] allisonmuise commented on #216
verified

[2017-04-04 15:52] #216 closed

[2017-04-04 16:03] skrishn commented on #210
@allisonmuise yes

[2017-04-04 16:03] allisonmuise commented on #211
verified

[2017-04-04 16:03] #211 closed

[2017-04-04 17:09] allisonmuise commented on #215
verified

[2017-04-04 17:09] #215 closed

[2017-04-04 19:34] allisonmuise commented on #221
@CTLocalGovTeam Let's discuss this on the call tomorrow morning. I have a repro case and a better understanding of what is going on, but I'm not sure if there's anything we can do about it.

[2017-04-05 20:38] skrishn commented on #210
@allisonmuise verified.

[2017-04-05 20:38] #210 closed

[2017-05-25 13:43] CTLocalGovTeam commented on #221
@allisonmuise,

To implement this we need to handle below-mentioned cases.

1. Display of subtypes field even if its parent field is unchecked
2. Edit and update functionality of such subtypes field
3. While displaying the option in the subtypes, considering the option that is selected in its parent field which is not visible
4. Displaying updated subtypes field of such cases in the data grid

--P

[2017-05-25 22:15] allisonmuise opened #226 "BUG-000105122 The Crowdsource Manager does not zoom to or select data in the map preview that does not have an ObjectID field."
Add a layer to a web map using Add Layer From Web that does not contain an objectid field, such as the output from the Crowdsource Story Map: http://services.arcgis.com/Wl7Y1m92PbjtJs5n/arcgis/rest/services/crowdsourceNoObjectID/FeatureServer
Save the web map and share it to a Crowdsource Manager group: http://ess.maps.arcgis.com/home/webmap/viewer.html?webmap=466269ae2f1345c0841a5d1759e83c2c
Crea

[2017-05-25 22:15] allisonmuise commented on #226
1617

[2017-05-31 17:07] allisonmuise opened #227 "Selection color is only applied to dark-coloured rows in table"
On Devext (not prd) the table row selection color is only applied to dark-coloured rows that are selected in the table.
Reproducible in all apps, but here is an example: http://localgovtestdev.mapsdevext.arcgis.com/apps/CrowdsourceManager/index.html?appid=05e569ef40d0471db750589344292216

The first 3 rows are selected in this devext screenshot:
![5-31-2017 10-05-37 am](https://cloud.githubusercont

[2017-06-02 16:14] allisonmuise opened #228 "New Screenshots on Details page"
Screenshots are 3 colors of a single view of the old UI. Should be updated to highlight functionality.

[2017-06-09 16:53] allisonmuise commented on #227
verified!

[2017-06-09 16:53] #227 closed

[2017-06-09 17:40] allisonmuise opened #230 "selected row color missing from config panel"

[2017-06-09 17:41] #230 closed

[2017-06-12 16:26] allisonmuise opened #231 "Add support for app proxy"

[2017-06-19 22:03] allisonmuise commented on #187
closing this. The new UI makes reviewing and editing attributes much easier.

[2017-06-19 22:03] #187 closed

[2017-06-21 18:33] allisonmuise opened #232 "DojoConfig: Update apps to set async:true to avoid console warning"
In apps that create a web map the following warning appears in the console unless dojoConfig async is set to true.

[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience.

Set to true in config apps to remove this warning (and the associated problems it warns about) from the app.

[2017-06-21 18:33] allisonmuise commented on #232
1649

[2017-06-30 15:26] allisonmuise commented on #139
ditto American Red Cross

[2017-07-07 12:53] CTLocalGovTeam commented on #231
@allisonmuise,

We have published a story map application on http://localgovtestdev.mapsdevext.arcgis.com. However, we are not able to see the proxy parameter 'appproxies' in the configuration panel.

![image](https://user-images.githubusercontent.com/2959186/27958370-547bbed0-6340-11e7-87c0-4677cceaccab.png)

Configuration parameter set for proxy is as shown below

![image](https://user-images.gi

[2017-07-07 15:15] allisonmuise commented on #231
@CTLocalGovTeam : The Basic Viewer app shows the necessary changes, although the line reference mentioned in the original issue is old and may not be entirely accurate any more.

For future reference: Unless specifically stated otherwise, story maps should not be used as reference for our development work as they follow their own dev patterns. We try to use Basic Viewer as a frame of reference whe

[2017-07-10 12:49] CTLocalGovTeam commented on #231
@allisonmuise

We are referring to ["Esri Viewer"](https://github.com/Esri/Viewer) template.

We found "appproxies" parameter on line number 8. However the mixins are updated on line number 1359 as shown in the screenshot.

![image](https://user-images.githubusercontent.com/2959186/28018568-7ac0ecfc-659b-11e7-9cc6-fb701f48a3c3.png)

We published this application but still we are not able to see th

[2017-07-11 18:17] allisonmuise opened #234 "filter to current extent"

[2017-07-14 17:53] allisonmuise commented on #231
@CTLocalGovTeam
I thought it would just appear, but I guess that in order for this parameter to display in the config panel, the map must contain content that requires use of the proxy.

For example, you can add the World Traffic layer to your map:
From the AGOL web map >Add> Browse Living Atlas Layers. Search for 'traffic' and add the World Traffic Service. When this map is used in Basic Viewer,

[2017-07-20 18:59] allisonmuise opened #235 "Add ability to see popup info for non-editable layers"
as with reporter
display popup info in Details area

[2017-07-20 18:59] allisonmuise opened #236 "add legend widget"

[2017-07-22 17:45] jha-suraj opened #237 "Problem in updating related records in crowd source manager"
I am getting below issue while saving related record value in related table while using ArcGIS crowd source manager. The primary key is objectid of feature class.

Error: Edits could not be saved.

Please help me to solve this issue. What could be the possible work around.

Thanks.
Suraj

[2017-07-24 16:09] allisonmuise commented on #237
@jha-suraj What is your foreign key field?

[2017-07-24 17:01] jha-suraj commented on #237
Thanks for your response.Foreign key is just a numeric field in comment table. Crowd source reporter is working fine with this feature layer.

[2017-07-24 22:08] allisonmuise commented on #237
@jha-suraj Could you contact Esri Support or your distributor about this issue? That should be working so there is likely something else going on, either with how the relationship is defined or how the layers/map/app are configured.

[2017-07-28 06:30] CTLocalGovTeam commented on #231
@Allison,

 - We are able to see the app proxy section in configuration panel in “Basic Viewer” application.
 - As soon as we select a web map which requires proxy settings, proxy section appears below the “Select Web Map” section.

![image](https://user-images.githubusercontent.com/2959186/28704963-2d770cbc-738b-11e7-9cd1-fd1264ebe897.png)

 - We have added the parameter {"type":"appproxies"} in

[2017-07-28 15:30] allisonmuise commented on #231
@CTLocalGovTeam Thanks for checking on this. I will pass your feedback to the AGOL team, and let you know what they say.

[2017-07-29 17:09] jha-suraj commented on #237
I have added two different related table for two different layers and established relationship, i mean also created two relationship class. In crowd source manager for some records i did not get Comment(Related record) tab and the record for which i got comment tab shows number of related record 0 although there are some comments entered by crowd source reporter also i am not able to add related r