[2017-08-01 00:24] allisonmuise commented on #237
@jha-suraj This is not a good means for me to troubleshoot this issue. Please contact Esri Support Services or your local Esri distributor for more help. They will be familiar with these apps, and will be able to work with you to understand your data structure and what is going on with the app.

[2017-08-01 00:24] #237 closed

[2017-08-07 17:00] allisonmuise commented on #231
current widget doesn't support group apps. moving to the next release to give the team time to adjust the parameter

[2017-08-11 21:09] allisonmuise commented on #226
verified on devext

[2017-08-11 21:09] #226 closed

[2017-08-11 21:18] allisonmuise opened #239 "panel arrows don't show when header background color is white"
![image](https://user-images.githubusercontent.com/2752195/29232310-d935dc94-7e9f-11e7-8c5b-f0ac00a7e474.png)

[2017-08-11 21:22] allisonmuise commented on #221
verified on devext

[2017-08-11 21:22] #221 closed

[2017-08-15 21:10] allisonmuise commented on #92
@CTLocalGovTeam : Reading over this conversation, I feel like it is getting more complicated than necessary. The requirement isn't to have the app generate URLs that can be shared. We just need the app to recognize a series of URL parameters that dictate which map, layer, and feature should be selected when the app opens.

The user need is as follows: Users are creating scripts that generate email

[2017-08-15 21:13] allisonmuise commented on #236
I suggest starting with the button graphic from Basic Viewer. This button could sit in line with the navigation widgets on the left side of the map. Clicking the widget would expand a panel (like the search does) containing the legend content. This panel should be styled to fit in with Manager. Do not use the same styling from Basic Viewer.

[2017-08-15 21:15] allisonmuise commented on #189
I suggest starting with the button graphic from Basic Viewer. This button could sit in line with the navigation widgets on the left side of the map. Clicking the widget would expand a panel (like the search does) containing the basemap options. This panel should be styled to fit in with Manager. Do not use the same styling from Basic Viewer.

[2017-08-15 21:18] allisonmuise commented on #235
Related media and related records should display on tabs, just as they do for the editable features, but the editing pencils should be hidden.

[2017-08-17 17:17] skrishn opened #240 "Add functionality to delete records"

[2017-09-05 16:07] allisonmuise commented on #240
@skrishn : can you add info about this request? who requested it? what was the need/reason behind this request?

[2017-09-06 17:53] allisonmuise opened #241 "Add support for clustering"
Clustering can be set on a layer in the web map by clicking the three dots after the layer name and choosing 'Clustering'

![9-6-2017 10-45-36 am](https://user-images.githubusercontent.com/2752195/30126574-2ba2351c-92f1-11e7-9628-d23c16953781.png)

The features should render the same in the map viewer and the application. The list view should still list each individual feature and the details pane

[2017-09-06 20:25] walzjc commented on #92
Is there a work around for this issue? If not, is there an approximate date on when this issue will be fixed?

[2017-09-07 16:23] allisonmuise commented on #92
@walzjc we are currently evaluating this enhancement for inclusion in a release later this year.

[2017-09-08 05:24] allisonmuise commented on #241
Reporter cannot currently support clustering. We will wait on adding support to Manager until Reporter supports it as well.

[2017-09-08 21:59] allisonmuise commented on #228
verified

[2017-09-08 21:59] #228 closed

[2017-09-18 16:44] Fish4Food commented on #92
Would this enhancement be similar to the URL Parameters for esri's  Web AppBuilder apps? Really need and am looking for to this functionality!  We do not use GeoEvent Processor, however, I've developed scripts that run on a schedule to look for updates. I'd like to generate useful links for staff that can click on the issue link directly from the email - that would open and zoom to the issue in th

[2017-09-18 17:22] allisonmuise commented on #92
@Fish4Food : Yep, that's the plan.

[2017-09-20 20:11] allisonmuise opened #242 "add header in config panel for related record section"
on reports tab

[2017-09-22 13:42] CTLocalGovTeam commented on #232
@allisonmuise,

While analysing we observed that, in the latest code of the develop branch, async is already set to true in dojo configuration as shown below.

![image](https://user-images.githubusercontent.com/2959186/30746690-36bf2c32-9fc8-11e7-9bff-9c9cd717e96e.png)

Further, we also tested this by working with different web maps. However, we were not able to see the error(```[Deprecation] Sync

[2017-09-22 17:11] allisonmuise commented on #232
Per the request form the core team, setting async to true means that this message will not appear. IF it is already set correctly, there is no need for further work on this issue.

[2017-09-22 17:11] #232 closed

[2017-09-25 07:45] CTLocalGovTeam commented on #189
@allisonmuise,

Following are the screenshots of the basemap gallery in the different scenarios, depending on the availability of the area.

**Case1: Scroll handle at extreme top**
![image](https://user-images.githubusercontent.com/2959186/30797128-7d14c2e2-a1f2-11e7-8361-30425204d0e2.png)

**Case2: Scroll handle at the center**
![image](https://user-images.githubusercontent.com/2959186/30797136-8

[2017-09-25 10:13] CTLocalGovTeam commented on #236
@allisonmuise,

Following are the screenshots of the legend widget in the different scenarios, depending on the availability of the area.

**Case1: Scroll handle at extreme top**
![image](https://user-images.githubusercontent.com/2959186/30803419-2ce6fdde-a207-11e7-9499-0650a694dc78.png)

**Case2: Scroll handle at the center**
![image](https://user-images.githubusercontent.com/2959186/30803422-321

[2017-09-25 12:36] CTLocalGovTeam commented on #92
@allisonmuise,

While analysing this functionality we came across following questions which are listed below

What would be the name of the parameter in which map, layer & feature information would be stored? We are planning to implement webmapid, featurelayer & selectedfeature. Following are the details of the expected value in each of the parameters.

1. webmapid: It would contain the webmap ID

[2017-09-25 15:52] allisonmuise commented on #189
I'm ok with case 1 & case 2, but I don't like case 3. What are the alternatives for this? Can we automatically expand that window? Is there another way to display that widget when it doesn't fit in the available space?

How does browser size impact all three scenarios?

[2017-09-25 15:55] allisonmuise commented on #236
I'm ok with cases 1 & 2 as shown, but I'm concerned about screen size. Will the widget always show like this, even on smaller screens/browser windows?

What are the alternatives for case 3?

[2017-09-26 09:40] CTLocalGovTeam commented on #189
@allisonmuise,

We could handle case 3 as shown below
![image](https://user-images.githubusercontent.com/2959186/30853388-4b9b3f2c-a2cc-11e7-8fb5-216ba6eea22d.png)

We could consider different alternatives as described below

Alternate approach 1:
![image](https://user-images.githubusercontent.com/2959186/30848716-981bc0c4-a2bd-11e7-875a-f423b2cd0deb.png)
![image](https://user-images.githubusercon

[2017-09-26 12:19] CTLocalGovTeam commented on #239
@allisonmuise,

As per the current implementation, panel arrow buttons are always displayed in white and its background is as per the theme colour. Over here, since theme colour is also white we are unable to see the arrow button.

Hence, to overcome this we could consider alternate approaches as listed below

**Approach 1: When theme is in white colour, we would display arrow button in black as s

[2017-09-26 15:34] allisonmuise commented on #189
I think Approach 1 (always opens in center) will allow for the most consistent behavior, regardless of screen size or layout, so let's proceed with that.

[2017-09-26 15:39] allisonmuise commented on #239
Is there a difference in LOE for these two options? I'm slightly leaning towards Approach 2, but not if it's significantly more work.

[2017-09-26 16:01] allisonmuise commented on #92
For the parameter names, let's use webmap, layer, and oid

For the cases:
- numbers 1, 3, 5, 6, 7, 8 are clear and I agree
- number 2: Could this open the app to the map & layer?
- number 4: Could this open the app to the map (& layer if there is only 1)

[2017-09-27 06:43] CTLocalGovTeam commented on #92
@allisonmuise,

Yes.

From this, we understand that in this case, we should display the only single layer that is available in that web map. Hence, the layer name present in the parameter and the one that we display would not be same. Please confirm? If Yes, we could implement it.

--Pratik Gohil

[2017-09-27 06:49] CTLocalGovTeam commented on #236
@allisonmuise,

Similar to #189 we are planning to display the legend widget in the centre of the page.

Do we also need to display non-editable layers along with editable layer in the legend widget?

Please confirm?

--Pratik Gohil

[2017-09-27 09:24] CTLocalGovTeam commented on #189
@allisonmuise,

We are planning to implement the further functionalities listed below similar to
[Crowdsource Reporter Basemap Gallery Comment](https://github.com/Esri/crowdsource-reporter/issues/226#issuecomment-331868863)
1. Adding a new configuration parameter for selecting a basemap group(default would be empty). When no group is configured, app will fetch org's basemap group.
2. Closing the b

[2017-09-27 09:32] CTLocalGovTeam commented on #239
@allisonmuise,

LOE for both the approach is low. We could implement Approach 2 in this release.

Please confirm should we go ahead and implement Approach 2.

--Pratik Gohil

[2017-09-27 14:44] allisonmuise commented on #236
@CTLocalGovTeam Yes, please show editable and non-editable layers. This approach sounds good.

[2017-09-27 14:45] allisonmuise commented on #189
@CTLocalGovTeam Yes, this sounds good.

[2017-09-27 14:46] allisonmuise commented on #239
@CTLocalGovTeam Yes, please proceed with approach 2

[2017-09-27 18:01] allisonmuise commented on #92
@CTLocalGovTeam I think we are on the same page....Basically, the user experience would be the same as if they selected a map from the map selection panel

The overall goal of these two cases being to get the user as close as we can to the feature they are trying to find before we show the message that we can't find the feature.

[2017-09-28 11:47] CTLocalGovTeam commented on #235
@allisonmuise,

While analysing we came across few queries which are listed below

1. As per the current functionality, data viewer displays the records of selected layer in the webmap list. Hence, when the user clicks on a feature of non-editable on a map, what should be displayed in the data viewer? We are planning to keep the records as it is.

2. Consider that user has clicked on the feature o

[2017-09-28 15:45] allisonmuise commented on #235
@CTLocalGovTeam
I am assuming that the table is what you are referring to as the 'data viewer'. With that assumption, all of the points made above sound correct.

[2017-10-31 19:25] allisonmuise commented on #189
@CTLocalGovTeam Could we make this configurable, and off by default?

[2017-10-31 19:26] allisonmuise commented on #236
@CTLocalGovTeam Could we make this configurable, and off by default?

[2017-11-08 18:19] allisonmuise commented on #235
@CTLocalGovTeam This should be configurable as well. Please see Reporter config panel and implement the same for this app

[2017-11-08 18:30] allisonmuise commented on #189
@CTLocalGovTeam  Could we add a bit of white space between the nav buttons and the basemap and legend buttons. I'd like the space between the basemap and legend buttons, as well.

[2017-11-08 18:30] allisonmuise commented on #189
@CTLocalGovTeam  Could we add a bit of white space between the nav buttons and the basemap and legend buttons. I'd like the space between the basemap and legend buttons, as well.

[2017-11-08 18:30] allisonmuise commented on #189
@CTLocalGovTeam  Could we add a bit of white space between the nav buttons and the basemap and legend buttons. I'd like the space between the basemap and legend buttons, as well.

[2017-11-08 18:30] allisonmuise commented on #236
@CTLocalGovTeam  Could we add a bit of white space between the nav buttons and the basemap and legend buttons. I'd like the space between the basemap and legend buttons, as well.

[2017-11-08 20:51] allisonmuise commented on #239
verified

[2017-11-08 20:51] #239 closed

[2017-11-09 10:21] CTLocalGovTeam commented on #189
@allisonmuise,

Following is the screenshot after adding space between navigation, basemap and legend buttons.

![image](https://user-images.githubusercontent.com/2959186/32600479-bc98bab8-c565-11e7-891a-df7da233501b.png)

Please confirm should we implement this?

--Pratik Gohil

[2017-11-09 16:46] allisonmuise commented on #189
@CTLocalGovTeam Yes! That is exactly what I had in mind. Thanks!

[2017-11-09 20:36] chris-fox commented on #197
@allisonmuise, received feedback on this in regards to our Homeless Activity Manager solution where the user wanted to be able to add or remove pictures from the original report.

[2017-11-14 18:37] allisonmuise commented on #92
verified

[2017-11-14 22:07] #92 closed

[2017-11-17 23:02] allisonmuise opened #246 "add support for multiple related tables"
https://community.esri.com/thread/205246-crowdsource-manager-not-showing-multiple-related-tables

[2017-11-22 20:47] allisonmuise commented on #242
not necessary as it's under the Comments header already

[2017-11-22 20:47] #242 closed

[2017-11-22 20:50] allisonmuise commented on #235
verified

[2017-11-22 20:50] #235 closed

[2017-11-22 21:02] allisonmuise commented on #189
verified

[2017-11-22 21:02] #189 closed

[2017-11-22 21:03] allisonmuise commented on #236
verified

[2017-11-22 21:03] #236 closed

[2017-11-29 23:07] allisonmuise opened #247 "BUG-000109471 Attachments added in Crowdsource App disappear after saving the edits."
<div><div><ol><li>Add data to ArcGIS Pro.</li><li>Publish the data to ArcGIS Online.</li><li>Login to ArcGIS Online in web browser. </li><li>Open the feature service and save it as a web map. </li><li>Click on Group tab. </li><li>Create a group. </li><li>Now share the service definition, hosted feature service and web map in the group.</li><li>Create a web app from the group (Overview &gt; Share &

[2017-11-29 23:07] allisonmuise commented on #247
#1914

[2017-12-01 19:57] cosbyr opened #248 "Allow user to click sign in name in top right corner to open "Sign Out" option"
Right now the user is forced to click the triangle next to the name.

[2017-12-05 00:10] 3vivekb commented on #187
This is still a problem and has pretty inefficient table sizes:

![image](https://user-images.githubusercontent.com/4524205/33583095-735a225e-d90d-11e7-84c7-a6fbb40f360b.png)

The Styling should auto fit to the largest element in the table.

[2017-12-05 17:02] allisonmuise commented on #187
@3vivekb I agree that the table is not a very efficient view of the data, but if you click a row in the table you get a much more efficient and read-able view in the Details panel.

We did play around with adjusting the fields in far more conversations than are documented above and, in the end, making the table more responsive to the size of the data would have been a large development effort with

[2017-12-13 16:47] walzjc commented on #92
What is the correct syntax for the URL parameter to select and zoom to a feature?

[2017-12-13 18:49] allisonmuise commented on #92
@walzjc We have added this info to the documentation for sending emails: http://solutions.arcgis.com/local-government/help/crowdsource-manager/get-started/email-notification/

In general it is appURL&webmap=mapGUID&layer=layerID&oid=OIDvalue, but I suggest checking out the section at the end of that help topic for more info on what, exactly, the app is expecting for those values.

[2017-12-26 20:30] walzjc commented on #92
When using the URL parameters, if you go in to edit the record and click to change one of the drop down attributes it does not change. You have to click in the drop down list a second time in order for the change to hold. It works fine if you don't use the URL parameters. Is this a bug?

[2017-12-27 20:44] allisonmuise commented on #92
@walzjc I am unable to reproduce this behavior in any browsers. I suggest contacting Esri Support Services so they can identify the source of the issue and log any necessary bugs/enh.

[2018-01-08 20:34] allisonmuise commented on #247
@CTLocalGovTeam I have re-shared the app, map, and layer listed above so you should now be able to reproduce the issue using the provided steps. I still see the issue, although I am not able to reproduce it on all applications.

[2018-01-09 12:51] CTLocalGovTeam commented on #247
@allisonmuise,

After analysing, we noticed that this issue is related to table itself as described below.

We opened the webmap in map viewer and added the attachments to the table. It gets uploaded successfully, however doesn't displays in view tab. In this state, once we refresh the webmap, attachment gets removed.

![csm_edit_attachment_1](https://user-images.githubusercontent.com/2959186/3472

[2018-01-09 18:45] allisonmuise commented on #247
@CTLocalGovTeam - That is interesting. I was seeing the files get added in the table, but not checking the View tab. I'll pass this along to the analyst.

[2018-01-09 18:45] #247 closed

[2018-01-10 15:46] allisonmuise opened #250 "API changes for graphics layers"

[2018-01-11 21:36] allisonmuise opened #251 "BUG-000110591 The search function in Crowdsource Manager returns all results if the web map has a search function defined and contains a hosted feature layer that has set of filters applied using the expression 'Any'."
<div><div><ol><li>Add a hosted feature layer to a new Map Viewer. </li><li>Under the content, hover over the layer and click on the Filter icon.</li><li>In the Filter window, click on &#39;+Add another expression&#39;, and select the expression &#39;Any&#39; in the line that states &quot;Display features in the layer that match ....&quot;. </li><li>Select filters of your choosing for both expressi

[2018-01-11 21:37] allisonmuise commented on #251
http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=985b35ef76e842b69f25da1ca37b640a

The only difference between the two maps in this app is the qualifier for the filter. One uses 'And' and the other 'Any'. Search for 'Allison' in both maps to see the difference in behavior.

[2018-01-12 14:13] chris-fox opened #252 "Filter is not properly escaping single quotes in the where clause"
If you enable a filter on a text field and ask for values, if you pass in a string that contains a single quote it will return no results even when there are matching results. For example if you search for the string "Trader Joe's", it will return no results even when there is a value of "Trader Joe's" in the field.

This where clause is being passed to the service:
where = appname = 'Trader Joe's

[2018-01-25 20:56] allisonmuise opened #253 "Default values not being written for related records"
Default values are not being written to the related table when new Comments are created. These same default values are written when comments are created through Reporter.

http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=3edb41365a1c43d2b8f637797e46dd0f

http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=89a11a4311ca4684a2b15711cad41a7

[2018-01-25 20:58] allisonmuise commented on #252
@CTLocalGovTeam : Is this something that could be addressed for 6.1?

[2018-01-29 07:36] CTLocalGovTeam commented on #252
@allisonmuise,

We are analysing this issue and will update you on this.

--Pratik Gohil

[2018-01-29 12:48] CTLocalGovTeam commented on #252
@allisonmuise,

Yes, we can include this in 6.1

--Pratik Gohil

[2018-01-29 18:20] allisonmuise commented on #252
Thanks!

[2018-02-14 15:20] CTLocalGovTeam commented on #252
@allisonmuise,

We have fixed this issue and will be available in upcoming code drop.

--Pratik Gohil

[2018-02-14 15:21] CTLocalGovTeam commented on #251
@allisonmuise,

We have fixed this issue and will be available in upcoming code drop.

--Pratik Gohil

[2018-02-19 05:58] CTLocalGovTeam commented on #253
@allisonmuise,

We have fixed this issue and will be available in upcoming code drop.

--Pratik Gohil

[2018-03-09 19:24] allisonmuise commented on #253
@CTLocalGovTeam I can still repro this behavior. The Public View field in the comment table has a default value of 'Yes'. This field isn't editable, but it is visible. Note that this value isn't populated when a comment is submitted.

http://localgovtestdev.mapsdevext.arcgis.com/apps/CrowdsourceManager/index.html?appid=c8960073c12b413b818a7b27d82d71e0

[2018-03-13 07:02] CTLocalGovTeam commented on #248
@allisonmuise,

We have implemented this enhancement and will be available in the next code drop.

--Pratik Gohil

[2018-03-13 22:31] allisonmuise commented on #252
@CTLocalGovTeam I am still seeing this issue : http://localgovtestdev.mapsdevext.arcgis.com/apps/CrowdsourceManager/index.html?appid=c8960073c12b413b818a7b27d82d71e0

[2018-03-13 22:32] allisonmuise commented on #253
verified

[2018-03-13 22:32] #253 closed

[2018-03-13 22:43] allisonmuise commented on #251
verified

[2018-03-13 22:43] #251 closed

[2018-03-14 15:50] allisonmuise commented on #248
@CTLocalGovTeam Where you've already made the change...want to send this to me now and I'll include it in the 6.1 release? There are currently no other issues for 6.2 for this app.

[2018-03-15 07:16] CTLocalGovTeam commented on #252
@allisonmuise,

We have fixed this issue and will be delivered in the upcoming code drop on Friday, March 16.

--Pratik Gohil

[2018-03-15 07:17] CTLocalGovTeam commented on #248
@allisonmuise,

Sure, we will include this ticket also in the upcoming code drop on Friday, March 16.

--Pratik Gohil

[2018-04-09 20:56] allisonmuise commented on #248
verified

[2018-04-09 20:56] #248 closed

[2018-04-09 20:56] allisonmuise commented on #252
verified

[2018-04-09 20:56] #252 closed

[2018-06-27 19:52] skrishn opened #259 "Popup doesnt show for non editable reference layers"
1. Create a map with editable layer
2. Add another non editable layer
3. Configure manager app to 'Show Reference Layers' and to 'Show Popup for non-editable layers'.
4. Notice that popup doesn't show up when non editable layer feature is clicked

[2018-07-18 22:03] allisonmuise commented on #139
ditto Doral, FL (UC 2018)

[2018-07-18 22:17] allisonmuise opened #260 "Add photo gallery"
customers looking to move from the cs storymap are looking for a way to review all photo attachments, and on selection, open the details for that feature.

The storymaps team has indicated that there is a new API function for pulling all image attachments with one call. This could be used to populate a window that could be opened from a button in the header?

[2018-07-24 14:06] AndyPeepsJR commented on #197
Is there going to be any activity on this. I'm currently looking to use this to allow back office staff to moderate community contributions to historical environment records and have the need to edit attachments in some cases, and in others to tweak the location?

[2018-07-24 16:51] allisonmuise commented on #197
@AndyPeepsJR - Yes, we are looking at allowing editing of attachments. It's not in our plans to allow geometry edits, though.

[2018-09-12 21:06] allisonmuise opened #261 "Investigate 'editors can only edit their features' setting"
currently, this setting doesn't appear to restrict editing features though manager. shouldn't this be enforced by the API?

[2018-10-10 17:20] allisonmuise opened #262 "Execute filter on 'Enter'"
Currently filters are only applied after clicking off the filter panel. It would be more intuitive if this panel closed and the filter was executed on Enter after typing the filter value.

[2018-10-10 17:21] allisonmuise opened #263 "Filter: unique vs Value setting doesn't carry over from map"
When defining the filter in the map , you can specify if you'd like the filter to be of type Value or Unique. This setting is not carried over into Manager.

[2018-11-06 22:43] daFiter commented on #19
I am getting this same issue on the current version.

[2018-11-07 00:37] allisonmuise commented on #19
@daFiter The app appears to be functioning as expected for me. Could you please describe in more detail what you are experiencing and how that differs from what you are expecting, including what browser you are using, the version, and exact steps to reproduce the issue? Screenshots would also help. Thanks.

[2018-12-05 06:10] pratikg commented on #259
@allisonmuise,

We are unable to reproduce this issue and it's working correctly at our end as described below.

**_Step1: We created a webmap which contained editable & non-editable layers._**

![image](https://user-images.githubusercontent.com/1454356/49492896-1664b080-f880-11e8-8199-8ace1aa51097.png)

**_Step2: Configured "showPopupForNonEditableLayers" & "showNonEditableLayers" as true in the

[2018-12-05 12:53] pratikg commented on #263
@allisonmuise,

We have analysed this issue and observed that the ArcGIS API does not provide any info on whether the filter is applied through Value or Unique.

Even this settings are not retained in the map viewer. We applied unique filter settings, saved it, refreshed the map viewer and still filter settings points to the "Value" as shown below.

![csm_unique_filter](https://user-images.githubu

[2018-12-06 02:22] allisonmuise commented on #259
I have seen this issue recently, but I'm unable to come up with a repro case right now so I'm not sure if there's a missing piece in the steps or if it's something that was resolved by changes elsewhere. I'll close and we can reopen if the issue reappears.

[2018-12-06 02:22] #259 closed

[2018-12-06 12:13] pratikg commented on #197
@allisonmuise,

We are planning to implement this enhancement as described below.

**_Adding attachments in the popup tab:_**

1. We would be adding an attachment button to add the attachment, same as it appears in the comments tab in this application.

![image](https://user-images.githubusercontent.com/1454356/49573886-1f7b7d80-f965-11e8-9127-d2afc3edd17c.png)

2. The attachment would only be add

[2018-12-06 13:20] pratikg commented on #139
@allisonmuise,

We are planning to implement this enhancement as described below.

1. We would provide the export to CSV icon below the application header.

![image](https://user-images.githubusercontent.com/1454356/49586515-624e4d00-f987-11e8-954b-8dd10c96017b.png)

2. Initially, this icon will be disabled since no records would be selected.

3. On feature selection, this icon will be enabled.

4

[2018-12-06 22:08] allisonmuise commented on #263
@pratikg I agree - this appears to be working as well as it is able to.

[2018-12-06 22:08] #263 closed

[2018-12-06 22:20] allisonmuise commented on #197
@pratikg

The described adding and editing workflows sound good.

Case1: Yes, please add the same functionality for the comments
Case2: Yes, the described modification is acceptable
Case4: I Agree that hiding the attachemnt section for batch editing makes the most sense

Please add  configuration option (off by default) that will allow users to control if they would like their application to suppo

[2018-12-07 12:07] pratikg commented on #261
@allisonmuise,

Ok.
In the code, we will check the following condition and decide whether 'Editors can only edit their features' option is enabled or not.

**Condition:** We will check whether "ownershipBasedAccessControlForFeatures" property is available in the layer and it's not empty. If its empty, it means, "Editors can only edit their features" is not enabled.

![image](https://user-images.gi

[2018-12-07 12:11] pratikg commented on #197
@allisonmuise,

Ok, we will be adding a configuration option "enableEditingAttachments". If it's set to true, all the above modifications will be applied. If it's set to false, an application will have no change.

[2018-12-07 16:59] allisonmuise commented on #197
@pratikg Thanks!

[2018-12-10 12:43] pratikg commented on #261
@allisonmuise,

Yes, as per GitHub ticket #207 we are checking whether Authenticated AGOL user is above level 1 and has editing capability. Only this type of user can edit the feature. For other Authenticated AGOL user who does not fulfil this condition, we throw an error message on click of edit icon "You do not have permission to perform this action."

Currently this check is not been added in t

[2018-12-17 23:20] allisonmuise commented on #261
@pratikg I will take a deeper look at this tomorrow and respond to your questions then.

[2018-12-19 21:49] allisonmuise commented on #261
@pratikg
After taking to some devs and digging into the settings that are now available for layers, here is the suggested set of tests/decisions:

Is editor tracking enabled on the layer (does it track who created features)?
- If no: The existing checks and behaviors are fine, as all additional checks require editor tracking.
- If yes: Is the current user anonymous?
    - If yes: Do anonymous edit

[2019-01-29 17:52] #250 closed

[2019-01-29 18:25] allisonmuise commented on #260
https://community.esri.com/ideas/15104-photo-app-for-survey123-collector

[2019-01-30 00:07] skrishn commented on #236
@allisonmuise added testcase

[2019-01-30 00:08] skrishn commented on #189
@allisonmuise added testcase

[2019-02-27 19:59] aparveen commented on #262
Verified in devext

[2019-02-27 19:59] #262 closed

[2019-02-27 21:42] aparveen commented on #139
This is verified in devext.

[2019-02-27 21:42] #139 closed

[2019-02-28 21:47] aparveen commented on #261
@CTLocalGovTeam While I was testing this issue, I found another issue where if the layer setting is set to "users can only see their own features", Crowdsource Manager fails to load/show any features.

**Repro Steps:**

1. Create a hosted feature layer.

2. Layer should have the following settings as the screenshot

![image](https://user-images.githubusercontent.com/10148401/53600255-f29ec700-3b5d

[2019-03-01 15:32] aparveen commented on #197
Verified in devext.

[2019-03-01 15:32] #197 closed

[2019-03-01 21:57] sumitzarkar commented on #261
@aparveen

We are analyzing this issue and looking for a possible solution. This seems to be only reproducible in the devExt. So it might be due to some changes, however we have not finalized on the conclusion.
Once we complete our analysis and found the solution we will update you.

FYI @allisonmuise

[2019-03-22 22:29] skrishn commented on #197
added testcase

[2019-03-28 16:30] skrishn commented on #139
@aparveen added testcase

[2019-03-28 23:33] skrishn commented on #235
@aparveen added testcase

[2019-03-29 17:18] skrishn commented on #251
@aparveen added testcase

[2019-04-02 14:01] chris-fox opened #269 "Unable to edit records when What kind of editing is allowed? -> Update features enabled"
This looks to be a regression at 7.1, maybe related to #261? I have a solution "Capital Project Review" that was working prior to the release but recently discovered when launching the application the pencil no longer displayed when I selected a record. I found when I change the What kind of editing is allowed? from "Update features" to "Add and update features" it resolved the issue. We shouldn't

[2019-04-26 13:17] LindsayThomas commented on #269
@aparveen can you take a look at this?

[2019-04-26 13:20] aparveen commented on #269
@LindsayThomas I was able to repro it.

[2019-04-26 13:30] LindsayThomas commented on #269
@aparveen okay thanks. I'll get a note to CT

[2019-05-15 12:54] pratikg commented on #269
@aparveen, @LindsayThomas

We are able to reproduce this issue. Its fix will be available in the upcoming code drop.

[2019-05-20 17:07] aparveen commented on #269
Verified in devext.

[2019-05-20 17:07] #269 closed

[2019-07-03 22:28] aparveen opened #271 "CS Manager is not drawing vector basemap"
Crowdsource Manager doesn’t always drawing the basemap. It seems to be specific to vector basemaps. If I access the map in map viewer, it works fine. We had similar issue for Reporter which was fixed in December 2018 (AGOL 6.4 release) https://github.com/Esri/crowdsource-reporter/issues/363, Manager issue was mentioned in that reporter issue but does not look like it was addressed in the manager.

[2019-07-05 18:48] MikeTschudi commented on #271
Example of hillshade plus topo vectors from this basemap:
![image](https://user-images.githubusercontent.com/2125181/60740479-bc61c180-9f1a-11e9-8fe1-6e24aee3b7e3.png)

[2019-07-05 21:01] aparveen commented on #271
Mike was able to reproduce the problem in CM by throttling the browser connection emulation to “Slow 3G”. He looked at the code changes to CR fix and thinks the similar fix would work for CM as well.

[2019-07-10 06:31] pratikg commented on #271
@aparveen, @MikeTschudi

We will fix this issue and will be available in the upcoming code drop.

[2019-07-31 20:34] aparveen commented on #271
Verified in devext.

[2019-07-31 20:35] #271 closed

[2019-09-09 15:38] allisonmuise opened #273 "ENH-000116995 Allow the configuration of the Attribute Table font color in the Crowdsource Manager app template in ArcGIS Online."
<div><div>Give the ability for the user to configure the font color of the Attribute Table rows in the Crowdsource Manager app template so that the font can be customized to better suite the hardware environment in which the app would be consumed.</div><div>
<span><b>Salesforce ID:</b> <a href="https://qamonitor/SFTriage?sfid=ENH-000116995">ENH-000116995</a></span><br/>
<span><b>Salesforce Submitt

[2019-09-09 15:40] allisonmuise commented on #273
2837

[2019-09-09 17:36] allisonmuise opened #274 "BUG-000122348 When attempting to select a point hosted feature layer with labels in a web map within Crowdsource Manager, multiple attempts must be made to select it."
<div><div><p><b><u>Preparatory Steps</u></b></p>

<p> </p>

<p>Step 1. Follow the instructions under the &quot;Crowdsource Manager maps&quot; section: <a href="https://solutions.arcgis.com/local-government/help/crowdsource-manager/get-started/setup-map/" target="_blank">https://solutions.arcgis.com/local-government/help/crowdsource-manager/get-started/setup-map/</a></p>

<ul><li>Note. The defect d

[2019-09-09 17:36] allisonmuise commented on #274
3151

[2019-09-09 18:35] allisonmuise commented on #274
@aparveen Can you reproduce this behavior?

[2019-09-09 19:58] aparveen commented on #274
@allisonmuise I can repro it, it only happens with centrally aligned label, seems like on mouse click is obstructed by the label and can't reach to the point itself.
![image](https://user-images.githubusercontent.com/10148401/64562255-73a2fc00-d301-11e9-8b96-1d1481186fcc.png)

[2019-09-09 21:14] allisonmuise commented on #274
reproducibility seems to vary a bit with symbology size and offset. here is a repro app: https://stategovernment.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=1f344dc5c7714c6986674f6cf456b0fc

[2019-09-17 17:15] skrishn opened #276 "Console error on clicking edit button in Popup"
Noticed in production and qa apps. Firefox throws a warning and the rest of the browsers throw an error.

Edits are being honored so it doesn't seem like a showstopper.

https://www.arcgis.com/apps/CrowdsourceManager/index.html?appid=85f76202cd134713be282179628471b7

![image](https://user-images.githubusercontent.com/3836616/65063823-e2044180-d933-11e9-90b5-36d6ce457130.png)

[2019-09-17 18:42] aparveen commented on #276
CT team looked into this issue and found out that some calcite fonts are not being loaded and they don't have any control over loading these fonts. I reached out to AGOL dev team, they are looking into this issue.

[2019-09-24 22:18] aparveen commented on #276
ArcGIS Online team looked into this and they responded that "it looks like those calcite requests are to something different than the calcite web that we use in the majority of our other configurable apps, so we are not familiar.  That calcite-bootstrap has a repo and there is the following issue within it that could be related:

https://github.com/Esri/calcite-bootstrap/issues/169

You probably w

[2019-09-26 16:19] allisonmuise opened #277 "Apps with Public editable layers should be editable by everyone"
A user who accesses a public layer through an app using an account should never have fewer permissions than a user who accesses the app anonymously.

Basic Viewer handles the permissions correctly.
To test:

Create a map with an editable layer.
Share the map and layer with the organization.
Use the map to configure a Basic Viewer app with the Editor tool enabled. Share the app with the organizatio

[2019-10-02 15:06] allisonmuise opened #279 "Manager app won't load"
App hangs after clicking map
https://www.arcgis.com/apps/CrowdsourceManager/index.html?appid=1179379804ef41bf994d7c5ddb8e3928

[2019-10-02 17:55] allisonmuise commented on #279
verified on devext

[2019-10-02 19:57] #279 closed

[2019-10-16 15:30] allisonmuise commented on #274
closing this as a known issue. Modifying this behavior would involve re-doing the very complex selection logic and there is a very simple workaround - adjust the offset of the labels.

[2019-10-16 15:30] #274 closed

[2019-11-21 21:16] allisonmuise commented on #276
verified

[2019-11-21 21:16] #276 closed

[2019-11-27 20:53] allisonmuise commented on #277
verified

[2019-11-27 20:53] #277 closed

[2020-05-12 21:16] chris-fox opened #284 "Add ability to shift+click to select multiple rows"
This issue is extending the behavior in #97, but would like to add Shift+Click to select all the rows in between. Currently using Ctrl+Click you can add multiple rows to the current selection.

What we are proposing is with Shift+Click it would behave much like excel. If I select row 3 and then Shift+Click row 10 it would select rows 3-10.

@jlindemann, @ScottOppmann

[2020-05-12 21:21] aparveen commented on #284
@CTLocalGovTeam Could you please evaluate this enhancement request? Also, please let us know if you have the capacity to implement this in 8.2 release.

[2020-05-12 21:23] chris-fox opened #285 "Add a Select All and Clear Selection button"
To automate editing workflows It would be helpful to have select all and clear selection buttons in the Manager App. To me the buttons would logically make sense next to the selection count to the left of the Export to CSV button.

The Select All button should select all the rows, honoring any filters that are applied.
The Clear Selection button would clear any selected rows.

![image](https://use

[2020-05-12 21:28] aparveen commented on #285
@CTLocalGovTeam Could you please evaluate this as well and let us know if you will have the capacity to implement this in 8.2 release

[2020-05-13 16:24] roemhildtg opened #286 "Improve security"
This idea is to improve overall security using additional layer views. Issues that could potentially arise with current security:

 - Public can approve their own data (layer views are not set to hide this)
 - Public can modify any of the records and associated data
 - Public can access individual user data, email, phone, name, etc.

Solutions:

## Restrict access to private user data

User data,

[2020-05-19 16:29] ashishchoure commented on #285
@aparveen @chris-fox @skrishn

As per our discussion here are the different options for allowing user to select/de-select all the rows.

**Option 1 :**
- Add "Select All"checkbox to the left of "Export CSV" button.
- The checkbox when checked will select all the rows and will clear the selection when unchecked.
![option-3](https://user-images.githubusercontent.com/5525972/82351932-e16bff80-9a1a-11

[2020-05-19 16:55] chris-fox commented on #285
@ashishchoure, I like option 2, but not sure how we make that work well with one button. A toggle seems challenging if you also support interactive selection and I would think the clear button would be enabled if there was any selection, whether it was done with the select all button or if it was done by clicking in the table.

So to me it seems like it still needs to be 2 buttons. Select All is a

[2020-05-19 17:11] skrishn commented on #285
@chris-fox If we click on the refresh button (to the left of sign in button) , it clears all the selection and edits. In that case do you think we still need another clear selection button? Moreover, I feel having "show selected" under gear icon and select all toggle in different location could confuse the user.  Show Selected option would go unnoticed as the gear icon is less intutive. My recomme

[2020-05-19 17:17] chris-fox commented on #285
@skrishn, the refresh icon to clear selection isn't intuitive to me. I agree the show selected under the gear would go unnoticed, i don't like hiding the options under the menu because it adds another click to get to them and makes them harder to discover. I would agree that it makes sense all the selection options belong together, so why not add them all as button next to export. Seems like we ha

[2020-05-19 17:23] skrishn commented on #285
@chris-fox I agree with you. I like the button option. Just to clarify, Show Selected, Show All and Clear Selection as seperate buttons next to export? In that case are we getting rid of Gear Icon and refresh button? Will the clear button clear only the selection or even the edits made to the records?

[2020-05-19 17:35] chris-fox commented on #285
Yes, in regards to 3 buttons next to export. Think we can get rid of the gear, but don't know if any other options show under the gear sometimes.

We shouldn't get rid of the refresh, it actually re-queries the layer and loads all records, so it does serve a unique purpose.

I would say if you have pending edits that you haven't saved that clear would discard the edits.

[2020-05-25 10:53] ashishchoure commented on #285
@aparveen @chris-fox @skrishn

Based on the discussion we have come up with the following approach.
1.	Two buttons "Select All" and "Clear All"
2.	"Clear All" button will be disabled until a feature(s) is selected
3.	Clicking on the active "Clear All" button will clear selected features and the button will be disabled

![CSM](https://user-images.githubusercontent.com/5525972/82806669-e231e500-9ea3

[2020-05-26 16:31] aparveen commented on #285
@chris-fox @skrishn

**We need to add two more buttons, Show All and Show Selected if we want to get rid of the gear icon to keep the current functionality. In this case, we can add just one button that can toggle between Show All and Show Selected, Chris, I know you didn't want to use toggle between select all and clear selection before, do you still see the same challenge for Show All/ Show Sele

[2020-05-26 16:57] chris-fox commented on #285
@aparveen, No, i think it is fine to have a toggle button between show all and show selected, that seems intuitive to me. I agree with all of your other comments as well.

[2020-05-26 17:06] aparveen commented on #285
@ashishchoure
1) Please add only one button to toggle between Show Selected and Show All.
2) Please ensure that the new changes follow the 508 compliance.
3) We would like to use standardized icons for these buttons. please reach out if you need any help with the icons.
Thanks so much.

[2020-05-27 11:47] ashutoshverma-ct commented on #285
@aparveen

As per the above discussion, here are the final points related to new changes and functionalities:

1. Settings icon removed and introduced 3 buttons i.e. "Select All", "Clear All" and "Show All"
2. When no feature is selected: Clear All and Show all button will be disabled
3. Show all button is a toggle button (screenshot attached)

Please let us know your views about the mockup and th

[2020-05-27 20:55] aparveen commented on #285
@ashutoshverma-ct Could you please use these icons instead? Also you will be adding tool tips to these buttons right?
[CS Manager Icons.zip](https://github.com/Esri/crowdsource-manager/files/4691722/CS.Manager.Icons.zip)
![image](https://user-images.githubusercontent.com/10148401/83071219-9dcc5380-a021-11ea-8eb6-2f0db34624a8.png)

[2020-05-28 06:08] ashutoshverma-ct commented on #285
@aparveen

Yes will use these icons and update with the mockups

Yes, tooltips will be added

[2020-06-01 18:20] aparveen commented on #285
@ashutoshverma-ct @ashishchoure here is the icon for Show All button. so we would like to use two icons to show the state of the button
[show-all-32.zip](https://github.com/Esri/crowdsource-manager/files/4712812/show-all-32.zip)
![image](https://user-images.githubusercontent.com/10148401/83440463-dab99100-a3f9-11ea-89b3-36496b0a60f7.png)

[2020-06-01 23:27] skrishn opened #288 "Blank image appears after the last image in media tab"
In the media tab, after the last image right arrow appears and upon clicking it a blank image panel appears along with a console error.  The features are added from Survey123 app.  The map popup is configured with arcade expressions and a table is embedded in the popup ( on the application status field) . I guess the table in the popup seem to be appearing as a blank image in the media tab. The po

[2020-06-10 22:44] aparveen commented on #285
@ashishchoure seeing an issue with Show Selected button, seems like the functionality got flipped. After the app loaded first time, Show All/ Show Selected button is disabled, because no selection was made, then
1) If I select any record, this button becomes enabled but showing Show Selected icon in the toolbar (screenshot 1) but in the table view, it is showing all records both selected and non s

[2020-06-11 09:39] ashishchoure commented on #285
@aparveen

This is a toggle button,
- When you select any features then the button will be enabled. However, you are seeing all the records in the table (Selected/Non-Selected) it means you are already on "**Select All**" screen and hence the table header will show "**Show Selected**" button.
- Basically the button is giving a visual clue that clicking on the button will navigate you to "**Show Se

[2020-06-11 10:00] ashishchoure commented on #288
@skrishn

- We need to add images in the media section of popup.
- The field selected for URL of image should have a null value.
- When you select a feature in which the URL field has a null value and all the images become invalid then you will see the issue.

![image](https://user-images.githubusercontent.com/5525972/84371992-1b828880-abf8-11ea-9d52-0425176d3f90.png)

Let me know if you need more

[2020-06-11 20:51] aparveen commented on #285
@ashishchoure Our team is good with the workflow, but we are seeing an issue with Selected View.
where after clearing selection in the Show Selected View panel, the table becomes empty. In this scenario after clearing the 'Show Selected' records , we would like to show all the records like previous workflow and also change the state of toggle button to reflect this.

[2020-06-12 16:04] ashishchoure commented on #285
@aparveen

We have implemented the above workflow and we will do a code drop at the earliest.

[2020-06-12 21:22] skrishn commented on #288
verified in devext

[2020-06-17 19:21] skrishn commented on #285
verified in dev

[2020-06-22 20:52] skrishn commented on #284
Verified in dev and qa.

[2020-06-22 20:52] #284 closed

[2020-06-24 03:37] skrishn commented on #288
verified in qa

[2020-06-24 03:37] #288 closed

[2020-06-24 03:37] skrishn commented on #285
verified in qa

[2020-06-24 03:38] skrishn commented on #285
Added testcase

[2020-06-25 03:27] skrishn opened #291 "App hangs on clicking Select All when there is lot of features"
If layer has a lot of features - app throws a alert message 'Features cannot be displayed" and app keeps loading.

https://crowdsource.mapsqa.arcgis.com/apps/CrowdsourceManager/index.html?appid=659f8c4a2fba4ebaac7c048c2f83a5e3

1. Launch the app
2. Click Select All button - it could be irresponsive and after a while it throws alert message and app shows the loading bar. It appears some features ar

[2020-06-25 05:06] skrishn commented on #285
@chris-fox
I have few suggestions on this enhancement. Let me know what you think about this

1.	Currently, when Select All is clicked ‘Show Selected/Show All’ is enabled and upon clicking it scrolls to the bottom of the table (noticed when feature list is big). It stays enabled even after clearing the selection. I don’t see a use case to have it enabled when ‘Select All’ is clicked. For clarity,

[2020-06-25 13:24] chris-fox commented on #285
@skrishn, I don't have a strong opinion on issue #1, I don't think it is that bad of an experience currently, so for simplicity I would keep as is.

For issue #2, I like option a.

[2020-06-25 18:58] skrishn opened #292 "Replace the search button with a textbox to access the selection tools effortlessly"
As referencened in https://github.com/Esri/crowdsource-manager/issues/285#issuecomment-649220959 please implement the option '2a' ( i.e., replace the search button with a textbox)

[2020-06-25 20:30] #285 closed

[2020-07-01 14:25] aparveen commented on #291
@CTLocalGovTeam Could you please evaluate the level of effort in this issue for patching in this release?

[2020-07-01 17:44] ashishchoure commented on #291
@aparveen @skrishn

Here is the current approach for selecting all the records :
- Once user clicks on "Select All" button, we simply loop through all the rows in the table and click them one after the other.
- Once the row is clicked, the existing logic then selects the feature on the map and the popup will be displayed.
- This workflow of selecting row, highlighting graphic on map and then openi

[2020-07-07 21:03] SethDocherty opened #293 "The search by layer feature does not clear"
We are running into an issue with the search capability that filters the rows as well as the individual column filters.

When a user searches by a layer and then clears the search filter, the table or records correctly displays all rows.  The problem arises when a user tries to filter by the column filters.  The records are not able to be filtered.  It seems as if clearing the search does not also

[2020-07-08 21:20] skrishn commented on #293
@SethDocherty : thank you for reporting this bug. I can reproduce this issue and it happens only when search by layer and filter is configured and not when either of it is configured.  Could you clarify how you're trying to clear search when search bar is closed before clearing.

[2020-07-13 20:49] topowright commented on #291
We are also seeing a similar experience with a large number of records making the app non-responsive. This happens on load and on selection.

[2020-07-13 21:06] SethDocherty commented on #293
@skrishn I've been using the **X** button in the search bar to clear.
![image](https://user-images.githubusercontent.com/18409326/87352894-d2d92a80-c529-11ea-98a7-6bc7b6f21d44.png)

Hmm, interesting. I'm able to now close the search bar and then reopen and still retains the search value. I'll see If I can reproduce my earlier statement and edit this comment if I can.

[2020-07-15 23:04] topowright opened #294 "Refresh button does not reset the app when filters are applied."
### Background

Currently, when a user has a filter set on any column and the features that are returned are then closed in the list the refresh button in the top right corner of the app does not allow the user to reset the filters.

### Current State

There is not a way to refresh the view of an app if a filter set on an attribute does not return any content.
### Steps to Reproduce/requirement

1

[2020-07-15 23:40] topowright opened #295 "Filter attributes after a feature selection has been set"
#### Background
Currently, if you have a selection made that selects multiple features in a map you cannot then filter that selection based on attributes/ columns.

#### Expected Results
We would like the ability to filter the selection based on the attributes in the already selected features. If there is only one feature selected the batch update process would be replaced by the standard popup in

[2020-07-16 00:06] SethDocherty commented on #295
Adding some visual context.  I have set of polygons, with different ID's:

![image](https://user-images.githubusercontent.com/18409326/87611292-b0841000-c6d5-11ea-8c7b-5988570ee398.png)

I would like to select a subset of my current selection using the filters in the column.  Currently it is not possible.
![image](https://user-images.githubusercontent.com/18409326/87611229-7d418100-c6d5-11ea-8886-

[2020-07-22 09:38] ashishchoure commented on #292
@skrishn @aparveen

As per our understanding, we will now replace the search button icon with the search text box.
- The search text box will be shown if the web map has search configured.
- The search text box should be disabled/enabled same as the search button in the current application. (EG : If multiple records are selected then search is disabled, If "Select All" button is clicked then searc

[2020-07-23 22:02] skrishn commented on #292
@ashishchoure: yes, thats right.

[2020-07-27 17:17] skrishn commented on #293
@SethDocherty where you able to repro

[2020-07-27 17:33] skrishn commented on #293
@CTLocalGovTeam : what would be the LOE for this issue? Thanks

[2020-07-31 14:27] ashishchoure commented on #293
@skrishn @aparveen

We have analyze this ticket and it will be low level of effort.

[2020-07-31 16:17] skrishn commented on #293
@ashishchoure : thanks for looking to it.

[2020-08-28 16:57] aparveen commented on #292
@ashishchoure when all features are selected the search box disappears, could you please take a look at this?
![image](https://user-images.githubusercontent.com/10148401/91593328-ce6ba400-e914-11ea-906c-e818c379ad57.png)

[2020-08-28 17:45] aparveen commented on #293
@ashishchoure , Seeing an issue, after I search on a layer, if I try to filter the search result, I am getting console error, here is the app I was using during local testing: https://stategovernment.maps.arcgis.com/home/webmap/configureApp.html?appid=0bdcd42a7ec04821acb5c645b2603887
![image](https://user-images.githubusercontent.com/10148401/91599490-4937bd80-e91b-11ea-9634-e73c44bbbc0d.png)

[2020-08-28 18:10] aparveen commented on #292
@ashishchoure Checked the the production workflow and noticed that the search button disabled, so it is expected, please disregard my last comment. Thanks.

[2020-09-09 20:03] skrishn commented on #292
verfied in devext

[2020-09-09 21:07] skrishn commented on #291
@ashishchoure : Please see the link  below - I get a alert message : Unable to select 1 invalid feature(s); could you explain why we get this message and what is causing it.

https://lgtest.mapsdevext.arcgis.com/apps/CrowdsourceManager/index.html?appid=0b1cfefc82c544808dd226ab94f885b6
![select_all](https://user-images.githubusercontent.com/3836616/92654993-88fc8e80-f2a5-11ea-9ccf-7b36af37a8ac.gif)

[2020-09-09 23:16] skrishn commented on #293
verified in dev

[2020-09-09 23:26] skrishn opened #299 "Update the tooltip string on 'Search by layer' textbox's X button"
When hovered on the X button, the tooltip reads 'Search this layer', please change it to 'Clear the search'

![tooltip](https://user-images.githubusercontent.com/3836616/92664310-78a1df00-f2b8-11ea-9342-1264000bdaa9.gif)

[2020-09-09 23:38] skrishn commented on #293
@ashishchoure : Is the filter designed to work with a range?

Please see the production app below

1. Click on Filter icon
2. Enter a value in the first textbox and hit enter. Notice it applies the filter and we dont get to change the value in the second textbox.
3. In order to change the second value we have to click on the filter icon.

![filterRange](https://user-images.githubusercontent.com/38

[2020-09-10 04:29] ashishchoure commented on #293
@skrishn @aparveen

- The filter works with the range values.
- The behavior which your seeing is as designed. Whenever you enter values in any of the range text box(s) the filter will be applied as we are applying the filter whenever text box value changes.
- So, if you change the value in first text box and the second text box has a valid value the filter will be applied. Now if you want to chan

[2020-09-10 05:04] ashishchoure commented on #291
@aparveen @skrishn

- The alert message is shown when we are not able to fetch any of the feature(s) or its geometry.
- This is as per designed. When user clicks on "Select All" button and there is problem with selecting a feature(s), we will show the alert message with number of features that cannot be selected.

[2020-09-10 19:52] skrishn commented on #291
@ashishchoure : thanks for the details but I am still confused on why these features are not being able to be selected. In this example, if you look at the map closely there are more than one feature that is not selected but only 1 is in the alert. Moreover, I am able to select that unselected feature by clicking on it.

cc @aparveen

[2020-09-11 00:00] ashishchoure commented on #291
@skrishn @aparveen

Could you please share the webmap in which you are seeig this behavior.

[2020-09-11 21:33] skrishn commented on #291
@ashishchoure  webmap: https://lgtest.mapsdevext.arcgis.com/home/webmap/viewer.html?webmap=6e477e9fe11d45fdbdebc00373125c3a. Sorry, i didnt realize the app wasnt shared publicly.

[2020-09-15 20:44] skrishn opened #300 "Remove the alert message: Unable to select x invalid feature(s) on performing Select All"
@ashishchoure : Refer to the comment https://github.com/Esri/crowdsource-manager/issues/291#issuecomment-689822711

- When performing Select All, a alert message comes up if there are any invalid features ( Example: "Unable to select 1 invalid feature(s)." ).  We dont want to show the alert message anymore and select all the features instead.

- When interactively selecting a record on the table w

[2020-09-15 20:47] skrishn opened #301 "Filter with range should be able applied only after both min and max value is entered"
Please see the production app below

1. Click on Filter icon
2. Enter a value in the first textbox and hit enter. Notice it applies the filter and we dont get to change the value in the second textbox.
3. In order to change the second value we have to click on the filter icon.

**Enhancement**

When a Range filter is set, user should be able to enter both min and max values and then filter should

[2020-09-15 21:44] skrishn commented on #291
@ashishchoure : Follow-up question on this, when you ascend on the length there is only one feature with 0 length which gets reported in the alert but there are some features on the map which is not highlighted with cyan. What could be the reason for it.

cc @aparveen

[2020-09-16 11:59] ashishchoure commented on #291
@skrishn @aparveen

- The line layer used in the shared application (Trails- Text Filter) has some multi part features(features with multiple paths).
- We were selecting only first part of a feature and hence some of the features were not highlighted on the map.
- This was an existing issue. We have fixed this issue at our end and it is a minor fix. We will test this implementation and send the pu

[2020-09-16 22:18] skrishn commented on #293
verifed in qa

[2020-09-16 22:18] #293 closed

[2020-09-16 22:19] skrishn commented on #292
verified in qa

[2020-09-16 22:19] #292 closed

[2020-09-18 20:33] skrishn commented on #291
Verified in dev and qa

[2020-09-18 20:33] #291 closed

[2020-09-22 22:40] aparveen opened #303 "BUG-000133477 JQuery updates"
Many customers are starting to perform static and dynamic analysis of our apps and finding issues related to dated libraries.

for Solutions apps, updating jQuery to 3.5.1 in crowdsource-reporter and crowdsource-manager appears to also require updating bootstrap, bootstrap-datepicker, and moment-with-locales because of changes to functions.

crowdsource-reporter uses

bootstrap 3.3.0 (10/2014)
boo

[2020-09-23 06:04] topowright commented on #295
@aparveen would it be possible to get this issue passed to @CTLocalGovTeam? This is an issue for a solution that we have customers currently using.

[2020-09-23 06:05] topowright commented on #294
@aparveen would it be possible to get this issue passed to @CTLocalGovTeam? This is an issue for a solution that we have customers currently using.

[2020-09-23 06:06] topowright commented on #140
This is an issue that we are still seeing. We see this whenever we have more than a few hundred features in a feature service. @CTLocalGovTeam and @aparveen can we take a look at these issues for the coming release?

[2020-09-23 16:56] aparveen commented on #140
@topowright, we fixed the performance issue on Select All functionality #291 only this release, we deferred this issue for next generation 4.x app, because this will require us to rewrite a component in the Manager, which involves high level of effort and risk, also JS API 3.x will go to mature support in 2020, so taking such a large project for a platform which will be in mature support only with

[2020-09-25 14:21] aparveen opened #304 "Provide an option to automatically refresh the table."
Currently in Manager there is no way to set a refresh interval . Our user could benefit from having an option to automatically refresh the table.

[2020-09-25 14:23] aparveen commented on #304
@CTLocalGovTeam Could you please prioritize the assessment for this issue. Thanks so much

[2020-10-01 09:42] ashishchoure commented on #303
@MikeTschudi @aparveen

As per the above comment we updated the following libraries :
1. jQuery 3.5.1
2. bootstrap 4.5.2
3. bootstrap-datepicker 4.17.47
4. moment-with-locales 2.28.0

- In addition to the above libraries, crowd source manager also uses [calcite-bootstrap](https://github.com/Esri/calcite-bootstrap) css.
   - This is a esri library which is build on top of bootstrap and it still poi

[2020-10-01 12:53] ashishchoure commented on #301
@skrishn @aparveen

As per our discussion on yesterday's call,
- We decided that, the range filter will only be applied when user leaves/focus out from second number box.

This will lead to following cases :
1. User enters value in First number box and then enters value in Second number box. The filter will be applied once user leaves second number box and the filter window will close.

2. User di

[2020-10-01 15:42] MikeTschudi commented on #303
If we go ahead with these changes, let's please use the latest versions of all libraries. The versions listed above were simply the latest versions at the time that I looked into updating jQuery.

Regarding `moment-with-locales` in particular, if it can be removed as a part of this work, that would address its upcoming [deprecation](https://momentjs.com/docs/#/-project-status/).

[2020-10-02 11:41] ashishchoure commented on #304
@aparveen @skrishn

In our discussion, we discussed some requirements which are as follows:
1.	Selection should be maintained
2.	User applied filters should be maintained

Here is our solution:
- We will add a checkbox in configuration which will allow user to honor the refresh interval of layers through a web map. (**“Enable auto refresh”**)

   - We will add one more check box along with the tex

[2020-10-02 14:02] aparveen commented on #304
@ashishchoure is it possible to honor web map refresh interval instead of adding the config parameter. here is the user case, user already have set interval in his/her webmap and in the Manager, they want to see the new records added to the layer popped up automatically without doing anything.

[2020-10-05 05:26] ashishchoure commented on #304
@aparveen

- We can honor the web map refresh interval without adding any configuration parameter.
- However, we think we should have a single check box which will say "**Honor web map refresh interval**". This will be un-check by default.
   - We are proposing this to handle the backward compatibility. So, only users who change the flag value to true will  see auto updates in the application.

[2020-10-05 07:09] ashishchoure commented on #294
@aparveen @skrishn

As discussed on the call, we would need more information on this ticket on how to proceed. We can discuss this more if required.

[2020-10-05 17:08] aparveen commented on #304
@ashishchoure I agree with you about the config parameter, talked to @skrishn morning, she agreed as well.

[2020-10-06 10:54] ashishchoure commented on #301
@skrishn

As per our discussion on the last call,
- We were on the same page for the above [comment](https://github.com/Esri/crowdsource-manager/issues/301#issuecomment-702113677) and hence we will go ahead and implement the discussed approach.

- However, as per your suggestion here is our approach to show the warning message for empty values in case of range filter :
   - Here is the screenshot

[2020-10-06 12:28] ashishchoure commented on #294
@skrishn

As discussed on the call, here is the proposed solution,
- We will add a new configuration parameter which says “**Clear all the filters on manual refresh**” or “**Enable hard reset**”. (OR you can suggest a string)
   - This will be un-check by default to make sure the existing users don’t see these changes automatically (Backward compatibility)
   - If checked, the layer will load with

[2020-10-06 12:46] ashishchoure commented on #295
@aparveen @skrishn

The current behaviour of selecting records and filters is as per the design and implementing the suggested changes would  have following challenges:

- The user cannot apply filter after selection as we disable the filter once user enter in edit mode. This is to restrict user from changing the records in the data table and selection once in edit mode.
- In the current implement

[2020-10-06 19:29] skrishn commented on #294
@chris-fox : Do you like this approach?

[2020-10-07 15:30] chris-fox commented on #294
This looks good and I would say we name the option **Clear filters and selection with refresh**. I don't think the auto refresh should honor this setting. I don't think it makes sense for the manual refresh but not auto refresh.

[2020-10-07 15:39] chris-fox commented on #301
This seems very confusing, can we just apply the changes when the pop-up window loses focus? This allows me to click in either box multiple times and I click off when I want it to apply?

[2020-10-07 16:13] skrishn commented on #294
@chris-fox : thanks.

@ashishchoure : Please proceed with the changes.

cc @aparveen

[2020-10-07 21:53] skrishn commented on #301
@ashishchoure : This is the approach we would like to go with ..

Currently, non-range filter is applied when we hit Enter or click outside popup. With the proposed approach on range filter, user enters/edits value in first textbox > tab/enter > focus is on second textbox for user to enter a value/edit current value or do nothing and it gets applied when hit Enter/focus outside. This approach is s

[2020-10-08 16:39] ashishchoure commented on #301
@skrishn

- As per your suggestion, we have made changes to the filter functionality.
- Please have look at the filter functionality in this[ application link](http://csslesxi9-vm3.cybertech.com/CSManager/demo/?appid=106b1b968ffb4596b5ad74d6f86bf72d) and let us know if we are on the same page.

The range filter is applied on "**num**" field as shown in the screenshot :
![image](https://user-images

[2020-10-08 23:13] skrishn commented on #301
@ashishchoure : Thank you - i tested the functionality. It looks good but i noticed the following

1. **When min/max is invalid (i.e: min = 18; max = 12)**

  - Hit Enter (on Second textbox)
throws alert message and table goes to state it was before filter
  - Click outside
throws alert message and table goes to state it was before filter, but filter window is still visible. Please change the beha

[2020-10-12 03:38] ashishchoure commented on #299
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | Yes |   | ​
Required   Backward compatibility​? | No |   |  
Required 508​? | No |   |  
Need   Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | No
Have Runtime   changes?​ | Yes
Impact on   RTL | No
Setting tooltip stri

[2020-10-12 03:40] ashishchoure commented on #300
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | Yes |   | ​Remove string
Required   Backward compatibility​? | No |   |  
Required 508​? | No |   |  
Need   Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on   RTL | No
Select

[2020-10-12 03:44] ashishchoure commented on #303
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | No |   | ​
Required   Backward compatibility​? | No |   |  
Required 508​? | No |   | Manager application   doesn’t support accessibility
Need   Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | No
Have Runtime   changes?

[2020-10-12 04:12] ashishchoure commented on #294
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | No |   | ​
Required   Backward compatibility​? | Yes |   |  
Required 508​? | No |   |  
Need   Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | Yes
Have Runtime   changes?​ | Yes
Impact on   RTL | No
Manual   Refresh Bu

[2020-10-12 04:21] ashishchoure commented on #304
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | No |   | ​
Required   Backward compatibility​? | Yes |   |  
Required 508​? | No |   |  
Need   Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | Yes
Have Runtime   changes?​ | Yes
Impact on   RTL | No
Refresh functionali

[2020-10-12 18:27] aparveen commented on #304
@ashishchoure cant remember if I ask this before, with auto refresh on, both the data table and the map will refresh right?

[2020-10-12 18:33] ashishchoure commented on #301
@skrishn

We are going through your feedback and we will get back to you at the earliest.

[2020-10-12 18:43] ashishchoure commented on #304
@aparveen

Yes data table and map will refresh at the same time after an auto refresh.

[2020-10-14 14:10] SethDocherty commented on #295
@ashishchoure, thanks for your follow-up comment. Your suggestion of filtering content and then selecting all records provides the same end result that we were expecting.

You can close out this issue.

[2020-10-14 19:25] #295 closed

[2020-10-26 17:45] ashishchoure commented on #301
@skrishn @aparveen @chris-fox

We went through your feedback and here are our comments.

- We can easily implement this behavior.

- The range filter is applied only when both the text boxes have a valid value and if the applied filter returns no records then only we see an alert message
- Since this is as per the design, as per our discussion we will keep this behavior as it is.

[2020-10-26 18:04] ashishchoure commented on #294
@skrishn @aparveen

- As per our discussion, if the **Clear filters and selection with refresh** flag is set to true and the user clicks the refresh button then
   - We will show a confirmation box with the message **"All filters, selections and unsaved changes will be discarded"**
   -  on click of the ok button, the application will refresh
   - on click of the cancel button, the alert message w

[2020-10-27 13:18] ashishchoure commented on #301
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | No |   | ​
Required   Backward compatibility​? | No |   |  
Required 508​? | No |   |  
Need   Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | No
Have Runtime   changes?​ | Yes
Impact on   RTL | No
Range Filter inside d

[2020-10-29 09:40] ashishchoure commented on #303
@MikeTschudi @aparveen @skrishn

Here are the details of the libraries that we have added or updated to the latest version.

Libraries | Older Version | Current Version in the application | Comments
-- | -- | -- | --
Jquery | 1.12 | 3.5.1 |
bootstrap | 3.3.6 | 4.5.3 |
bootstrap-datetimepicker | 4.17.37 | 4.17.47 |
bootstrap-datetimepicker     standalone | - | 4.17.47 | Added this css to support th

[2020-11-11 18:36] ashishchoure commented on #304
@aparveen

As per our discussion here are the changes that we will be doing :
- The auto refresh parameter default value will be changed from `false `to `true`. This way if the layer has refresh interval set, all the users will see an auto refresh in the application after specified time interval.
- The auto refresh parameter will be removed from the configuration panel and it will be available in

[2020-11-11 18:46] aparveen commented on #304
FYI @skrishn

[2020-11-11 18:53] aparveen commented on #304
@ashishchoure, Also, you are going to add the fix for console error in tomorrow's code drop, right?

[2020-11-11 18:59] ashishchoure commented on #304
@aparveen

Yes, we will be adding a fix for console error along with other changes.

[2020-11-16 15:07] aparveen opened #309 "Add message for users using deprecated browser"
We need to add a message for using deprecated browser.
Here are browser icon files we needed to show:
[Browser icons.zip](https://github.com/Esri/crowdsource-manager/files/5547139/Browser.icons.zip)

**Requirements for CT:**

1. Detect if user's browser is IE11 or Edge Legacy
2. If detected display one of the following messages:

**For ArcGIS Online:**

You are using a browser that is deprecated.

[2020-11-16 15:15] aparveen commented on #309
@CTLocalGovTeam we need to add this message in this release and need to have a code drop before November 24th for the string to be translated, could you please assess the level of effort? Thanks so much.

[2020-11-17 21:51] aparveen commented on #309
@CTLocalGovTeam, here is what it looks like in WAB. Also could you please try this new safari icon?
[safari_new.zip](https://github.com/Esri/crowdsource-manager/files/5556398/safari_new.zip)

![image](https://user-images.githubusercontent.com/10148401/99454808-c8fe7400-28db-11eb-86c5-237e57922cbc.png)

[2020-11-19 08:25] ashishchoure commented on #309
### Dev Checklist :
Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | Yes | Done  | ​
Required Backward compatibility​? | No | NA |  
Required 508​? | No | NA  |  
Need Sanitize?​ | No | NA  |

### Impact Analysis Report :

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | Yes
Message for deprecated

[2020-11-30 18:20] skrishn commented on #301
verified in qa

[2020-11-30 18:20] #301 closed

[2020-11-30 18:21] skrishn commented on #300
verified in qa

[2020-11-30 18:21] #300 closed

[2020-11-30 18:23] skrishn commented on #299
verified in qa

[2020-11-30 18:23] #299 closed

[2020-11-30 18:23] skrishn commented on #294
verfied in qa. Testcase added

[2020-11-30 18:23] #294 closed

[2020-11-30 19:21] #209 closed

[2020-12-02 17:02] skrishn commented on #309
verified in qa

[2020-12-02 17:02] #309 closed

[2020-12-02 17:02] skrishn commented on #304
verified in qa

[2020-12-02 17:02] #304 closed

[2020-12-02 18:55] skrishn commented on #303
verified in qa

[2020-12-02 18:55] #303 closed

[2020-12-07 15:41] aparveen opened #313 "Add 'Short Org Url' messaging"
We need to add short url messaging for all the template apps, if an application is publicly shared, it can be accessed from a completely different org by changing only the org url which exposes a security vulnerability for the apps. To address this concern  all agol apps are adding short url message which will let the user know when an app does not originate from same url as the address.
![image](

[2020-12-07 22:57] aparveen opened #314 "Manager auto refresh functionality to behave like web map"
We provided the option to automatically refresh app during last release https://github.com/Esri/crowdsource-manager/issues/304,
but we want manager to behave like map viewer when auto refreshing. the app should not be refreshed unless there is an update (feature or attribute) in the layer.

[2021-01-18 14:22] ashishchoure commented on #314
### Dev Checklist :

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No |   | ​
Required Backward compatibility​? | Yes |   |  
Required 508​? | No |   |  
Need Sanitize?​ | No |   | ​

### Impact Analysis Report :

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Refresh functionality | The co

[2021-01-28 23:40] aparveen commented on #314
@ashishchoure One thing I notice that, if multiple records are selected, it automatically goes to editing mode, right? in that case the map and table should not refresh, but I see the map and table is refreshing, could you please take a look at it?

[2021-01-29 02:42] ashishchoure commented on #314
@aparveen

Could you please share the application and webmap?

[2021-01-29 06:00] ashishchoure commented on #314
@aparveen

As per our discussion,
- The manager application will not update the state of the table when the application is in edit mode, however, the layer on the map will be auto-updated as this happens from the backend.
- Once the application is in edit mode and the layer updates in the backend, we will update the state of the layer and application when the user comes out of the edit mode.

Plea

[2021-03-23 18:44] aparveen commented on #314
Verified in qa

[2021-03-23 18:44] #314 closed

[2021-04-21 20:37] aparveen opened #320 "Update the vulnerable Out-of-date jQuery version 1.11.4 to the latest version"
Path: URL: https://secscan.maps.arcgis.com/apps/CrowdsourceManager/index.html
Name: Out-of-date Version (jQuery UI Autocomplete)
Severity: Medium
Certainty: 90%
File with vulnerability is - jquery-ui.js
Identified Version : 1.11.4
Latest Version : 1.12.1 (in this branch)

Known CVE: CVE-2016-7103
Details:
Cross-site scripting (XSS) vulnerability in jQuery UI before 1.12.0 might allow remote attack

[2021-04-21 20:39] aparveen commented on #320
This is the new jquery-ui library they are asking to upgrade to:
[jquery-ui-1.12.1.custom.zip](https://github.com/Esri/crowdsource-manager/files/6353782/jquery-ui-1.12.1.custom.zip)
We would need to replace the jquery-ui.js and jquery-ui.css in our vendor folder with the ones in the zip file

[2021-04-30 06:59] ashishchoure commented on #320
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No | NA | ​
Required Backward compatibility​? | No | NA |  
Required 508​? | No | NA | Manager application doesn’t support accessibility
Need Sanitize?​ | No | NA | ​

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Im

[2021-06-22 15:07] aparveen commented on #320
Verified in qa

[2021-06-22 15:07] #320 closed

[2021-08-03 13:12] karmstro77 opened #324 "Sorting removed after edit"
When sorting records by a field, if you then select a record and make an edit to it, hitting the save button will remove all the sorting in the table. This prevents users from easily finding records to edit and having to hit the sort button after every edit.

[2021-08-03 15:16] aparveen commented on #324
@CTLocalGovTeam could you please assess the issue for level of effort and risk?

[2021-08-04 03:59] sumitzarkar commented on #324
@aparveen

We will analyze this and  would share the details soon with you

[2021-08-04 18:37] aparveen opened #325 "Multiple record selection after sorting is selecting extra records"
@CTLocalGovTeam  also noticed another issue with sorting, if I sort and then try to select multiple records (hold down shift), it selects a bunch of extra records. Could you please look into this as well for 9.3?

[2021-08-11 20:23] aparveen commented on #325
FYI @skrishn test case

[2021-08-11 20:24] aparveen commented on #324
@skrishn test case

[2021-08-16 05:50] sumitzarkar commented on #325
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No  | NA  | ​
Required Backward compatibility​ | No  | NA  | ​
Required 508​ | No  | NA  | ​
Need Sanitize?​ | No  | NA  | ​
___

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Selection functional

[2021-08-16 06:35] sumitzarkar commented on #324
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No  | NA  | ​
Required Backward compatibility​ | No  | NA  | ​
Required 508​ | No  | NA  | ​
Need Sanitize?​ | No  | NA  | ​
___

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Sorting should be ma

[2021-08-20 17:34] aparveen commented on #324
@sumitzarkar seeing an issue, when auto refresh is on after edit sorting order is not maintained. Here is a test app https://stategovernment.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=0bdcd42a7ec04821acb5c645b2603887. I think you have an account in this org. Please let me if can't access it.

[2021-08-23 05:28] sumitzarkar commented on #324
@aparveen

We are able to access this app. As this app is in AGOL we have old code in it and hence you are able to see this issue.

Lets discuss if we are missing anything.

[2021-08-24 04:27] sumitzarkar commented on #324
@aparveen

As discussed on the call, only When you sort by ObjectId field and if auto refresh is on after edit sorting order is not maintained. This is due to a functionalty where we need to show the latest feature on top, we sort it by ObjectId field in descending order. Hence the ascending sorting on objectid field is not maintianed after auto refresh/edit.

[2021-09-15 22:36] aparveen opened #327 "Sort order should not reset in CS Manager app when using OBJECTID field for sorting"
If we sort based on OBJECTID field, after saving edits, Manager sort the table back in descending order. Please see the screen capture of this behavior.
We should not reset the sort at any time after the edit is made. If an user intentionally set a sort order, we should not reset it on them even if they have refresh enabled and the layer is updated.. With editor tracking enabled I can always go ba

[2021-09-20 22:28] aparveen commented on #324
Verified

[2021-09-20 22:28] #324 closed

[2021-09-20 22:29] aparveen commented on #325
Verified

[2021-09-20 22:29] #325 closed

[2021-09-21 12:09] sumitzarkar commented on #327
@aparveen

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No  | NA  | ​
Required Backward compatibility​ | No  | NA  | ​
Required 508​ | No  |  NA | ​
Need Sanitize?​ | No  | NA  | ​
___

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Runtime C

[2021-12-17 23:27] aparveen commented on #327
Verified

[2021-12-17 23:27] #327 closed

[2021-12-30 21:09] aparveen opened #332 "Crowdsource Manager is not showing any records after the web map is saved in new map viewer"
**To Repro:**
1) Deploy Citizen Problem Reporter solution
2) Add a few records using Citizen Problem Reporter app
3) Open manager and notice the records are visible in table and map.
4) Open the Citizen Problem Manager map in new map viewer (not the classic viewer)
5)Save the map and refresh manager app and notice that the records are not visible anymore, no console error either.

![image](https:/

[2021-12-30 22:00] aparveen commented on #332
@sumitzarkar Sorry I couldn't assign you the issue, so I assigned Ganesh instead

[2022-01-04 07:53] sumitzarkar commented on #332
@aparveen

We are analyzing this issue and we will share our findings soon

[2022-01-04 08:43] sumitzarkar commented on #332
@aparveen

We analyzed this issue and here are our findings:

- This issue is reproducible in both Reporter and Manager app.
- Reporter and Manager app have a WebmapList widget and it filters the webmap and layers based on some conditions like if the layer has capabilities and if the layer is visible or not. Based on such conditions it filters the webmaps to be shown /considered for use in the app

[2022-01-05 17:56] aparveen commented on #332
Sent an email to AGOL team, will update the issue when I hear back
![image](https://user-images.githubusercontent.com/10148401/148265573-5588a39b-8ef6-4e20-9130-25f0d96f7b19.png)

[2022-01-05 22:52] aparveen commented on #332
I heard from the AGOL team, this is an expected behavior with the new viewer - visibility is an optional property with an implicit default of true. We should look into the way to fix it from our side

[2022-01-06 02:16] sumitzarkar commented on #332
@aparveen

Ok, We can update the code which will take care of this behavior.

We need to fix this in both Reporter and Manager. So could you please create a separate ticket for the Reporter App as well?

[2022-01-06 02:26] sumitzarkar commented on #332
@aparveen

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Backward compatibility​ | Yes  |   | ​ Need to check with older Applications if any difference is observed in showing/hiding layers that are turned off /on from the webmap
Required 508​ | No  |   | ​
Need Sanitize?​ | No  |   | ​
___

### Impact Analysis Report

[2022-02-09 23:45] aparveen opened #334 "Crowdsource Manager does not show filtering option when the filter is set on new map viewer"
Crowdsource Manager does not show filtering option when the filter is set on new map viewer. I was doing some testing on the new map viewer filtering and found out that the “Ask for value” option is not available in the New map viewer, Ask for Values in the filter UI of the Classic Map Viewer was removed from the New Map Viewer (or rather, not added to it). I believe Manager's filtering is depende

[2022-02-09 23:46] aparveen commented on #334
@sumitzarkar Could you please investigate this issue and discuss the findings with @LindsayThomas and @skrishn

[2022-02-10 05:27] sumitzarkar commented on #334
@aparveen @LindsayThomas  @skrishn

We have analyzed this issue and here are our findings:

- Filter functionality was implemented in CSM according to the details in the ticket - https://github.com/Esri/crowdsource-manager/issues/99
- App is designed to show only those filters which have 'Ask for Values'. Ref of the previous discussion - https://github.com/Esri/crowdsource-manager/issues/99#issuec

[2022-02-11 22:43] skrishn commented on #334
@sumitzarkar: Thank you for looking into this. Let me connect with the team, and get back to you soon.

[2022-02-14 20:52] LindsayThomas commented on #334
@skrishn @sumitzarkar we are waiting on an answer from the AGOL team on whether or not interactive filter capability is on the roadmap. We will sync with you once we know.

[2022-02-16 00:47] LindsayThomas opened #335 "Issue with Custom Vector basemap?"
Issues: Reporter map won't load when the application is opened. When she clicks on a category, the web map loads as expected. This is happening when using a Custom Vector basemap.

Steps to repro:
-Create a web map
- Import this custom basemap into ArcGIS Online > Content > Click "New item" > Select "URL" > Insert the URLs below:
https://tiles.arcgis.com/tiles/B6yKvIZqzuOr0jBR/arcgis/rest/services

[2022-02-16 00:48] LindsayThomas commented on #335
@sumitzarkar Are you able to take a look at this issue and see if you can repro? If you can are you able to give us a LOE on a fix?

[2022-02-16 00:52] LindsayThomas commented on #335
I am closing this and have posted it in the correct repo

[2022-02-16 00:52] #335 closed

[2022-02-17 22:15] LindsayThomas commented on #334
@sumitzarkar The development is not planning on adding the Interactive/prompt for values filter to the new map viewer.

Are we able to look at additional option to allow the application to work correctly without additional configuration on the users part?

[2022-02-18 10:31] sumitzarkar commented on #334
@LindsayThomas

We are analyzing all possibilities to allow the application to work without additional configuration. Will get back to you with all the feasible possibilities.

Are we looking to fix this for AGOL 10.1 release?

[2022-02-22 13:31] LindsayThomas commented on #334
@sumitzarkar

We would like too. But if the LOE and Risk are high then we may push till 10.2.

[2022-02-22 13:38] sumitzarkar commented on #334
@LindsayThomas

We would like too. But if the LOE and Risk are high then we may push till 10.2.

LOE and Risk are high for this change, let's push this for 10.2. it would need a good amount of testing as well

[2022-03-14 23:21] aparveen commented on #332
Verified in QA

[2022-03-14 23:21] #332 closed

[2022-03-28 20:55] aparveen commented on #334
@sumitzarkar Is there a way to make this change for 4.x viewer maps only, 3x viewer maps where ask for value is enabled won't be  impacted?

[2022-03-29 04:40] sumitzarkar commented on #334
@aparveen  We need to chek if we can get any details to distinguish and identify in which mapViewer the webmap is created. Will analyze this and will share the details.

[2022-03-30 14:01] sumitzarkar commented on #334
@aparveen

Here are our findings to distingush between Map Viewer and Classic Map Viewer;
 - We can use "authoringApp" property to distinguish between webmap created in Map Viewer Classic and new Map Viewer.
 -  When map is created or edited in **Map Viewer Classic** "authoringApp" is set to  "**WebMapViewer**"
 - And, for new Map Viewer "authoringApp" is set to "**ArcGISMapViewer**"

 Could you c

[2022-03-30 21:02] aparveen commented on #334
@sumitzarkar I reached out to AGOL team and they confirmed that this property is reliable for distinguishing between the two map viewer maps. Could you please update the issue about the backward compatibility issue we could see if we don't distinguish between these two?

[2022-03-31 07:21] sumitzarkar commented on #334
@aparveen

- With the current implementation in production we provide the option to change the filter value in CSM app only when 'Ask for value' is enabled

- As an implementation of this ticket, we decided to show filters to each field that is involved in Definition Expression (excluding date fields, and some filtering conditions that cannot be honored ).
- After the Implementation of this ticket

[2022-04-07 23:03] aparveen commented on #334
@sumitzarkar could you please update this issue with clarified discussion we had this morning. We are good with this approach as long as it does not break backward compatibility.

[2022-04-11 04:08] sumitzarkar commented on #334
@aparveen

As discussed on the call - With the implementation of this new change, filters will be available for user on the columns only in New Map Viewer. So from backward compatibility point of view for the apps with old map viewer we don't see any functional impact.

[2022-05-10 16:33] sumitzarkar commented on #334
@aparveen

- We observed that the old map viewer does not contain **'include'** and **'exclude'** filtering conditions. However, these conditions are present in a new map viewer.
  ![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/9443956/167677873-376e33b4-1bc1-461c-9fc2-c4c13622f7b9.png)

- In **'include'** and **'exclude'** filtering conditions users can select multiple valu

[2022-05-10 20:44] aparveen commented on #334
@sumitzarkar I think we are good with not having the new functionalities. So the 4.x map viewer filtering functionality will have parity with 3.x map viewer except the "Ask for value" right?

[2022-05-11 04:38] sumitzarkar commented on #334
@aparveen

### Dev Checklist

Items  | Is required | Status | Comments
-- | -- | -- | --
Required NLS changes? | Yes | - |
Required Backward compatibility | Yes | - |
Required 508 | No | - |
Need Sanitize? | No | - |

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes? | No
Have Runtime changes? | Yes
Impact on RTL | No
Runtime impacts | 1. Test by applying di

[2022-05-20 19:37] aparveen commented on #334
@sumitzarkar In Manager filter enhancement, I can see the filter and default choice is value, In 3.x maps it always shows the unique value, do we need to show these two choices?
![image](https://user-images.githubusercontent.com/10148401/169599393-813f0147-7a1b-41fb-9659-aabbf9689300.png)
in 3.x maps it looks like the below screenshot
![image](https://user-images.githubusercontent.com/10148401/169

[2022-05-23 09:29] sumitzarkar commented on #334
@aparveen

- Whenever we have domain fields we see only a dropdown to select the value. And, for other fields, we show both the options in 3.x as well as 4.x
- In the above example for 3.x status field must have a domain defined and hence we see an only dropdown
- And for 4.x example the field city seems to be non domain and hence both the options (Value and Unique) are shown.

For e.g. In the bel

[2022-05-23 21:17] aparveen opened #341 "Crowdsource manager is not working with new map viewer map after adding a layer."
The user has an old CS Manager app, recently they added a new layer using new map viewer, saved it and the app does not load any more, I see a console error.
Test app: https://ess.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=2aec901e916a4868b4ecb19b5924494c

![image](https://user-images.githubusercontent.com/10148401/169907124-78a4846a-b672-4907-8e72-e38c47b4f3f7.png)

[2022-05-23 21:18] aparveen commented on #341
@sumitzarkar could you please take a look at this issue and assess the LOE?

[2022-05-24 15:24] sumitzarkar commented on #341
@aparveen

We have analyzed this issue and here are our findings:
- In Webmap settings, if the search is enabled and some layers are added for search, then in CSM when a layer is selected  and if it is added for search in webmap then the search box will be displayed in the header as shown in the below screenshot
 ![image](https://user-images.githubusercontent.com/9443956/170065934-4c4358eb-f60b-4a

[2022-05-24 21:13] aparveen commented on #341
@sumitzarkar @sandhyakurumanale-ct I am seeing the same issue after adding a new layer (search is not enabled) which is not shared to the group. After layer the layer to the group it works as expected, I will log in an issue for CT to look at, my expectation was if I add a layer that is not part of the group Manager will only show the layer that is shared and not become unresponsive.
Test app: htt

[2022-05-27 11:37] sandhyakurumanale-ct commented on #341
@aparveen

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No |   | ​
Required Backward compatibility​? | No |   |  
Required 508​? | No |   | ​
Need Sanitize?​ | No |   | ​

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Runtime changes |1.In We

[2022-06-01 17:37] skrishn commented on #334
verified in dev

[2022-06-06 22:22] aparveen commented on #334
@sumitzarkar seeing a minor issue with the filter icon, if when scrolling down the table the filter icon is disappearing, it appears back again when scroll back to the top again, the table header is there just the icon is disappearing, is this expected?
![CSManager_filterIconVanishes](https://user-images.githubusercontent.com/10148401/172258935-ee96e5f4-3dc8-4b7d-bb31-d06ab6b26270.gif)
?

[2022-06-07 11:21] sumitzarkar commented on #334
@aparveen

Good Catch 👍
We are able to reproduce this issue, and this is due to the floating header. We have a floating header in the table which is shown on scrolling the table content and we missed enabling the filter icons on this floating header.

We have identified the root cause and we are working on it, we will deliver the fix soon.

[2022-06-16 22:49] aparveen opened #344 "BUG-000149766 Citizen Problem Manager web app becomes unusable when attempting to add the feature layer from another deployed Citizen Problem Reporter solution"
Citizen Problem Manager web app becomes unusable when attempting to add the feature layer from another deployed Citizen Problem Reporter solution.

Steps to Repro:
1. Deploy the Citizen Problem Reporter solution in ArcGIS Online.

2. Open the Citizen Problem Manager Web App in configure mode, notice how it functions properly without data.

3. Have another user in the Organization also deploy the s

[2022-06-16 22:53] aparveen commented on #344
Test app: https://sg-em-qaext.mapsqa.arcgis.com/apps/CrowdsourceManager/index.html?appid=e7b7455d1cdf4caaad598e1e68bb76cb
![image](https://user-images.githubusercontent.com/10148401/174191313-24bcaef7-bff2-4f54-b53a-fc33ff7fc926.png)

[2022-06-16 22:55] aparveen commented on #344
@sumitzarkar, could you please take a look at this one, I am seeing this in qa, so it is still an issue , do we allow same layer twice in the map?

[2022-06-17 05:59] sumitzarkar commented on #344
@aparveen

We have analyzed this ticket and here are our findings:

- We see two layers are added in the webmap
- Both layers are created from the same item but the layers added multiple times in the same map
- We see differences in the popupInfo of both the layers. The first layer has complete popupInfo whereas the second layer has empty popupInfo object
  ![image](https://user-images.githubuserc

[2022-06-17 22:54] aparveen commented on #341
@sumitzarkar I am seeing the same error in QA, test app: https://sg-em-qaext.mapsqa.arcgis.com/home/item.html?id=c44da620405040619990f4119a4514a7
Test map: https://sg-em-qaext.mapsqa.arcgis.com/home/item.html?id=564bc312fe564b2c857110f78151e5d2
I deployed the Special Event Permit and Operations solution, open the special permit map, add a layer that is not part of the group and popup is enabled fo

[2022-06-17 22:57] aparveen commented on #341
![image](https://user-images.githubusercontent.com/10148401/174410568-5704532c-c716-43d7-8d5a-2f35d2a9a599.png)

[2022-06-18 04:37] sumitzarkar commented on #341
@aparveen

The above mentioned issue is same as https://github.com/Esri/crowdsource-manager/issues/344#issuecomment-1158520084

[2022-06-20 14:39] aparveen commented on #344
@sumitzarkar please go ahead and drop the code for this one

[2022-06-20 16:47] skrishn commented on #334
verified in qa

[2022-06-20 16:47] #334 closed

[2022-06-21 23:34] #344 closed

[2022-06-21 23:35] aparveen commented on #341
Verified in QA

[2022-06-21 23:35] #341 closed

[2022-08-09 21:37] aparveen opened #348 "Duplicate domain issue when the multiple domain applied to a field for each different subtype"
Test app: https://localdeployment.maps.arcgis.com/apps/CrowdsourceManager/index.html?appid=438aa4b393bd4650b5c741149ae2961e

When you click the filter for the domfield, you will see the same value reported multiple times separated by a comma. It seems this is happening because it has 3 different domains applied to this field for each different subtype. In the user’s case it is much more significan

[2022-08-09 21:38] aparveen commented on #348
@sumitzarkar could you please assess this issue? Thanks so much.

[2022-08-10 05:41] sumitzarkar commented on #348
@aparveen

We are able to reproduce this issue and we have found the root cause, we will fix this and deliver it in the next code drop.

## Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Backward compatibility​ | No  |   | ​
Required 508​ | No  |   | ​
Need Sanitize?​ | No  |   | ​
___

## Impact Analysis Report

Impacted

[2022-08-22 15:27] aparveen opened #350 "Reference Layer is not showing in the app"
User is having some trouble with getting reference layers to show up. she configured it to show reference layers in the options tab within the app, it shows in the legend but will not draw. A link to the application is below in case that helps.
App: https://gnrc.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=ca5d29c5a000423393a9c895aad18d89
Maps:

https://gnrc.maps.arcgis.com/apps/mapvi

[2022-08-22 15:28] aparveen commented on #350
@sumitzarkar

[2022-08-24 05:06] sumitzarkar commented on #350
## Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Backward compatibility​ | No  |   | ​
Required 508​ | No  |   | ​
Need Sanitize?​ | No  |   | ​
___

## Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Runtime impact | Test for Ref

[2022-10-28 19:06] skrishn commented on #350
verified in qa

[2022-11-01 15:44] #350 closed

[2022-11-01 18:12] skrishn commented on #348
verified in qa

[2022-11-01 18:12] #348 closed

[2022-11-16 20:42] hasemar opened #354 "Edit mode appears when multiple points selected"
May have found a bug. I have a project that automatically opens the edit mode on the info panel when multiple records are selected. I have tested this with points at the same location and at different locations with the same results. I do not have any other Croudsource Manager projects to  test it on however.

Example of edit window opening when multiple points selected:
![multiple_selection](http

[2022-11-16 21:23] aparveen commented on #354
@hasemar Will take look at this issue, I believe this is an expected behavior when selecting multiple records, it shows the common fields for batch editing, but I will double check again with our dev team and update you.
Thanks so much.

[2022-11-16 22:35] skrishn opened #355 "Add support for manager to consume the grouped layers in new map viewer."
When a user adds a feature service with multiple layers in it, the new map viewer adds it as a group layer and it throws an error when consumed in crowdsource manager app.

Steps:

1. In the new map viewer - Add a feature service from the content or as a URL. Ensure the layer has multiple layers in it  Ex: https://servicesdev.arcgis.com/fEmgGq7yFGAFozS4/arcgis/rest/services/Reporter/FeatureServer

[2022-11-17 06:20] sumitzarkar commented on #355
@skrishn

- This issue is related to Reporter issue [#526](https://github.com/Esri/crowdsource-reporter/issues/526)
- We have updated the code for CSM and CSR for this ticket. However, we see is some differences in the way how the visibility of the layers is maintained in the webmap when featureservice is added.
- In issue [#526](https://github.com/Esri/crowdsource-reporter/issues/526) for reporte

[2022-11-17 15:37] hasemar commented on #354
Thanks @aparveen . The current behavior is undesirable. I think it will confuse my users. It would be better if it worked like the pop-up in the map application, where you can cycle through the stacked layers that are selected.

[2022-11-17 16:52] hasemar commented on #354
Multiple selection is actually unintentional. My data collection (survey123) is setup to place a point at the centroid of a facility polygon, (using survey URL auto-population through field maps). Consequently, when multiple surveys happen at the same facility, points are stacked on top of each other. If a user selects a point at a facility, all survey points at that facility are selected in the C

[2022-11-18 00:23] aparveen commented on #355
@sumitzarkar Map viewer team is saying there is not difference in the json between grouped and ungrouped layer. Is there something else going on in our app?
![image](https://user-images.githubusercontent.com/10148401/202588158-5ba19e29-3609-4095-9f43-29e4111bb1cd.png)

[2022-11-18 15:36] hasemar commented on #354
Maybe the easiest way to correct this would be to have an option to not allow multiple select.

[2022-11-18 18:54] aparveen commented on #354
@hasemar new version of Crowdsource Manager will be released in next year, I will pass your issue to the dev team. This particular app is currently in maintenance mode, meaning we are only doing bug fixes, so we won't be able to do any major enhancements. Thanks so much to let us know your use case,

[2022-11-22 05:29] sumitzarkar commented on #355
@aparveen  @skrishn

We analyzed this in more detail and here are our findings:
- We are using ArcGIS JS API to load the details of each webmap
- For this we are using [createmap method](https://developers.arcgis.com/javascript/3/jsapi/esri.arcgis.utils-amd.html#createmap) from JS API
- In response we get the itemInfo and itemData.
- So, the root cause is here, when we get the data using this meth

[2022-11-30 19:14] aparveen commented on #355
@sumitzarkar JS API team is fixing this issue